services:

  #integration-tests:
  #  image: ghcr.io/bionic-gpt/bionicgpt-integration-tests:latest
  #  depends_on:
  #    keycloak:
  #      condition: service_healthy

  postgres:
    ports:
      - "5432:5432"
      
  # Integration testing using a headless chrome browser
  selenium:
    image: selenium/standalone-chrome:4
    shm_size: 2gb
    environment:
      VNC_NO_PASSWORD: 1
    ports:
      # VNC
      - 7725:5900
    volumes:
      # So that we can load examples with the browser testing.
      # However it doesn't seem to work with earthly, you have to docker cp the files
      - ./datasets:/workspace

  #video:
  #  image: selenium/video:ffmpeg-6.0-20231102
  #  environment:
  #    DISPLAY_CONTAINER_NAME: default-selenium-1
  #    FILE_NAME: chrome-video.mp4
  #  volumes:
  #    - ./datasets:/videos

  # MailHog is an email testing tool for developers.
  smtp:
    image: mailhog/mailhog
  
  # Mock out the slow big stuff
  unstructured:
    image: alexliesenfeld/httpmock:latest
    volumes:
      - ./mocks:/mocks
    entrypoint: httpmock
    command: --expose -m /mocks -p 8000
    ports:
      - "8000:8000"
      
  llm-api:
    image: alexliesenfeld/httpmock:latest
    volumes:
      - ./mocks:/mocks
    entrypoint: httpmock
    command: --expose -m /mocks -p 3000
    ports:
      - "3000:3000"

  embeddings-api:
    image: alexliesenfeld/httpmock:latest
    volumes:
      - ./mocks:/mocks
    entrypoint: httpmock
    command: --expose -m /mocks -p 8080
    ports:
      - "8080:8080"