{%- import 'macros/pricing.html' as macros_pricing -%}
{%- import 'macros/cta.html' as macros_cta -%}

{% extends "base.html" %}

{% block seo %}
{{ super() }}

{% set title = 'The pricing page' %}
{% set description = 'Show how much we charge' %}

{{ macros_head::seo(
title=title,
description=description
) }}
{% endblock seo %}

{% block content %}


<div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Professional Support</h2>
      <p class="mt-6 text-lg leading-8">The best Gen AI deployments, every time.</p>
    </div>
  </div>
</div>


<article class="mx-auto prose lg:prose-xl p-4">
{{ page.content | safe }}
</article>


{% include "extra_footer.html" %}

{% endblock content %}