apiVersion: v1
kind: Service
metadata:
  name: postgres-development
spec:
  type: NodePort
  ports:
    - port: 5432
      targetPort: 5432
      nodePort: 30000
  selector:
    cnpg.io/cluster: bionic-gpt-db-cluster 
    role: primary