{%- import 'macros/cta.html' as macros_cta -%}
{%- import 'macros/features.html' as macros_features -%}
{%- import 'macros/heros.html' as macros_hero -%}
{% extends "base.html" %}

{% block seo %}
{{ super() }}

{% set title = 'Become a Partner' %}
{% set description = 'Grow your business' %}

{{ macros_head::seo(
title=title,
description=description
) }}
{% endblock seo %}

{% block content %}


<div class="mx-auto max-w-7xl px-6 lg:px-8">
  {{ macros_hero::image_hero(
    title="Grow Your Business With Bionic", 
    sub_title='Bionic offers an all-in-one solution for on premise Generative AI that our Partners can use to deliver the best AI services to their customers.',
      cta1='Contact Us',
      cta1_url='/contact',
  ) }}
</div>

<article class="mx-auto prose lg:prose-xl p-4">
{{ page.content | safe }}
</article>


{% include "extra_footer.html" %}

{% endblock content %}