[package]
name = "web-server"
version = "0.1.0"
edition = "2021"

# Enable backtrace feature for panic hook
[features]
default = ["backtrace"]
backtrace = []

[[bin]]
name = "web-server"
path = "main.rs"

[dependencies]
db = { path = "../db" }
llm-proxy = { path = "../llm-proxy" }
integrations = { path = "../integrations" }
object-storage = { path = "../object-storage" }
assets = { path = "../web-assets" }
web-pages = { path = "../web-pages" }
embeddings-api = { path = "../embeddings-api" }
openai-api = { path = "../openai-api" }

axum = { version = "0.8", features = ["multipart"] }
axum-extra = { version = "0.10.0", features = ["form", "typed-routing", "cookie"] }
tokio = { version = "1", features = ["rt-multi-thread"] }
tokio-util = { version = "0.7.15" }
tower = { version = "0.5.2" }
tower-http = { version = "0.6.2", features = ["fs", "cors"] }
http = "1"
validator = { version = "0.20.0", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
rand = { version = "0.9.1" }

tracing = { version = "0.1" }
tracing-subscriber = { version="0.3.19", features = ["env-filter"] }

# So we can store embeddings
pgvector = { version = "0.4.0", features = ["postgres"] }

serde_json = { version = "1" }

# Generate secure invitations
sha2 = { version = "0.10.9" }
base64 = { version = "0.13.1" }
lettre = { version = "0.11.15", default-features = false,  features = ["rustls-tls", "smtp-transport", "builder"]  }
axum_typed_multipart = { version = "0.16.0", default-features = false }
mime = "0.3"
oas3 = "0.16.1"
reqwest = { version = "0", default-features = false, features = ["json", "rustls-tls"] }
serde_urlencoded = "0.7.1"
oauth2 = "5.0.0"
chrono = { version = "0.4", features = ["serde"] }
time = { version = "0.3", features = ["serde"] }
url = "2.4"

[dev-dependencies]
time = "0.3.36"

