[package]
name = "web-server"
version = "0.1.0"
edition = "2021"

# Enable backtrace feature for panic hook
[features]
default = ["backtrace"]
backtrace = []

[[bin]]
name = "web-server"
path = "main.rs"

[dependencies]
db = { path = "../db" }
llm-proxy = { path = "../llm-proxy" }
integrations = { path = "../integrations" }
object-storage = { path = "../object-storage" }
assets = { path = "../web-assets" }
web-pages = { path = "../web-pages" }
embeddings-api = { path = "../embeddings-api" }
openai-api = { path = "../openai-api" }

axum = { workspace = true, features = ["multipart"] }
axum-extra = { workspace = true, features = ["form", "typed-routing", "cookie"] }
tokio = { workspace = true, features = ["rt-multi-thread"] }
tokio-util.workspace = true
tower.workspace = true
tower-http = { workspace = true, features = ["fs", "cors"] }
http.workspace = true
validator = { workspace = true, features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
rand.workspace = true
http-body-util = "0.1"

tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }

# So we can store embeddings
pgvector = { workspace = true, features = ["postgres"] }

serde_json.workspace = true

# Generate secure invitations
sha2 = { version = "0.10.9" }
base64.workspace = true
lettre = { version = "0.11.15", default-features = false,  features = ["rustls-tls", "smtp-transport", "builder"]  }
axum_typed_multipart = { version = "0.16.0", default-features = false }
mime.workspace = true
oas3.workspace = true
reqwest = { workspace = true, default-features = false, features = ["json", "rustls"] }
serde_urlencoded = "0.7.1"
oauth2 = { workspace = true, features = ["reqwest"] }
chrono = { workspace = true, features = ["serde"] }
time = { workspace = true, features = ["serde"] }
url = "2.4"
uuid = { workspace = true, features = ["serde", "v4"] }

[dev-dependencies]
time.workspace = true
async-trait.workspace = true
