.snackbar-container {
  animation: 0.5s ease-out 0s 1 slideInFromBottom;
  
  background-color: darken(#223140, 15%);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 22px;
  padding: 18px 24px;
  //opacity: 0;
  //z-index: 9999;


  min-width: 288px;
  max-width: 568px;
  //display: inline-flex;
  border-radius: 2px;
  margin-bottom: 2em;

  top: auto !important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  > p {
    padding: 0;
    margin: 0;
  }

  .action {
      background: inherit;
      display: inline-block;
      border: none;
      font-size: inherit;
      text-transform: uppercase;
      color: #4caf50;
      margin: 0 0 0 24px;
      padding: 0;
      min-width: min-content;
      cursor: pointer;
  }

  &.close {
    animation: 0.5s ease-out 0s 1 slideOut;
    transform: translate(-50%, 200%);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translate(-50%, 200%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes slideOut {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 200%);
  }
}
