{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.bitbucket.org/2.0"
    }
  ],
  "info": {
    "title": "Bitbucket",
    "description": "Manage Bitbucket workspaces, repositories, branches, pull requests, commits, and issues through the Bitbucket Cloud REST API.",
    "version": "2.0",
    "termsOfService": "https://www.atlassian.com/legal/customer-agreement",
    "contact": {
      "name": "Bitbucket Support",
      "url": "https://support.atlassian.com/bitbucket-cloud/",
      "email": "support@bitbucket.org"
    },
    "x-bionic-slug": "bitbucket",
    "x-bionic-source-url": "https://api.bitbucket.org/swagger.json",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Qml0YnVja2V0PC90aXRsZT48cGF0aCBmaWxsPSIjMDA1MkNDIiBkPSJNLjc3OCAxLjIxM2EuNzY4Ljc2OCAwIDAwLS43NjguODkybDMuMjYzIDE5LjgxYy4wODQuNS41MTUuODY4IDEuMDIyLjg3M0gxOS45NWEuNzcyLjc3MiAwIDAwLjc3LS42NDZsMy4yNy0yMC4wM2EuNzY4Ljc2OCAwIDAwLS43NjgtLjg5MXpNMTQuNTIgMTUuNTNIOS41MjJMOC4xNyA4LjQ2Nmg3LjU2MXoiLz48L3N2Zz4="
    }
  },
  "paths": {
    "/addon": {
      "delete": {
        "tags": [
          "Addon"
        ],
        "description": "Deletes the application for the user.\n\nThis endpoint is intended to be used by Bitbucket Connect apps\nand only supports JWT authentication -- that is how Bitbucket\nidentifies the particular installation of the app. Developers\nwith applications registered in the \"Develop Apps\" section\nof Bitbucket Marketplace need not use this endpoint as\nupdates for those applications can be sent out via the\nUI of that section.\n\n```\n$ curl -X DELETE https://api.bitbucket.org/2.0/addon \\\n  -H \"Authorization: JWT <JWT Token>\"\n```",
        "summary": "Delete an app",
        "responses": {
          "204": {
            "description": "Request has succeeded. The application has been deleted for the user."
          },
          "401": {
            "description": "No authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Improper authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "operationId": "delete_addon"
      },
      "put": {
        "tags": [
          "Addon"
        ],
        "description": "Updates the application installation for the user.\n\nThis endpoint is intended to be used by Bitbucket Connect apps\nand only supports JWT authentication -- that is how Bitbucket\nidentifies the particular installation of the app. Developers\nwith applications registered in the \"Develop Apps\" section\nof Bitbucket need not use this endpoint as updates for those\napplications can be sent out via the UI of that section.\n\nPassing an empty body will update the installation using the\nexisting descriptor URL.\n\n```\n$ curl -X PUT https://api.bitbucket.org/2.0/addon \\\n  -H \"Authorization: JWT <JWT Token>\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{}'\n```\n\nThe new `descriptor` for the installation can be also provided\nin the body directly.\n\n```\n$ curl -X PUT https://api.bitbucket.org/2.0/addon \\\n  -H \"Authorization: JWT <JWT Token>\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"descriptor\": $NEW_DESCRIPTOR}'\n```\n\nIn both these modes the URL of the descriptor cannot be changed. To\nchange the descriptor location and upgrade an installation\nthe request must be made exclusively with a `descriptor_url`.\n\n ```\n$ curl -X PUT https://api.bitbucket.org/2.0/addon \\\n  -H \"Authorization: JWT <JWT Token>\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"descriptor_url\": $NEW_URL}'\n```\n\nThe `descriptor_url` must exactly match the marketplace registration\nthat Atlassian has for the application. Contact your Atlassian\ndeveloper advocate to update this registration. Once the registration\nhas been updated you may call this resource for each installation.\n\nNote that the scopes of the application cannot be increased\nin the new descriptor nor reduced to none.",
        "summary": "Update an installed app",
        "responses": {
          "204": {
            "description": "Request has succeeded. The installation has been updated to the new descriptor."
          },
          "400": {
            "description": "Scopes have increased or decreased to none.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "No authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Improper authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "operationId": "put_addon"
      },
      "parameters": []
    },
    "/addon/{addon_key}/client-key": {
      "get": {
        "tags": [
          "Addon"
        ],
        "description": "Get the client key of the Connect addon associated with a Forge app install via forgeAppId linkage.\n\nThis endpoint is part of the Connect -> Forge migration tooling. It is intended to be used by a Forge app\nusing `asApp().requestBitbucket()` only.\nPrerequisite: app developer needs to register the linkage between their Connect and Forge app by setting\n`forgeAppId` in the Connect addon descriptor to `app.id` from Forge app manifest, then update the installations.\nIf the request came from an installation of a registered Forge app, the client key of the linked Connect addon\ninstalled in the same workspace will be returned.\n\n```\napi.asApp().requestBitbucket(route`/2.0/addon/{addon-key}/client-key`)\n```",
        "summary": "Get the client key of a Connect addon",
        "responses": {
          "200": {
            "description": "The client key of the Connect addon linked to the Forge app installation where the request was made"
          },
          "401": {
            "description": "Invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Improper authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The Connect addon or the Forge app does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:workspace:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2"
        ],
        "operationId": "get_addon_addon_key_client_key"
      },
      "parameters": [
        {
          "name": "addon_key",
          "in": "path",
          "description": "The Connect addon key as defined in an application descriptor.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/hook_events": {
      "get": {
        "operationId": "list_hook_events",
        "summary": "Get a webhook resource",
        "description": "Returns the webhook resource or subject types on which webhooks can be registered.\nEach resource/subject type contains an `events` link that returns the paginated list of specific events each individual subject type can emit.\nThis endpoint is publicly accessible and does not require authentication or scopes.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "A mapping of resource/subject types pointing to their individual event types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subject_types"
                },
                "examples": {
                  "response": {
                    "value": {
                      "repository": {
                        "links": {
                          "events": {
                            "href": "https://api.bitbucket.org/2.0/hook_events/repository"
                          }
                        }
                      },
                      "workspace": {
                        "links": {
                          "events": {
                            "href": "https://api.bitbucket.org/2.0/hook_events/workspace"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/hook_events/{subject_type}": {
      "get": {
        "operationId": "list_hook_events_for_resource",
        "summary": "List subscribable webhook types",
        "description": "Returns a paginated list of all valid webhook events for the specified entity.\n**The team and user webhooks are deprecated, and you should use workspace instead. For more information, see [the announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-teams-deprecation/).**\nThis is public data that does not require any scopes or authentication.\nNOTE: The example response is a truncated response object for the `workspace` `subject_type`. We return the same structure for the other `subject_type` objects.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "subject_type",
            "description": "A resource or subject type.",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "repository",
                "workspace"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of webhook types available to subscribe on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_hook_events"
                },
                "examples": {
                  "response": {
                    "value": {
                      "page": 1,
                      "pagelen": 30,
                      "size": 4,
                      "values": [
                        {
                          "category": "Repository",
                          "description": "Whenever a repository push occurs",
                          "event": "repo:push",
                          "label": "Push"
                        },
                        {
                          "category": "Repository",
                          "description": "Whenever a repository fork occurs",
                          "event": "repo:fork",
                          "label": "Fork"
                        },
                        {
                          "category": "Repository",
                          "description": "Whenever a repository import occurs",
                          "event": "repo:imported",
                          "label": "Import"
                        },
                        {
                          "category": "Pull Request",
                          "label": "Approved",
                          "description": "When someone has approved a pull request",
                          "event": "pullrequest:approved"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "If an invalid `{subject_type}` value was specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/repositories/{workspace}": {
      "get": {
        "tags": [
          "Repositories"
        ],
        "description": "Returns a paginated list of all repositories owned by the specified\nworkspace.\n\nThe result can be narrowed down based on the authenticated user's role.\n\nE.g. with `?role=contributor`, only those repositories that the\nauthenticated user has write access to are returned (this includes any\nrepo the user is an admin on, as that implies write access).\n\nThis endpoint also supports filtering and sorting of the results. See\n[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more details.",
        "summary": "List repositories in a workspace",
        "responses": {
          "200": {
            "description": "The repositories owned by the specified account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_repositories"
                }
              }
            }
          },
          "404": {
            "description": "If the specified account does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "410": {
            "description": "If the specified account marked as spam.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "description": "\nFilters the result based on the authenticated user's role on each repository.\n\n* **member**: returns repositories to which the user has explicit read access\n* **contributor**: returns repositories to which the user has explicit write access\n* **admin**: returns repositories to which the user has explicit administrator access\n* **owner**: returns all repositories owned by the current user\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "contributor",
                "member",
                "owner"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "\nQuery string to narrow down the response as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "\nField by which the results should be sorted as per [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).\n        ",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace"
      },
      "parameters": [
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}": {
      "delete": {
        "tags": [
          "Repositories"
        ],
        "description": "Deletes the repository. This is an irreversible operation.\n\nThis does not affect its forks.",
        "summary": "Delete a repository",
        "responses": {
          "204": {
            "description": "Indicates successful deletion."
          },
          "403": {
            "description": "If the caller either does not have admin access to the repository, or the repository is set to read-only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "redirect_to",
            "in": "query",
            "description": "If a repository has been moved to a new location, use this parameter to\nshow users a friendly message in the Bitbucket UI that the repository\nhas moved to a new location. However, a GET to this endpoint will still\nreturn a 404.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "repository:delete"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "delete:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "delete_repositories_workspace_repo_slug"
      },
      "get": {
        "tags": [
          "Repositories"
        ],
        "description": "Returns the object describing this repository.",
        "summary": "Get a repository",
        "responses": {
          "200": {
            "description": "The repository object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repository"
                }
              }
            }
          },
          "403": {
            "description": "If the repository is private and the authenticated user does not have access to it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If no repository exists at this location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug"
      },
      "post": {
        "tags": [
          "Repositories"
        ],
        "description": "Creates a new repository.\n\nNote: In order to set the project for the newly created repository,\npass in either the project key or the project UUID as part of the\nrequest body as shown in the examples below:\n\n```\n$ curl -X POST -H \"Content-Type: application/json\" -d '{\n    \"scm\": \"git\",\n    \"project\": {\n        \"key\": \"MARS\"\n    }\n}' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding\n```\n\nor\n\n```\n$ curl -X POST -H \"Content-Type: application/json\" -d '{\n    \"scm\": \"git\",\n    \"project\": {\n        \"key\": \"{ba516952-992a-4c2d-acbd-17d502922f96}\"\n    }\n}' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding\n```\n\nThe project must be assigned for all repositories. If the project is not provided,\nthe repository is automatically assigned to the oldest project in the workspace.\n\nNote: In the examples above, the workspace ID `teamsinspace`,\nand/or the repository name `hablanding` can be replaced by UUIDs.",
        "summary": "Create a repository",
        "responses": {
          "200": {
            "description": "The newly created repository.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repository"
                }
              }
            }
          },
          "400": {
            "description": "If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/repository"
              }
            }
          },
          "description": "The repository that is to be created. Note that most object elements are optional. Elements \"owner\" and \"full_name\" are ignored as the URL implies them."
        },
        "operationId": "post_repositories_workspace_repo_slug"
      },
      "put": {
        "tags": [
          "Repositories"
        ],
        "description": "Since this endpoint can be used to both update and to create a\nrepository, the request body depends on the intent.\n\n#### Creation\n\nSee the POST documentation for the repository endpoint for an example\nof the request body.\n\n#### Update\n\nNote: Changing the `name` of the repository will cause the location to\nbe changed. This is because the URL of the repo is derived from the\nname (a process called slugification). In such a scenario, it is\npossible for the request to fail if the newly created slug conflicts\nwith an existing repository's slug. But if there is no conflict,\nthe new location will be returned in the `Location` header of the\nresponse.",
        "summary": "Update a repository",
        "responses": {
          "200": {
            "description": "The existing repository has been updated",
            "headers": {
              "Location": {
                "description": "The location of the repository. This header is only\nprovided when the repository's name is changed.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repository"
                }
              }
            }
          },
          "201": {
            "description": "A new repository has been created",
            "headers": {
              "Location": {
                "description": "The location of the newly created repository",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/repository"
                }
              }
            }
          },
          "400": {
            "description": "If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/repository"
              }
            }
          },
          "description": "The repository that is to be updated.\n\nNote that the elements \"owner\" and \"full_name\" are ignored since the\nURL implies them.\n"
        },
        "operationId": "put_repositories_workspace_repo_slug"
      },
      "parameters": [
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/branch-restrictions": {
      "get": {
        "tags": [
          "Branch restrictions"
        ],
        "description": "Returns a paginated list of all branch restrictions on the\nrepository.",
        "summary": "List branch restrictions",
        "responses": {
          "200": {
            "description": "A paginated list of branch restrictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_branchrestrictions"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "Branch restrictions of this type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pattern",
            "in": "query",
            "description": "Branch restrictions applied to branches of this pattern",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_branch_restrictions"
      },
      "post": {
        "tags": [
          "Branch restrictions"
        ],
        "description": "Creates a new branch restriction rule for a repository.\n\n`kind` describes what will be restricted. Allowed values include:\n`push`, `force`, `delete`, `restrict_merges`, `require_tasks_to_be_completed`,\n`require_approvals_to_merge`, `require_default_reviewer_approvals_to_merge`,\n`require_no_changes_requested`, `require_passing_builds_to_merge`, `require_commits_behind`,\n`reset_pullrequest_approvals_on_change`, `smart_reset_pullrequest_approvals`,\n`reset_pullrequest_changes_requested_on_change`, `require_all_dependencies_merged`,\n`enforce_merge_checks`, and `allow_auto_merge_when_builds_pass`.\n\nDifferent kinds of branch restrictions have different requirements:\n\n* `push` and `restrict_merges` require `users` and `groups` to be\n  specified. Empty lists are allowed, in which case permission is\n  denied for everybody.\n\nThe restriction applies to all branches that match. There are\ntwo ways to match a branch. It is configured in `branch_match_kind`:\n\n1. `glob`: Matches a branch against the `pattern`. A `'*'` in\n   `pattern` will expand to match zero or more characters, and every\n   other character matches itself. For example, `'foo*'` will match\n   `'foo'` and `'foobar'`, but not `'barfoo'`. `'*'` will match all\n   branches.\n2. `branching_model`: Matches a branch against the repository's\n   branching model. The `branch_type` controls the type of branch\n   to match. Allowed values include: `production`, `development`,\n   `bugfix`, `release`, `feature` and `hotfix`.\n\nThe combination of `kind` and match must be unique. This means that\ntwo `glob` restrictions in a repository cannot have the same `kind` and\n`pattern`. Additionally, two `branching_model` restrictions in a\nrepository cannot have the same `kind` and `branch_type`.\n\n`users` and `groups` are lists of users and groups that are except from\nthe restriction. They can only be configured in `push` and\n`restrict_merges` restrictions. The `push` restriction stops a user\npushing to matching branches unless that user is in `users` or is a\nmember of a group in `groups`. The `restrict_merges` stops a user\nmerging pull requests to matching branches unless that user is in\n`users` or is a member of a group in `groups`. Adding new users or\ngroups to an existing restriction should be done via `PUT`.\n\nNote that branch restrictions with overlapping matchers is allowed,\nbut the resulting behavior may be surprising.",
        "summary": "Create a branch restriction rule",
        "responses": {
          "201": {
            "description": "A paginated list of branch restrictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/branchrestriction"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/branchrestriction"
              }
            }
          },
          "description": "The new rule",
          "required": true
        },
        "operationId": "post_repositories_workspace_repo_slug_branch_restrictions"
      },
      "parameters": [
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/branch-restrictions/{id}": {
      "delete": {
        "tags": [
          "Branch restrictions"
        ],
        "description": "Deletes an existing branch restriction rule.",
        "summary": "Delete a branch restriction rule",
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository or branch restriction id does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "delete_repositories_workspace_repo_slug_branch_restrictions_id"
      },
      "get": {
        "tags": [
          "Branch restrictions"
        ],
        "description": "Returns a specific branch restriction rule.",
        "summary": "Get a branch restriction rule",
        "responses": {
          "200": {
            "description": "The branch restriction rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/branchrestriction"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository or branch restriction id does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_branch_restrictions_id"
      },
      "put": {
        "tags": [
          "Branch restrictions"
        ],
        "description": "Updates an existing branch restriction rule.\n\nFields not present in the request body are ignored.\n\nSee [`POST`](/cloud/bitbucket/rest/api-group-branch-restrictions/#api-repositories-workspace-repo-slug-branch-restrictions-post) for details.",
        "summary": "Update a branch restriction rule",
        "responses": {
          "200": {
            "description": "The updated branch restriction rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/branchrestriction"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository or branch restriction id does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/branchrestriction"
              }
            }
          },
          "description": "The new version of the existing rule",
          "required": true
        },
        "operationId": "put_repositories_workspace_repo_slug_branch_restrictions_id"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The restriction rule's id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/branching-model": {
      "get": {
        "tags": [
          "Branching model"
        ],
        "description": "Return the branching model as applied to the repository. This view is\nread-only. The branching model settings can be changed using the\n[settings](#api-repositories-workspace-repo-slug-branching-model-settings-get) API.\n\nThe returned object:\n\n1. Always has a `development` property. `development.branch` contains\n   the actual repository branch object that is considered to be the\n   `development` branch. `development.branch` will not be present\n   if it does not exist.\n2. Might have a `production` property. `production` will not\n   be present when `production` is disabled.\n   `production.branch` contains the actual branch object that is\n   considered to be the `production` branch. `production.branch` will\n   not be present if it does not exist.\n3. Always has a `branch_types` array which contains all enabled branch\n   types.",
        "summary": "Get the branching model for a repository",
        "responses": {
          "200": {
            "description": "The branching model object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/branching_model"
                },
                "examples": {
                  "response": {
                    "value": {
                      "development": {
                        "name": "master",
                        "branch": {
                          "type": "branch",
                          "name": "master",
                          "target": {
                            "hash": "16dffcb0de1b22e249db6799532074cf32efe80f"
                          }
                        },
                        "use_mainbranch": true
                      },
                      "production": {
                        "name": "production",
                        "branch": {
                          "type": "branch",
                          "name": "production",
                          "target": {
                            "hash": "16dffcb0de1b22e249db6799532074cf32efe80f"
                          }
                        },
                        "use_mainbranch": false
                      },
                      "branch_types": [
                        {
                          "kind": "release",
                          "prefix": "release/"
                        },
                        {
                          "kind": "hotfix",
                          "prefix": "hotfix/"
                        },
                        {
                          "kind": "feature",
                          "prefix": "feature/"
                        },
                        {
                          "kind": "bugfix",
                          "prefix": "bugfix/"
                        }
                      ],
                      "type": "branching_model",
                      "links": {
                        "self": {
                          "href": "https://api.bitbucket.org/.../branching-model"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have read access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_branching_model"
      },
      "parameters": [
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/branching-model/settings": {
      "get": {
        "tags": [
          "Branching model"
        ],
        "description": "Return the branching model configuration for a repository. The returned\nobject:\n\n1. Always has a `development` property for the development branch.\n2. Always a `production` property for the production branch. The\n   production branch can be disabled.\n3. The `branch_types` contains all the branch types.\n4. `default_branch_deletion` indicates whether branches will be\n    deleted by default on merge.\n\nThis is the raw configuration for the branching model. A client\nwishing to see the branching model with its actual current branches may\nfind the [active model API](/cloud/bitbucket/rest/api-group-branching-model/#api-repositories-workspace-repo-slug-branching-model-get) more useful.",
        "summary": "Get the branching model config for a repository",
        "responses": {
          "200": {
            "description": "The branching model configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/branching_model_settings"
                },
                "examples": {
                  "response": {
                    "value": {
                      "development": {
                        "is_valid": true,
                        "name": "null",
                        "use_mainbranch": true
                      },
                      "production": {
                        "is_valid": true,
                        "name": "production",
                        "use_mainbranch": false,
                        "enabled": false
                      },
                      "branch_types": [
                        {
                          "kind": "release",
                          "enabled": true,
                          "prefix": "release/"
                        },
                        {
                          "kind": "hotfix",
                          "enabled": true,
                          "prefix": "hotfix/"
                        },
                        {
                          "kind": "feature",
                          "enabled": true,
                          "prefix": "feature/"
                        },
                        {
                          "kind": "bugfix",
                          "enabled": false,
                          "prefix": "bugfix/"
                        }
                      ],
                      "type": "branching_model_settings",
                      "links": {
                        "self": {
                          "href": "https://api.bitbucket.org/.../branching-model/settings"
                        }
                      },
                      "default_branch_deletion": "false"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_branching_model_settings"
      },
      "put": {
        "tags": [
          "Branching model"
        ],
        "description": "Update the branching model configuration for a repository.\n\nThe `development` branch can be configured to a specific branch or to\ntrack the main branch. When set to a specific branch it must\ncurrently exist. Only the passed properties will be updated. The\nproperties not passed will be left unchanged. A request without a\n`development` property will leave the development branch unchanged.\n\nIt is possible for the `development` branch to be invalid. This\nhappens when it points at a specific branch that has been\ndeleted. This is indicated in the `is_valid` field for the branch. It is\nnot possible to update the settings for `development` if that\nwould leave the branch in an invalid state. Such a request will be\nrejected.\n\nThe `production` branch can be a specific branch, the main\nbranch or disabled. When set to a specific branch it must currently\nexist. The `enabled` property can be used to enable (`true`) or\ndisable (`false`) it. Only the passed properties will be updated. The\nproperties not passed will be left unchanged. A request without a\n`production` property will leave the production branch unchanged.\n\nIt is possible for the `production` branch to be invalid. This\nhappens when it points at a specific branch that has been\ndeleted. This is indicated in the `is_valid` field for the branch. A\nrequest that would leave `production` enabled and invalid will be\nrejected. It is possible to update `production` and make it invalid if\nit would also be left disabled.\n\nThe `branch_types` property contains the branch types to be updated.\nOnly the branch types passed will be updated. All updates will be\nrejected if it would leave the branching model in an invalid state.\nFor branch types this means that:\n\n1. The prefixes for all enabled branch types are valid. For example,\n   it is not possible to use '*' inside a Git prefix.\n2. A prefix of an enabled branch type must not be a prefix of another\n   enabled branch type. This is to ensure that a branch can be easily\n   classified by its prefix unambiguously.\n\nIt is possible to store an invalid prefix if that branch type would be\nleft disabled. Only the passed properties will be updated. The\nproperties not passed will be left unchanged. Each branch type must\nhave a `kind` property to identify it.\n\nThe `default_branch_deletion` property is a string. The value of `true`\nindicates to delete branches by default. The value of `false` indicates\nthat branches will not be deleted by default. A request without a\n`default_branch_deletion` property will leave it unchanged. Other values\nwould be ignored.\n\nThere is currently a side effect when using this API endpoint. If the\nrepository is inheriting branching model settings from its project,\nupdating the branching model for this repository will disable the\nproject setting inheritance.\n\n\nWe have deprecated this side effect and will remove it on 1 August 2022.",
        "summary": "Update the branching model config for a repository",
        "responses": {
          "200": {
            "description": "The updated branching model configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/branching_model_settings"
                },
                "examples": {
                  "response": {
                    "value": {
                      "development": {
                        "use_mainbranch": true
                      },
                      "production": {
                        "enabled": true,
                        "use_mainbranch": false,
                        "name": "production"
                      },
                      "branch_types": [
                        {
                          "kind": "bugfix",
                          "enabled": true,
                          "prefix": "bugfix/"
                        },
                        {
                          "kind": "feature",
                          "enabled": true,
                          "prefix": "feature/"
                        },
                        {
                          "kind": "hotfix",
                          "prefix": "hotfix/"
                        },
                        {
                          "kind": "release",
                          "enabled": false
                        }
                      ],
                      "default_branch_deletion": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "If the request contains invalid branching model configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "If the request was not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "If the authenticated user does not have admin access to the repository",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "If the repository does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:admin"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "put_repositories_workspace_repo_slug_branching_model_settings"
      },
      "parameters": [
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}": {
      "get": {
        "tags": [
          "Commits"
        ],
        "description": "Returns the specified commit.",
        "summary": "Get a commit",
        "responses": {
          "200": {
            "description": "The commit object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commit"
                },
                "examples": {
                  "response": {
                    "value": {
                      "rendered": {
                        "message": {
                          "raw": "Add a GEORDI_OUTPUT_DIR setting",
                          "markup": "markdown",
                          "html": "<p>Add a GEORDI_OUTPUT_DIR setting</p>",
                          "type": "rendered"
                        }
                      },
                      "hash": "f7591a13eda445d9a9167f98eb870319f4b6c2d8",
                      "repository": {
                        "name": "geordi",
                        "type": "repository",
                        "full_name": "bitbucket/geordi",
                        "links": {
                          "self": {
                            "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi"
                          },
                          "html": {
                            "href": "https://bitbucket.org/bitbucket/geordi"
                          },
                          "avatar": {
                            "href": "https://bytebucket.org/ravatar/%7B85d08b4e-571d-44e9-a507-fa476535aa98%7D?ts=1730260"
                          }
                        },
                        "uuid": "{85d08b4e-571d-44e9-a507-fa476535aa98}"
                      },
                      "links": {
                        "self": {
                          "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                        },
                        "comments": {
                          "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/comments"
                        },
                        "patch": {
                          "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/patch/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                        },
                        "html": {
                          "href": "https://bitbucket.org/bitbucket/geordi/commits/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                        },
                        "diff": {
                          "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/diff/f7591a13eda445d9a9167f98eb870319f4b6c2d8"
                        },
                        "approve": {
                          "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/approve"
                        },
                        "statuses": {
                          "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/statuses"
                        }
                      },
                      "author": {
                        "raw": "Brodie Rao <a@b.c>",
                        "type": "author",
                        "user": {
                          "display_name": "Brodie Rao",
                          "uuid": "{9484702e-c663-4afd-aefb-c93a8cd31c28}",
                          "links": {
                            "self": {
                              "href": "https://api.bitbucket.org/2.0/users/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D"
                            },
                            "html": {
                              "href": "https://bitbucket.org/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D/"
                            },
                            "avatar": {
                              "href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca/613070db-28b0-421f-8dba-ae8a87e2a5c7/128"
                            }
                          },
                          "type": "user",
                          "nickname": "brodie",
                          "account_id": "557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca"
                        }
                      },
                      "summary": {
                        "raw": "Add a GEORDI_OUTPUT_DIR setting",
                        "markup": "markdown",
                        "html": "<p>Add a GEORDI_OUTPUT_DIR setting</p>",
                        "type": "rendered"
                      },
                      "participants": [],
                      "parents": [
                        {
                          "type": "commit",
                          "hash": "f06941fec4ef6bcb0c2456927a0cf258fa4f899b",
                          "links": {
                            "self": {
                              "href": "https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f06941fec4ef6bcb0c2456927a0cf258fa4f899b"
                            },
                            "html": {
                              "href": "https://bitbucket.org/bitbucket/geordi/commits/f06941fec4ef6bcb0c2456927a0cf258fa4f899b"
                            }
                          }
                        }
                      ],
                      "date": "2012-07-16T19:37:54+00:00",
                      "message": "Add a GEORDI_OUTPUT_DIR setting",
                      "type": "commit"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "If the specified commit or repository does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_commit_commit"
      },
      "parameters": [
        {
          "name": "commit",
          "in": "path",
          "description": "The commit's SHA1.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/approve": {
      "delete": {
        "tags": [
          "Commits"
        ],
        "description": "Redact the authenticated user's approval of the specified commit.\n\nThis operation is only available to users that have explicit access to\nthe repository. In contrast, just the fact that a repository is\npublicly accessible to users does not give them the ability to approve\ncommits.",
        "summary": "Unapprove a commit",
        "responses": {
          "204": {
            "description": "An empty response indicating the authenticated user's approval has been withdrawn."
          },
          "404": {
            "description": "If the specified commit, or the repository does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:write"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "write:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "delete_repositories_workspace_repo_slug_commit_commit_approve"
      },
      "post": {
        "tags": [
          "Commits"
        ],
        "description": "Approve the specified commit as the authenticated user.\n\nThis operation is only available to users that have explicit access to\nthe repository. In contrast, just the fact that a repository is\npublicly accessible to users does not give them the ability to approve\ncommits.",
        "summary": "Approve a commit",
        "responses": {
          "200": {
            "description": "The `participant` object recording that the authenticated user approved the commit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/participant"
                }
              }
            }
          },
          "404": {
            "description": "If the specified commit, or the repository does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository:write"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket",
              "write:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "post_repositories_workspace_repo_slug_commit_commit_approve"
      },
      "parameters": [
        {
          "name": "commit",
          "in": "path",
          "description": "The commit's SHA1.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/comments": {
      "get": {
        "tags": [
          "Commits"
        ],
        "description": "Returns the commit's comments.\n\nThis includes both global and inline comments.\n\nThe default sorting is oldest to newest and can be overridden with\nthe `sort` query parameter.",
        "summary": "List a commit's comments",
        "responses": {
          "200": {
            "description": "A paginated list of commit comments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_commit_comments"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Query string to narrow down the response as per\n[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field by which the results should be sorted as per\n[filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_commit_commit_comments"
      },
      "post": {
        "tags": [
          "Commits"
        ],
        "description": "Creates new comment on the specified commit.\n\nTo post a reply to an existing comment, include the `parent.id` field:\n\n```\n$ curl https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/db9ba1e031d07a02603eae0e559a7adc010257fc/comments/ \\\n  -X POST -u evzijst \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"content\": {\"raw\": \"One more thing!\"},\n       \"parent\": {\"id\": 5728901}}'\n```",
        "summary": "Create comment for a commit",
        "responses": {
          "201": {
            "description": "The newly created comment.",
            "headers": {
              "Location": {
                "description": "The location of the newly created comment.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the comment was detected as spam, or if the parent comment is not attached to the same node as the new comment"
          },
          "404": {
            "description": "If a parent ID was passed in that cannot be found"
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/commit_comment"
              }
            }
          },
          "description": "The specified comment.",
          "required": true
        },
        "operationId": "post_repositories_workspace_repo_slug_commit_commit_comments"
      },
      "parameters": [
        {
          "name": "commit",
          "in": "path",
          "description": "The commit's SHA1.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}": {
      "delete": {
        "tags": [
          "Commits"
        ],
        "description": "Deletes the specified commit comment.\n\nNote that deleting comments that have visible replies that point to\nthem will not really delete the resource. This is to retain the integrity\nof the original comment tree. Instead, the `deleted` element is set to\n`true` and the content is blanked out. The comment will continue to be\nreturned by the collections and self endpoints.",
        "summary": "Delete a commit comment",
        "responses": {
          "204": {
            "description": "Indicates the comment was deleted by this action or a previous delete."
          },
          "404": {
            "description": "If the comment doesn't exist"
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "delete_repositories_workspace_repo_slug_commit_commit_comments_comment_id"
      },
      "get": {
        "tags": [
          "Commits"
        ],
        "description": "Returns the specified commit comment.",
        "summary": "Get a commit comment",
        "responses": {
          "200": {
            "description": "The commit comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/commit_comment"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "operationId": "get_repositories_workspace_repo_slug_commit_commit_comments_comment_id"
      },
      "put": {
        "tags": [
          "Commits"
        ],
        "description": "Used to update the contents of a comment. Only the content of the comment can be updated.\n\n```\n$ curl https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/7f71b5/comments/5728901 \\\n  -X PUT -u evzijst \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"content\": {\"raw\": \"One more thing!\"}'\n```",
        "summary": "Update a commit comment",
        "responses": {
          "201": {
            "description": "The newly updated comment.",
            "headers": {
              "Location": {
                "description": "The location of the newly updated comment.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the comment update was detected as spam"
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/commit_comment"
              }
            }
          },
          "description": "The updated comment.",
          "required": true
        },
        "operationId": "put_repositories_workspace_repo_slug_commit_commit_comments_comment_id"
      },
      "parameters": [
        {
          "name": "comment_id",
          "in": "path",
          "description": "The id of the comment.",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        },
        {
          "name": "commit",
          "in": "path",
          "description": "The commit's SHA1.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repo_slug",
          "in": "path",
          "description": "This can either be the repository slug or the UUID of the repository,\nsurrounded by curly-braces, for example: `{repository UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace",
          "in": "path",
          "description": "This can either be the workspace ID (slug) or the workspace UUID\nsurrounded by curly-braces, for example: `{workspace UUID}`.\n",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}": {
      "put": {
        "deprecated": true,
        "responses": {
          "204": {
            "description": "An empty response."
          }
        },
        "operationId": "updateCommitHostedPropertyValue",
        "summary": "Update a commit application property",
        "description": "This API will be deprecated on January 31, 2027 as part of [end of support for Connect app](https://community.developer.atlassian.com/t/bitbucket-cloud-announcing-connect-end-of-support-timeline-and-next-steps/98760).\n\nUpdate an [application property](/cloud/bitbucket/application-properties/) value stored against a commit.\n",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "workspace",
            "description": "The repository container; either the workspace slug or the UUID in curly braces.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "repo_slug",
            "description": "The repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "commit",
            "description": "The commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "app_key",
            "description": "The key of the Connect app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "property_name",
            "description": "The name of the property.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "properties"
        ],
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/application_property"
              }
            }
          },
          "description": "The application property to create or update.",
          "required": true
        }
      },
      "delete": {
        "deprecated": true,
        "responses": {
          "204": {
            "description": "An empty response."
          }
        },
        "operationId": "deleteCommitHostedPropertyValue",
        "summary": "Delete a commit application property",
        "description": "This API will be deprecated on January 31, 2027 as part of [end of support for Connect app](https://community.developer.atlassian.com/t/bitbucket-cloud-announcing-connect-end-of-support-timeline-and-next-steps/98760).\n\nDelete an [application property](/cloud/bitbucket/application-properties/) value stored against a commit.\n",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "workspace",
            "description": "The repository container; either the workspace slug or the UUID in curly braces.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "repo_slug",
            "description": "The repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "commit",
            "description": "The commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "app_key",
            "description": "The key of the Connect app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "property_name",
            "description": "The name of the property.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "properties"
        ],
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "deprecated": true,
        "responses": {
          "200": {
            "description": "The value of the property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application_property"
                }
              }
            }
          }
        },
        "operationId": "getCommitHostedPropertyValue",
        "summary": "Get a commit application property",
        "description": "This API will be deprecated on January 31, 2027 as part of [end of support for Connect app](https://community.developer.atlassian.com/t/bitbucket-cloud-announcing-connect-end-of-support-timeline-and-next-steps/98760).\n\nRetrieve an [application property](/cloud/bitbucket/application-properties/) value stored against a commit.\n",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "workspace",
            "description": "The repository container; either the workspace slug or the UUID in curly braces.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "repo_slug",
            "description": "The repository.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "commit",
            "description": "The commit.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "app_key",
            "description": "The key of the Connect app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "required": true,
            "in": "path",
            "name": "property_name",
            "description": "The name of the property.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "properties"
        ],
        "security": [
          {
            "oauth2": []
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "admin:workspace:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ]
      }
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/pullrequests": {
      "get": {
        "tags": [
          "Pullrequests"
        ],
        "summary": "List pull requests that contain a commit",
        "description": "Returns a paginated list of all pull requests as part of which this commit was reviewed. Pull Request Commit Links app must be installed first before using this API; installation automatically occurs when 'Go to pull request' is clicked from the web interface for a commit's details.",
        "operationId": "getPullrequestsForCommit",
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo_slug",
            "in": "path",
            "description": "The repository; either the UUID in curly braces, or the slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commit",
            "in": "path",
            "description": "The SHA1 of the commit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pagelen",
            "in": "query",
            "description": "How many pull requests to retrieve per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated list of pull requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_pullrequests"
                }
              }
            }
          },
          "202": {
            "description": "The repository's pull requests are still being indexed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_pullrequests"
                }
              }
            }
          },
          "404": {
            "description": "Either the repository does not exist, or pull request commit links have not yet been indexed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "pullrequest"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:pullrequest:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ]
      }
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/reports": {
      "get": {
        "tags": [
          "Reports",
          "Commits"
        ],
        "description": "Returns a paginated list of Reports linked to this commit.",
        "summary": "List reports",
        "operationId": "getReportsForCommit",
        "parameters": [
          {
            "name": "workspace",
            "description": "This can either be the workspace ID (slug) or the workspace UUID surrounded by curly-braces, for example `{workspace UUID}`.",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo_slug",
            "description": "The repository.",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commit",
            "description": "The commit for which to retrieve reports.",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginated_reports"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "repository"
            ]
          },
          {
            "basic": []
          },
          {
            "api_key": []
          }
        ],
        "x-atlassian-oauth2-scopes": [
          {
            "state": "Current",
            "scheme": "oauth2",
            "scopes": [
              "read:repository:bitbucket"
            ]
          }
        ],
        "x-atlassian-auth-types": [
          "forge-oauth2",
          "api-token"
        ]
      }
    },
    "/repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}": {
      "put": {
        "tags": [
          "Reports",
          "Commits"
        ],
[...]
