{
  "openapi": "3.0.3",
  "info": {
    "title": "DeepL",
    "description": "Translate text and documents, manage glossaries, and check API usage with the DeepL API.",
    "termsOfService": "https://www.deepl.com/pro-license",
    "contact": {
      "name": "DeepL - Contact us",
      "url": "https://www.deepl.com/contact-us"
    },
    "version": "3.13.0",
    "x-bionic-slug": "deepl",
    "x-bionic-source-url": "https://raw.githubusercontent.com/DeepL/openapi/main/openapi.json",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+RGVlcEw8L3RpdGxlPjxwYXRoIGZpbGw9IiMwRjJCNDYiIGQ9Ik0yMC45MDcgNC45Mzk1MyAxMi42ODU0My4xODU3M2ExLjM1NzcgMS4zNTc3IDAgMCAwLTEuMzcwOSAwTDMuMDkyOTggNC45NTY1YTEuMzc2NiAxLjM3NjYgMCAwIDAtLjY4NjM5IDEuMTgyMzN2OS41MjY0NmExLjM3NjYgMS4zNzY2IDAgMCAwIC42ODYzOSAxLjE5MzYzbDguMjIxNTcgNC43NTk0Ni4wNjIyMy4wMzU4MyA0LjA0ODU2IDIuMzQ1OC0uMDExMzEtMi4wNjEwNi4wMDc1LTEuMTQ0Ni4wMDM4LjAxODg1di0uMzg0NjdjMC0uMjMwMDYuMTE4OC0uNDMzNzEuMjk2MDUtLjU2MDA1bC4yNjQtLjE1MDg2LjEyNjMzLS4wNjk3N2gtLjAwNzVsNC44MDI4My0yLjc3OTVhMS4zODAzIDEuMzgwMyAwIDAgMCAuNjg2MzktMS4xOTU1MVY2LjEzNTA1YTEuMzgwMyAxLjM4MDMgMCAwIDAtLjY4NjQyLTEuMTk1NTJtLTkuODUyNjkgOS42ODg2M2ExLjQyNzUgMS40Mjc1IDAgMCAxLS4zOTk3NiAxLjM4NDEgMS40MDg2IDEuNDA4NiAwIDAgMS0xLjk3MDU0IDAgMS40MTk5IDEuNDE5OSAwIDAgMSAwLTIuMDYyOTQgMS40MDg2IDEuNDA4NiAwIDAgMSAyLjA0MjIuMDc1NDNsMy4zMjgyMi0xLjkxNTg1LjY4NjQuMzg2NTZ6bTUuNzcwMTktMi40MTM2N2ExLjQwODYgMS40MDg2IDAgMCAxLTEuOTcwNTQgMCAxLjQyNTYgMS40MjU2IDAgMCAxLS4zNjk2LTEuNDc4MzdsLS4wMTMyLjAwNzUtMy43NTI1LTIuMTcyMy0uMDU2NTcuMDU2NTZhMS40MDg2IDEuNDA4NiAwIDAgMS0xLjk3MDUzIDAgMS40MTk5IDEuNDE5OSAwIDAgMSAwLTIuMDYyOTMgMS40MDg2IDEuNDA4NiAwIDAgMSAxLjk3MjQyIDBjLjM5NDEuMzc3MTMuNTI0MjIuOTE4MzIuMzkwMzMgMS40MDY3MmwzLjc4MDggMi4yMDA1OS4wMTg4Ni0uMDE4ODZhMS40MDg2IDEuNDA4NiAwIDAgMSAxLjk3MjQyIDAgMS40Mjc0NiAxLjQyNzQ2IDAgMCAxIDAgMi4wNjEwNXoiLz48L3N2Zz4="
    }
  },
  "externalDocs": {
    "description": "DeepL Pro - Plans and pricing",
    "url": "https://www.deepl.com/pro#developer"
  },
  "servers": [
    {
      "url": "https://api.deepl.com",
      "description": "DeepL API Pro"
    },
    {
      "url": "https://api-free.deepl.com",
      "description": "DeepL API Free"
    }
  ],
  "tags": [
    {
      "name": "beta",
      "description": "Experimental features that are under testing and not yet intended for production use."
    },
    {
      "name": "TranslateText",
      "description": "The text-translation API currently consists of a single endpoint, `translate`, which is described below."
    },
    {
      "name": "TranslateDocuments",
      "description": "The document translation API allows you to translate whole documents and supports the following file types and extensions:\n  * `docx` - Microsoft Word Document\n  * `pptx` - Microsoft PowerPoint Document\n  * `xlsx` - Microsoft Excel Document\n  * `xlsm` - Microsoft Excel Macro-Enabled Workbook (currently in beta)\n  * `pdf` - Portable Document Format\n  * `htm / html` - HTML Document\n  * `txt` - Plain Text Document\n  * `xlf / xliff` - XLIFF Document (versions 1.2, 2.0, and 2.1)\n  * `srt` - SRT Document\n  * `vtt` - WebVTT Subtitle Document (currently in beta)\n  * `idml` - Adobe InDesign Markup Language\n  * `xml` - XML Document\n  * `json` - JSON Document\n  * `yaml / yml` - YAML Document (currently in beta)\n  * `properties` - Java Properties Document (currently in beta)\n  * `strings` - iOS/macOS Strings Document (currently in beta)\n  * `md / markdown` - Markdown Document (currently in beta)\n  * `dita` - DITA topic (Darwin Information Typing Architecture)\n  * `mif` - Adobe FrameMaker Interchange Format\n  * `zip` - SCORM Package (e-learning content, currently in beta)\n  * `odt` - OpenDocument Text Document (currently in beta)\n  * `rtf` - Rich Text Format Document (currently in beta)\n  * `resx` - .NET Resource Document (currently in beta)\n  * `jpeg` / `jpg` / `png` - Image (currently in beta)"
    },
    {
      "name": "RephraseText",
      "description": "The `rephrase` endpoint  is used to make corrections and adjustments to texts based on style or tone."
    },
    {
      "name": "CorrectText",
      "description": "The `correct` endpoint fixes spelling and grammar errors without broader rephrasing. Use it when you want\na minimal-change correction pass rather than the broader rewriting performed by `rephrase`."
    },
    {
      "name": "ManageSpokenTerms",
      "description": "The *Spoken Terms* functions allow you to create, inspect, edit and delete Spoken Terms collections.\nSpoken Terms improve speech recognition in the Voice API: they ensure specific words and phrases,\nsuch as company names, acronyms, and product names, are transcribed correctly. A collection contains\none or more term lists, each holding terms for a single language, and is applied to a voice session\nvia the `spoken_terms_id` parameter."
    },
    {
      "name": "ManageMultilingualGlossaries",
      "description": "The *glossary* functions allow you to create, inspect, edit and delete glossaries.\nGlossaries created with the glossary function can be used in translate requests by specifying the\n`glossary_id` parameter. A glossary contains (several) dictionaries.\nA dictionary is a mapping of source phrases to target phrases for a single language pair.\nIf you encounter issues, please let us know at support@DeepL.com.\n\nCurrently you can create glossaries with any of the languages DeepL supports (with the exception of Thai).\n\nThe maximum size limit for a glossary is 10 MiB = 10485760 bytes and each source/target text,\nas well as the name of the glossary, is limited to 1024 UTF-8 bytes.\nA total of 1000 glossaries are allowed per account.\n\nWhen creating a dictionary with target language `EN`, `PT`, or `ZH`, it's not necessary to specify a variant\n(e.g. `EN-US`, `EN-GB`, `PT-PT`, `PT-BR`, or `ZH-HANS`).\nDictionaries with target language `EN` can be used in translations with either English variant.\nSimilarly `PT`, and `ZH` dictionaries can be used in translations with their corresponding variants.\n(When you provide the ID of a glossary to a translation, the appropriate dictionary is automatically applied. Currently glossaries can not yet be used with source language detection.)\n\nGlossaries created via the DeepL API are now unified with glossaries created via the DeepL website and DeepL apps.\nPlease only use the v3 glossary API in conjunction with multilingual or edited glossaries from the website."
    },
    {
      "name": "ManageGlossaries",
      "description": "Please note that this is the spec for the (old) v2 glossary endpoint.\nWe recommend users switch to the newer v3 glossary endpoints, which support editability and multilinguality.\n\nThe *glossary* functions allow you to create, inspect, and delete glossaries.\nGlossaries created with the glossary function can be used in translate requests by specifying the\n`glossary_id` parameter.\nIf you encounter issues, please let us know at support@DeepL.com.\n\nCurrently you can create glossaries with any of the languages DeepL supports (with the exception of Thai)."
    },
    {
      "name": "MetaInformation",
      "description": "Information about API usage and value ranges"
    },
    {
      "name": "TranslationMemories",
      "description": "The translation memory endpoints allow you to manage your account's translation memories, used to store\nand reuse previously created translations. You can list and retrieve translation memories, page through\ntheir stored segments, create one by importing a TMX file, export one back to TMX, and delete one.\nEditing the contents of an existing translation memory is not supported; import a new one instead.\n\nImporting and exporting run as background jobs. Create the job, then poll\n`GET /v3/translation_memories/jobs/{job_id}` until it reports `completed`.\n\nTranslation memories can be used in text translation requests by\nspecifying the `translation_memory_id` parameter to denote a specific translation memory and the\n`translation_memory_threshold` which defines the minimum matching percentage required for a translation memory\nsegment to be applied (recommended to be 75% or higher). A translation request fails with `404` if the\ntranslation memory does not exist or does not cover the requested language pair."
    },
    {
      "name": "VoiceAPI",
      "description": "The Voice API provides real-time voice transcription and translation services.\nUse a two-step flow: first request a streaming URL via REST, then establish a WebSocket connection for streaming audio and receiving transcriptions."
    },
    {
      "name": "VoiceTranslateJob",
      "description": "**Alpha.** Async voice translation jobs. This API may change without notice."
    },
    {
      "name": "AdminApi",
      "description": "Endpoints for organization administrators to manage API keys and retrieve usage analytics."
    },
    {
      "name": "QualityEvaluation",
      "description": "**Beta.** Retrieve a quality evaluation report for a document DeepL has translated. Reports are requested with `enable_quality_evaluation` on `POST /v2/document` and polled here. A report lists per-segment quality issues categorized by error type and severity, with character spans pointing to where each issue occurs."
    }
  ],
  "x-hideTryItPanel": true,
  "x-codeSamples": false,
  "paths": {
    "/v2/admin/analytics": {
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get usage statistics as an admin",
        "operationId": "adminGetAnalytics",
        "description": "Retrieve usage statistics for the organization within a specified date range.\nOptionally group the results by API key or by API key and day.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-09-29"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-01"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "description": "Optional parameter to group usage statistics. Possible values:\n * `key` - Group by API key\n * `key_and_day` - Group by API key and usage date",
            "schema": {
              "type": "string",
              "enum": [
                "key",
                "key_and_day"
              ]
            },
            "example": "key_and_day"
          }
        ],
        "responses": {
          "200": {
            "description": "The usage statistics for the specified date range.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsageReport"
                },
                "examples": {
                  "withGrouping": {
                    "summary": "Usage report grouped by key and day",
                    "value": {
                      "usage_report": {
                        "total_usage": {
                          "total_characters": 9619,
                          "text_translation_characters": 4892,
                          "document_translation_characters": 0,
                          "text_improvement_characters": 4727,
                          "speech_to_text_minutes": 107.46
                        },
                        "group_by": "key_and_day",
                        "start_date": "2025-09-29T00:00:00",
                        "end_date": "2025-10-01T00:00:00",
                        "key_and_day_usages": [
                          {
                            "api_key": "dc88****3a2c",
                            "api_key_label": "Staging API Key",
                            "usage_date": "2025-09-29T00:00:00Z",
                            "usage": {
                              "total_characters": 315,
                              "text_translation_characters": 159,
                              "document_translation_characters": 0,
                              "text_improvement_characters": 156,
                              "speech_to_text_minutes": 11.94
                            }
                          }
                        ]
                      }
                    }
                  },
                  "withoutGrouping": {
                    "summary": "Usage report without grouping",
                    "value": {
                      "usage_report": {
                        "total_usage": {
                          "total_characters": 9619,
                          "text_translation_characters": 4892,
                          "document_translation_characters": 0,
                          "text_improvement_characters": 4727,
                          "speech_to_text_minutes": 107.46
                        },
                        "start_date": "2025-09-29T00:00:00",
                        "end_date": "2025-10-01T00:00:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Please check error message and your parameters.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message describing the issue."
                    }
                  }
                },
                "examples": {
                  "dateRangeExceeded": {
                    "summary": "Date range exceeds maximum allowed",
                    "value": {
                      "message": "Bad request. Reason: Date range cannot exceed 366 days"
                    }
                  },
                  "invalidGroupBy": {
                    "summary": "Invalid group_by parameter value",
                    "value": {
                      "message": "Value for 'group_by' not supported. Allowed: '', 'key', 'key_and_day'."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/analytics/custom-tags": {
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get custom tag usage statistics as an admin",
        "operationId": "adminGetCustomTagAnalytics",
        "description": "Retrieve usage statistics broken down by custom tags within a specified date range.\nOptionally aggregate results by day or over the entire period.\nResults are paginated; use the `page` parameter with the `next_page` value from\na previous response to retrieve subsequent pages.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-05-17"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date for the usage report (ISO 8601 date format).",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-05-18"
          },
          {
            "name": "aggregate_by",
            "in": "query",
            "required": false,
            "description": "Optional parameter to control aggregation of usage statistics. Possible values:\n * `period` - Aggregate usage over the entire date range (default)\n * `day` - Group usage by individual day",
            "schema": {
              "type": "string",
              "enum": [
                "period",
                "day"
              ],
              "default": "period"
            },
            "example": "day"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination. Use the integer value returned in `next_page` from\na previous response to retrieve the next page of results.",
            "schema": {
              "type": "integer"
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The custom tag usage statistics for the specified date range.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTagUsageReport"
                },
                "examples": {
                  "aggregateByPeriod": {
                    "summary": "Usage report aggregated over the full period",
                    "value": {
                      "custom_tag_usage_report": {
                        "aggregate_by": "period",
                        "start_date": "2026-05-03T00:00:00",
                        "end_date": "2026-05-05T00:00:00",
                        "next_page": null,
                        "usage": [
                          {
                            "custom_tag": "example-custom-tag",
                            "breakdown": {
                              "total_characters": 380,
                              "text_translation_characters": 380,
                              "text_improvement_characters": 0,
                              "speech_to_text_minutes": 12.5,
                              "speech_to_speech_minutes": 4.2
                            }
                          },
                          {
                            "custom_tag": "example-custom-tag-2",
                            "breakdown": {
                              "total_characters": 475,
                              "text_translation_characters": 475,
                              "text_improvement_characters": 0,
                              "speech_to_text_minutes": 0,
                              "speech_to_speech_minutes": 0
                            }
                          }
                        ]
                      }
                    }
                  },
                  "aggregateByDay": {
                    "summary": "Usage report aggregated by day",
                    "value": {
                      "custom_tag_usage_report": {
                        "aggregate_by": "day",
                        "start_date": "2026-05-03T00:00:00",
                        "end_date": "2026-05-15T00:00:00",
                        "next_page": null,
                        "usage": [
                          {
                            "custom_tag": "example-custom-tag",
                            "usage_date": "2026-05-04T00:00:00Z",
                            "breakdown": {
                              "total_characters": 380,
                              "text_translation_characters": 380,
                              "text_improvement_characters": 0,
                              "speech_to_text_minutes": 12.5,
                              "speech_to_speech_minutes": 4.2
                            }
                          },
                          {
                            "custom_tag": "example-custom-tag",
                            "usage_date": "2026-05-11T00:00:00Z",
                            "breakdown": {
                              "total_characters": 595,
                              "text_translation_characters": 595,
                              "text_improvement_characters": 0,
                              "speech_to_text_minutes": 0,
                              "speech_to_speech_minutes": 0
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Please check error message and your parameters.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message describing the issue."
                    }
                  }
                },
                "examples": {
                  "dateRangeExceeded": {
                    "summary": "Date range exceeds maximum allowed",
                    "value": {
                      "message": "Bad request. Reason: Date range cannot exceed 366 days"
                    }
                  },
                  "invalidAggregateBy": {
                    "summary": "Invalid aggregate_by parameter value",
                    "value": {
                      "message": "Value for 'aggregate_by' not supported. Allowed: '', 'period', 'day'."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys": {
      "post": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Create a developer key as an admin",
        "operationId": "adminCreateDeveloperKey",
        "description": "Create a developer key in your organization with the given label and return its\nmetadata, including the `key_id`. Requires an Admin API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "$ref": "#/components/schemas/ApiKeyLabel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The create function returns a JSON representation of the created API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Get all developer keys as an admin",
        "operationId": "adminGetDeveloperKeys",
        "description": "List every developer key in your organization, including labels, creation and\ndeactivation timestamps, and any configured usage limits. Requires an Admin API key.",
        "responses": {
          "200": {
            "description": "The get function returns a JSON representation of all developer API keys in the organization.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/deactivate": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Deactivate a developer key as an admin",
        "operationId": "adminDeactivateDeveloperKey",
        "description": "Deactivate a developer key so it can no longer authenticate API requests.\nDeactivation is permanent: create a new key to restore access. Requires an Admin API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The deactivate function returns a JSON representation of the deactivated API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/label": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Rename a developer key as an admin",
        "operationId": "adminRenameDeveloperKey",
        "description": "Change the label of a developer key. Labels are for your own bookkeeping and do not\naffect the key's permissions. Requires an Admin API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id",
                  "label"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  },
                  "label": {
                    "type": "string",
                    "description": "API key label.",
                    "example": "developer key prod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The set label function returns a JSON representation of the renamed API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/admin/developer-keys/limits": {
      "put": {
        "tags": [
          "AdminApi"
        ],
        "summary": "Set developer key usage limits as an admin",
        "operationId": "adminSetDeveloperKeyUsageLimits",
        "description": "Set per-key usage limits for characters and speech-to-text milliseconds. Requests made\nwith the key fail with HTTP 456 once a limit is reached. Requires an Admin API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key_id"
                ],
                "properties": {
                  "key_id": {
                    "$ref": "#/components/schemas/ApiKeyId"
                  },
                  "characters": {
                    "$ref": "#/components/schemas/ApiKeyUsageCharacters"
                  },
                  "speech_to_text_milliseconds": {
                    "$ref": "#/components/schemas/ApiKeyUsageSpeechToTextMilliseconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The set usage limits function returns a JSON representation of the modified API key.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/translate": {
      "post": {
        "tags": [
          "TranslateText"
        ],
        "summary": "Request Translation",
        "operationId": "translateText",
        "description": "Translate one or more text strings into a target language. Send multiple strings in a\nsingle request, within the request size limit, and specify formatting, tag handling,\nand customization options such as glossaries, style rules, and translation memories.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomReportingTag"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "target_lang"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified\nmany times in a single request, within the request size limit (128KiB). Translations are returned\nin the same order as they are requested. Each text in the array is translated independently — texts\ndo not share context with each other.",
                    "type": "array",
                    "x-default": [
                      "Hello, World!"
                    ],
                    "items": {
                      "type": "string",
                      "example": "Hello, World!"
                    }
                  },
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage",
                    "x-default": "DE"
                  },
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "show_billed_characters": {
                    "$ref": "#/components/schemas/ShowBilledCharacters"
                  },
                  "split_sentences": {
                    "$ref": "#/components/schemas/SplitSentencesOption"
                  },
                  "preserve_formatting": {
                    "$ref": "#/components/schemas/PreserveFormattingOption"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "model_type": {
                    "$ref": "#/components/schemas/ModelType"
                  },
                  "glossary_id": {
                    "description": "Specify the glossary to use for the translation. **Important:** This requires the `source_lang`\nparameter to be set. The language pair of the glossary has to match the language pair of the\nrequest.\n\nCannot be used together with `glossary_ids`.",
                    "type": "string",
                    "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                  },
                  "glossary_ids": {
                    "description": "Specify up to 5 glossaries to use for the translation, as an array of glossary IDs. Each glossary's matching terms are applied to the translation.\n\n**Important:** This requires the `source_lang` parameter to be set. Every listed glossary must contain a dictionary for the requested language pair.\n\nCannot be used together with `glossary_id`.",
                    "type": "array",
                    "maxItems": 5,
                    "items": {
                      "type": "string",
                      "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                    }
                  },
                  "style_id": {
                    "description": "Specify the [style rule list](/docs/customize/using-style-rules) to use for the translation.\n\n**Important:** The target language has to match the language of the style rule list. A list\ncreated for a root language (for example `en`) applies to that language and all of its variants\n(`EN-GB`, `EN-US`). A list created for a variant (for example `en-GB`) applies only when\n`target_lang` is that variant.\n\nAll `model_type` values are supported.",
                    "type": "string",
                    "example": "7ff9bfd6-cd85-4190-8503-d6215a321519"
                  },
                  "translation_memory_id": {
                    "$ref": "#/components/schemas/TranslationMemoryId"
                  },
                  "translation_memory_threshold": {
                    "$ref": "#/components/schemas/TranslationMemoryThreshold"
                  },
                  "custom_instructions": {
                    "description": "Specify a list of instructions to customize the translation behavior. Up to 10 custom instructions can be specified, each with a maximum of 300 characters.\n\n**Important:**  The target language must be `de`, `en`, `es`, `fr`, `it`, `ja`, `ko`, `zh` or any variants of these languages.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Use a friendly, diplomatic tone"
                    }
                  },
                  "tag_handling": {
                    "$ref": "#/components/schemas/TagHandlingOption"
                  },
                  "tag_handling_version": {
                    "$ref": "#/components/schemas/TagHandlingVersionOption"
                  },
                  "outline_detection": {
                    "$ref": "#/components/schemas/OutlineDetectionOption"
                  },
                  "enable_beta_languages": {
                    "description": "This parameter is maintained for backward compatibility and has no effect.",
                    "type": "boolean",
                    "default": false,
                    "deprecated": true
                  },
                  "non_splitting_tags": {
                    "description": "Comma-separated list of XML tags which never split sentences.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "non_splitting_tag"
                    }
                  },
                  "splitting_tags": {
                    "description": "Comma-separated list of XML tags which always cause splits.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "splitting_tag"
                    }
                  },
                  "ignore_tags": {
                    "description": "Comma-separated list of XML tags that indicate text not to be translated.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ignore_tag"
                    }
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "text",
                  "target_lang"
                ],
                "properties": {
                  "text": {
                    "description": "Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified many times in a single request, within the request size limit (128KiB). Translations are returned in the same order as they are requested. Each text in the array is translated independently — texts do not share context with each other.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "Hello, World!"
                    }
                  },
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage"
                  },
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "show_billed_characters": {
                    "$ref": "#/components/schemas/ShowBilledCharacters"
                  },
                  "split_sentences": {
                    "$ref": "#/components/schemas/SplitSentencesOption"
                  },
                  "preserve_formatting": {
                    "$ref": "#/components/schemas/PreserveFormattingOptionStr"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "model_type": {
                    "$ref": "#/components/schemas/ModelType"
                  },
                  "glossary_id": {
                    "description": "Specify the glossary to use for the translation. **Important:** This requires the `source_lang`\nparameter to be set. The language pair of the glossary has to match the language pair of the\nrequest.\n\nCannot be used together with `glossary_ids`.",
                    "type": "string",
                    "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                  },
                  "glossary_ids": {
                    "description": "Comma-separated list of up to 5 glossary IDs to use for the translation. Each glossary's matching terms are applied to the translation. May also be sent as a repeated parameter.\n\n**Important:** This requires the `source_lang` parameter to be set. Every listed glossary must contain a dictionary for the requested language pair.\n\nCannot be used together with `glossary_id`.",
                    "type": "array",
                    "maxItems": 5,
                    "items": {
                      "type": "string",
                      "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                    }
                  },
                  "translation_memory_id": {
                    "$ref": "#/components/schemas/TranslationMemoryId"
                  },
                  "translation_memory_threshold": {
                    "$ref": "#/components/schemas/TranslationMemoryThreshold"
                  },
                  "tag_handling": {
                    "$ref": "#/components/schemas/TagHandlingOption"
                  },
                  "outline_detection": {
                    "$ref": "#/components/schemas/OutlineDetectionOptionStr"
                  },
                  "enable_beta_languages": {
                    "description": "This parameter is maintained for backward compatibility and has no effect.",
                    "type": "boolean",
                    "default": false,
                    "deprecated": true
                  },
                  "non_splitting_tags": {
                    "description": "Comma-separated list of XML tags which never split sentences.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "non_splitting_tag"
                    }
                  },
                  "splitting_tags": {
                    "description": "Comma-separated list of XML tags which always cause splits.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "splitting_tag"
                    }
                  },
                  "ignore_tags": {
                    "description": "Comma-separated list of XML tags that indicate text not to be translated.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "ignore_tag"
                    }
                  }
                }
              },
              "encoding": {
                "text": {
                  "style": "form",
                  "explode": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The translate function returns a JSON representation of the translations in the order the text parameters have been specified.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translations": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "detected_source_language": {
                            "description": "The language detected in the source text. It reflects the value of the `source_lang` parameter, when specified.",
                            "type": "string",
                            "example": "EN"
                          },
                          "text": {
                            "description": "The translated text.",
                            "type": "string",
                            "example": "Hallo, Welt!"
                          },
                          "billed_characters": {
                            "description": "Number of characters counted by DeepL for billing purposes. Only present if the show_billed_characters parameter is set to true.",
                            "type": "integer",
                            "example": 42
                          },
                          "model_type_used": {
                            "description": "Indicates the translation model used. Only present if model_type parameter is included in the request.",
                            "type": "string",
                            "example": "quality_optimized"
                          },
                          "tag_handling_version": {
                            "description": "The version of the tag handling algorithm used for the translation. Only present when the `tag_handling` parameter (`xml` or `html`) is set. If you don't specify `tag_handling_version`, this shows the default that was applied.",
                            "type": "string",
                            "enum": [
                              "v2",
                              "v1"
                            ],
                            "example": "v2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScoped"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "414": {
            "$ref": "#/components/responses/URITooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Upload and Translate a Document",
        "operationId": "translateDocument",
        "description": "Upload a document for translation and receive a `document_id` and `document_key`. Use\nthem to poll the document status and download the translated file. Translation is\nasynchronous: the upload response confirms the request, not a finished translation.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "examples": {
                "Basic": {
                  "summary": "Basic Document Translation",
                  "value": {
                    "target_lang": "DE",
                    "file": "@document.docx"
                  }
                },
                "Watermark": {
                  "summary": "Adding a \"Translated by DeepL\" watermark (docx/pdf only)",
                  "value": {
                    "target_lang": "DE",
                    "file": "@document.pdf",
                    "enable_watermark": true
                  }
                },
                "SuppressImages": {
                  "summary": "Suppressing translation of embedded images (pptx only)",
                  "value": {
                    "target_lang": "DE",
                    "file": "@document.pptx",
                    "input_conversion_options": "version:1,suppress-image-types:all"
                  }
                },
                "Glossary": {
                  "summary": "Using a Glossary",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "glossary_id": "[yourGlossaryId]"
                  }
                },
                "MultipleGlossaries": {
                  "summary": "Using Multiple Glossaries",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "glossary_ids": "[yourGlossaryId1],[yourGlossaryId2]"
                  }
                },
                "StyleRule": {
                  "summary": "Using a Style Rule List",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "style_id": "[yourStyleId]"
                  }
                },
                "TranslationMemory": {
                  "summary": "Using a Translation Memory",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "translation_memory_id": "[yourTranslationMemoryId]",
                    "translation_memory_threshold": 75
                  }
                },
                "QualityEvaluation": {
                  "summary": "Requesting a quality evaluation report (beta)",
                  "value": {
                    "source_lang": "EN",
                    "target_lang": "DE",
                    "file": "@document.docx",
                    "enable_quality_evaluation": true
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "target_lang",
                  "file"
                ],
                "properties": {
                  "source_lang": {
                    "$ref": "#/components/schemas/SourceLanguage"
                  },
                  "target_lang": {
                    "$ref": "#/components/schemas/TargetLanguage"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to be translated. The file name should be included in this part's content disposition. As an alternative, the filename parameter can be used. The following file types and extensions are supported:\n  * `docx` - Microsoft Word Document\n  * `pptx` - Microsoft PowerPoint Document\n  * `xlsx` - Microsoft Excel Document\n  * `xlsm` - Microsoft Excel Macro-Enabled Workbook (currently in beta)\n  * `pdf` - Portable Document Format\n  * `htm / html` - HTML Document\n  * `txt` - Plain Text Document\n  * `xlf / xliff` - XLIFF Document (versions 1.2, 2.0, and 2.1)\n  * `srt` - SRT Document\n  * `vtt` - WebVTT Subtitle Document (currently in beta)\n  * `idml` - Adobe InDesign Markup Language\n  * `xml` - XML Document\n  * `json` - JSON Document\n  * `yaml / yml` - YAML Document (currently in beta)\n  * `properties` - Java Properties Document (currently in beta)\n  * `strings` - iOS/macOS Strings Document (currently in beta)\n  * `md / markdown` - Markdown Document (currently in beta)\n  * `dita` - DITA topic (Darwin Information Typing Architecture)\n  * `mif` - Adobe FrameMaker Interchange Format\n  * `zip` - SCORM Package (e-learning content, currently in beta)\n  * `odt` - OpenDocument Text Document (currently in beta)\n  * `rtf` - Rich Text Format Document (currently in beta)\n  * `resx` - .NET Resource Document (currently in beta)\n  * `jpeg` / `jpg` / `png` - Image (currently in beta)"
                  },
                  "filename": {
                    "type": "string",
                    "description": "The name of the uploaded file. Can be used as an alternative to including the file name in the file part's content disposition."
                  },
                  "output_format": {
                    "type": "string",
                    "description": "File extension of desired format of translated file, for example: `docx`. If unspecified, by default the translated file will be in the same format as the input file.\n"
                  },
                  "input_conversion_options": {
                    "description": "Comma-separated list of `key:value` conversion options, prefixed with a version, that control how the input document is converted before translation. For example: `version:1,suppress-image-types:all`.\n\nSupported keys:\n\n  * `suppress-image-types` - Leaves the specified types of images embedded in the document untranslated. The value is a hyphen-separated list of image content types (for example `logo-photo` suppresses logos and photos), or `all` to suppress every embedded image. Recognized image content types: `logo`, `icon`, `decorative`, `barcode`, `formula`, `signature`, `handwriting`, `stamp`, `screenshot`, `diagram`, `chart`, `photo`, `illustration`, `comic`, `music`, `infographic`, `table`, `text`, `other`, `unknown`. Only `pptx` documents support this key.\n  * `json-placeholders` - Controls how brace-delimited placeholders in `json` string values are handled. `protect` (the default) keeps identifier-shaped placeholders such as `{stars}` or `{{userName}}` verbatim so they are not translated; `translate` translates them along with the surrounding text. ICU MessageFormat skeletons such as `{count, plural, one {# item} other {# items}}` are always protected, with only the branch text translated, in both modes. Multi-word groups such as `{see note}` are treated as translatable text in both modes.\n\nFor other file types this parameter is ignored. Unrecognized keys are ignored.",
                    "type": "string",
                    "example": "version:1,suppress-image-types:all"
                  },
                  "formality": {
                    "$ref": "#/components/schemas/Formality"
                  },
                  "glossary_id": {
                    "description": "A unique ID assigned to a glossary. To check glossary support for a language pair, call `GET /v3/languages?resource=translate_document` and verify the `glossary` feature key is present on both the source and target language.\n\nCannot be used together with `glossary_ids`.",
                    "type": "string",
                    "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                  },
                  "glossary_ids": {
                    "description": "Comma-separated list of up to 5 glossary IDs to use for the translation. Each glossary's matching terms are applied to the translated document. May also be sent as a repeated parameter.\n\n**Important:** This requires the `source_lang` parameter to be set. Every listed glossary must contain a dictionary for the requested language pair.\n\nCannot be used together with `glossary_id`.",
                    "type": "array",
                    "maxItems": 5,
                    "items": {
                      "type": "string",
                      "example": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7"
                    }
                  },
                  "style_id": {
                    "description": "Specify the [style rule list](/docs/customize/using-style-rules) to use for the translation.\n\n**Important:** The target language has to match the language of the style rule list. A list\ncreated for a root language (for example `en`) applies to that language and all of its variants\n(`EN-GB`, `EN-US`). A list created for a variant (for example `en-GB`) applies only when\n`target_lang` is that variant.",
                    "type": "string",
                    "example": "7ff9bfd6-cd85-4190-8503-d6215a321519"
                  },
                  "translation_memory_id": {
                    "$ref": "#/components/schemas/TranslationMemoryId"
                  },
                  "translation_memory_threshold": {
                    "$ref": "#/components/schemas/TranslationMemoryThreshold"
                  },
                  "enable_watermark": {
                    "description": "When `true`, adds a \"Translated by DeepL\" watermark to the translated document.\n\nOnly supported for `docx` and `pdf` output. For all other output formats the parameter is ignored and the document is returned without a watermark.",
                    "type": "boolean",
                    "default": false
                  },
                  "enable_quality_evaluation": {
                    "description": "(beta) When `true`, DeepL also evaluates the finished translation and returns a `quality_evaluation_job_id`. Poll [`GET /v1/quality-evaluations/{job_id}`](/api-reference/quality-evaluations/poll) with it for a per-segment report of translation issues. The translation itself is unaffected.\n\n**Important:** Available to select customers; contact your customer success manager to enable it. Supported for `docx`, `pptx`, `pdf`, `srt`, `idml`, `xml`, `dita`, `mif`, and XLIFF 2.1 uploads, and for the [supported language pairs](/api-reference/quality-evaluations/poll#supported-language-pairs) only.\n\nRejected before the upload is accepted: `403` if quality evaluation is not enabled for the account, `400` for an ineligible file type, an unsupported language pair, or a value other than `true` or `false`.",
                    "type": "boolean",
                    "default": false
                  },
                  "enable_beta_languages": {
                    "description": "This parameter is maintained for backward compatibility and has no effect.",
                    "type": "boolean",
                    "default": false,
                    "deprecated": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document function returns a JSON object containing the ID and encryption key assigned to the uploaded document. Once received by the server, uploaded documents are immediately encrypted using a uniquely generated encryption key. This key is not persistently stored on the server. Therefore, it must be stored by the client and sent back to the server with every subsequent request that refers to this particular document.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document_id": {
                      "description": "A unique ID assigned to the uploaded document and the translation process. Must be used when referring to this particular document in subsequent API requests.",
                      "type": "string",
                      "example": "04DE5AD98A02647D83285A36021911C6"
                    },
                    "document_key": {
                      "description": "A unique key that is used to encrypt the uploaded document as well as the resulting translation on the server side. Must be provided with every subsequent API request regarding this particular document.",
                      "type": "string",
                      "example": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                    },
                    "quality_evaluation_job_id": {
                      "description": "(beta) A unique ID assigned to the quality evaluation. Returned only when the request set `enable_quality_evaluation=true`. Use it to retrieve the report from [`GET /v1/quality-evaluations/{job_id}`](/api-reference/quality-evaluations/poll).",
                      "type": "string",
                      "example": "04DE5AD98A02647D83285A36021911C6"
                    }
                  }
                },
                "example": {
                  "document_id": "04DE5AD98A02647D83285A36021911C6",
                  "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScoped"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document/{document_id}": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Check Document Status",
        "operationId": "getDocumentStatus",
        "description": "Retrieve the translation status of an uploaded document. Poll this endpoint until the\nstatus is `done`, then download the result. The response includes an estimated\nremaining time while the document is still translating.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              },
              "examples": {
                "basic": {
                  "summary": "Basic",
                  "value": {
                    "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document status request returns a JSON object containing the document ID that was used in the request as well as string indicating the current status of the translation process. While the translation is running, the estimated number of seconds remaining until the process is done is also included in the response.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "document_id",
                    "status"
                  ],
                  "properties": {
                    "document_id": {
                      "description": "A unique ID assigned to the uploaded document and the requested translation process. The same ID that was used when requesting the translation status.",
                      "type": "string",
                      "example": "04DE5AD98A02647D83285A36021911C6"
                    },
                    "status": {
                      "description": "A short description of the state the document translation process is currently in. Possible values are:\n * `queued` - the translation job is waiting in line to be processed\n * `translating` - the translation is currently ongoing\n * `done` - the translation is done and the translated document is ready for download\n * `error` - an irrecoverable error occurred while translating the document",
                      "type": "string",
                      "example": "done",
                      "enum": [
                        "queued",
                        "translating",
                        "done",
                        "error"
                      ]
                    },
                    "seconds_remaining": {
                      "description": "Estimated number of seconds until the translation is done.\nThis parameter is only included while `status` is `\"translating\"`.",
                      "type": "integer"
                    },
                    "billed_characters": {
                      "description": "The number of characters billed to your account. The characters will only be billed after a successful download request.",
                      "type": "integer",
                      "example": 1337
                    },
                    "error_message": {
                      "description": "A short description of the error, if available.\nNote that the content is subject to change.\nThis parameter may be included if an error occurred during translation.",
                      "type": "string",
                      "example": "Only available if document status is error"
                    }
                  }
                },
                "examples": {
                  "translating": {
                    "summary": "Translating",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "translating",
                      "seconds_remaining": 20
                    }
                  },
                  "done": {
                    "summary": "Done",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "done",
                      "billed_characters": 1337
                    }
                  },
                  "queued": {
                    "summary": "Queued",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "queued"
                    }
                  },
                  "error": {
                    "summary": "Error",
                    "value": {
                      "document_id": "04DE5AD98A02647D83285A36021911C6",
                      "status": "error",
                      "message": "Source and target language are equal."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScoped"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/document/{document_id}/result": {
      "post": {
        "tags": [
          "TranslateDocuments"
        ],
        "summary": "Download Translated Document",
        "operationId": "downloadDocument",
        "description": "Download a translated document. The document must have a status of `done`. Each\ndocument can be downloaded only once: after a successful download DeepL deletes the\nfile and invalidates the `document_id`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              },
              "examples": {
                "basic": {
                  "summary": "Basic",
                  "value": {
                    "document_key": "0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document is provided as a download. There is no other data included in the response besides the document data. The content type used in the response corresponds to the document type.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "description": "binary document data"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScoped"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404DocTransDownload"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable503DocTransDownload"
          },
          "504": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossary-language-pairs": {
      "get": {
        "deprecated": true,
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "List Language Pairs Supported by Glossaries",
        "description": "**Deprecated.** Use `GET /v3/languages?resource=glossary` instead, which returns per-language\navailability including source and target roles.\n\nRetrieve the list of language pairs supported by the glossary feature.",
        "operationId": "listGlossaryLanguages",
        "responses": {
          "200": {
            "description": "A JSON object containing the language pairs in its `supported_languages` property.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supported_languages": {
                      "type": "array",
                      "description": "The list of supported languages",
                      "items": {
                        "type": "object",
                        "required": [
                          "source_lang",
                          "target_lang"
                        ],
                        "properties": {
                          "source_lang": {
                            "description": "The language in which the source texts in the glossary are specified.",
                            "type": "string",
                            "example": "en"
                          },
                          "target_lang": {
                            "description": "The language in which the target texts in the glossary are specified.",
                            "type": "string",
                            "example": "de"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "supported_languages": [
                    {
                      "source_lang": "de",
                      "target_lang": "en"
                    },
                    {
                      "source_lang": "en",
                      "target_lang": "de"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries": {
      "post": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Create a Glossary",
        "operationId": "createMultilingualGlossary",
        "description": "Create a glossary containing one or more dictionaries, each holding entries for a\nsingle source and target language pair. Use the returned `glossary_id` with the\ntranslation endpoints to apply your own preferred translations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultilingualGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "dictionaries": [
                      {
                        "source_lang": "en",
                        "target_lang": "de",
                        "entries": "Hello\tGuten Tag",
                        "entries_format": "tsv"
                      },
                      {
                        "source_lang": "de",
                        "target_lang": "en",
                        "entries": "Guten Tag\tHello",
                        "entries_format": "tsv"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The function for creating a glossary returns a JSON object containing the ID of the newly created glossary and a boolean flag that indicates if the created glossary can already be used in translate requests.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "List all Glossaries",
        "operationId": "listMultilingualGlossaries",
        "description": "List all glossaries and their meta-information, but not the glossary entries.",
        "responses": {
          "200": {
            "description": "JSON object containing a the glossaries.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "glossaries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MultilingualGlossary"
                      }
                    }
                  }
                },
                "example": {
                  "glossaries": [
                    {
                      "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                      "name": "My Glossary",
                      "dictionaries": [
                        {
                          "source_lang": "EN",
                          "target_lang": "DE",
                          "entry_count": 1
                        },
                        {
                          "source_lang": "DE",
                          "target_lang": "EN",
                          "entry_count": 2
                        }
                      ],
                      "creation_time": "2021-08-03T14:16:18.329Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}": {
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Retrieve Glossary Details",
        "description": "Retrieve meta information for a single glossary, omitting the glossary entries.",
        "operationId": "getMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "dictionaries": [
                    {
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "entry_count": 1
                    },
                    {
                      "source_lang": "DE",
                      "target_lang": "EN",
                      "entry_count": 2
                    }
                  ],
                  "creation_time": "2021-08-03T14:16:18.429Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Edit glossary details",
        "description": "Edit glossary details, such as name or a dictionary for a source and target language.",
        "operationId": "patchMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMultilingualGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "dictionaries": [
                      {
                        "source_lang": "en",
                        "target_lang": "de",
                        "entries": "Hello\tGuten Tag",
                        "entries_format": "tsv"
                      }
                    ]
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchMultilingualGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing the glossary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossary"
                },
                "example": {
                  "glossary_id": "def3a26b-3e84-45b3-84ae-0c0aaf3525f7",
                  "name": "My Glossary",
                  "dictionaries": [
                    {
                      "source_lang": "EN",
                      "target_lang": "DE",
                      "creation_time": "2021-08-03T14:16:18.329Z",
                      "entry_count": 1
                    },
                    {
                      "source_lang": "DE",
                      "target_lang": "EN",
                      "creation_time": "2021-08-03T14:16:18.429Z",
                      "entry_count": 2
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Delete a Glossary",
        "description": "Deletes the specified glossary.",
        "operationId": "deleteMultilingualGlossary",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}/entries": {
      "get": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Retrieve Glossary Entries",
        "operationId": "getMultilingualGlossaryEntries",
        "description": "List the entries of a single glossary in tsv format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "source_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossarySourceLanguage"
            }
          },
          {
            "name": "target_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossaryTargetLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entries in tsv, wrapped in a JSON object.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dictionaries": {
                      "description": "The dictionaries of the glossary, each with its entries in the requested format.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MultilingualGlossaryEntries"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v3/glossaries/{glossary_id}/dictionaries": {
      "delete": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Deletes the dictionary associated with the given language pair with the given glossary ID.",
        "operationId": "deleteDictionary",
        "description": "Delete the dictionary for a single source and target language pair from a glossary,\nleaving the glossary and its other dictionaries in place.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          },
          {
            "name": "source_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossarySourceLanguage"
            }
          },
          {
            "name": "target_lang",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GlossaryTargetLanguage"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content upon success."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      },
      "put": {
        "tags": [
          "ManageMultilingualGlossaries"
        ],
        "summary": "Replaces or creates a dictionary in the glossary with the specified entries.",
        "operationId": "replaceDictionary",
        "description": "Replace all entries in the dictionary for a source and target language pair, or create\nthe dictionary if it does not exist yet. Entries not included in the request are removed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GlossaryID"
          }
        ],
        "requestBody": {
          "description": "The dictionary to insert into (or overwrite in) the multilingual glossary.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultilingualGlossaryEntries"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing the dictionary meta-information.",
            "headers": {
              "X-Trace-ID": {
                "$ref": "#/components/headers/X-Trace-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultilingualGlossaryEntriesInformation"
                },
                "example": {
                  "source_lang": "EN",
                  "target_lang": "DE",
                  "entry_count": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestGlossaries"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenGlossaries"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeGlossaries"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "456": {
            "$ref": "#/components/responses/QuotaExceededGlossaries"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "529": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "security": [
          {
            "auth_header": []
          }
        ]
      }
    },
    "/v2/glossaries": {
      "post": {
        "tags": [
          "ManageGlossaries"
        ],
        "summary": "Create a Glossary",
        "operationId": "createGlossary",
        "description": "**For new integrations we recommend `POST /v3/glossaries`**, which supports multiple\nlanguage pairs in a single glossary.\n\nCreate a glossary for one source and target language pair and return its `glossary_id`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlossaryParameters"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "name": "My Glossary",
                    "source_lang": "en",
                    "target_lang": "de",
                    "entries": "Hello\tGuten Tag",
                    "entries_format": "tsv"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateGlossaryParameters"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The function for creating a glossary returns a JSON object containing the ID of the newly created glossary and a boolean flag that indicates if the created glossary can already be used in translate requests.",
            "headers": {
[...]
