{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Search, read, send, and manage Gmail mailbox messages, threads, labels, drafts, and settings.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Gmail",
    "version": "v1",
    "x-bionic-slug": "google-gmail",
    "x-bionic-source-url": "https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest",
    "x-bionic-logo-source-url": "https://raw.githubusercontent.com/gilbarbara/logos/main/logos/google-gmail.svg",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjU2cHgiIGhlaWdodD0iMjA0cHgiIHZpZXdCb3g9IjAgMCAyNTYgMjA0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIj4KICAgIDx0aXRsZT5HbWFpbDwvdGl0bGU+CiAgICA8ZGVmcz4KICAgICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIxNjUiIHgyPSIxNjUiIHkxPSI0NCIgeTI9IjE2NiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjNjBkNjczIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIG9mZnNldD0iMC4xNyIgc3RvcC1jb2xvcj0iIzQyYzg2OCI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjAuMzkiIHN0b3AtY29sb3I9IiMwZWJjNWYiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agb2Zmc2V0PSIwLjYyIiBzdG9wLWNvbG9yPSIjMDBhOWJiIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIG9mZnNldD0iMC44NiIgc3RvcC1jb2xvcj0iIzNjOTBmZiI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMzMTg2ZmYiPjwvc3RvcD4KICAgICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iYiIgeDE9IjgiIHgyPSIxODQiIHkxPSI0Ni4xMyIgeTI9IjQ2LjEzIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgICAgICAgIDxzdG9wIG9mZnNldD0iMC4wOCIgc3RvcC1jb2xvcj0iI2ZmNjNhMCI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjAuMyIgc3RvcC1jb2xvcj0iI2ZjNDEzZCI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjAuNSIgc3RvcC1jb2xvcj0iI2ZjNDEzZCI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjAuNjUiIHN0b3AtY29sb3I9IiNmYzQxM2QiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agb2Zmc2V0PSIwLjcyIiBzdG9wLWNvbG9yPSIjZmM1YzMwIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIG9mZnNldD0iMC44NiIgc3RvcC1jb2xvcj0iI2ZlYjEwYyI+PC9zdG9wPgogICAgICAgICAgICA8c3RvcCBvZmZzZXQ9IjAuOTEiIHN0b3AtY29sb3I9IiNmZWM3MDAiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agb2Zmc2V0PSIwLjk2IiBzdG9wLWNvbG9yPSIjZmZkYjBmIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIHRyYW5zZm9ybT0ibWF0cml4KDEuNDU0NTQyLCAwLCAwLCAxLjQ1NDU0MiwgLTExLjYzNjA2MywgLTM3LjgxNzY5NikiPgogICAgICA8cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJNMTQ2IDQ0aDM4djExMGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC0yMGE2IDYgMCAwIDEtNi02eiI+PC9wYXRoPgogICAgICA8cGF0aCBmaWxsPSIjZmM0MTNkIiBkPSJNNDYgNDRIOHYxMTBjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmgyMGE2IDYgMCAwIDAgNi02eiI+PC9wYXRoPgogICAgICA8cGF0aCBmaWxsPSJ1cmwoI2IpIiBkPSJNMzkuMjI2IDMwLjQ1NmMtOC4wMzMtNi43NTItMjAuMDE4LTUuNzE0LTI2Ljc3IDIuMzE5LTYuNzUyIDguMDMyLTUuNzE0IDIwLjAxNyAyLjMxOSAyNi43N2w3Ni4wNzggNjMuOTQ5YTggOCAwIDAgMCAxMC4yOTUgMGw3Ni4wNzgtNjMuOTVjOC4wMzItNi43NTIgOS4wNy0xOC43MzcgMi4zMTgtMjYuNzctNi43NTItOC4wMzItMTguNzM3LTkuMDctMjYuNzY5LTIuMzE4TDk2IDc4LjE4eiI+PC9wYXRoPgogICAgPC9nPgoKPC9zdmc+Cg=="
    }
  },
  "servers": [
    {
      "url": "https://gmail.googleapis.com/"
    }
  ],
  "paths": {
    "/gmail/v1/users/{userId}/drafts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "Include drafts from `SPAM` and `TRASH` in the results.",
            "in": "query",
            "name": "includeSpamTrash",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "default": 100,
              "type": "integer"
            }
          },
          {
            "description": "Page token to retrieve a specific page of results in the list.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListDraftsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "operationId": "gmail.users.drafts.list"
      },
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "operationId": "gmail.users.drafts.create",
        "requestBody": {
          "content": {
            "message/bhttp": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/cpim": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/external-body": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/feedback-report": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-headers": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/http": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/imdn+xml": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/mls": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/news": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/ohttp-req": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/ohttp-res": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/partial": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/rfc822": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/s-http": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/sip": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/sipfrag": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/tracking-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/vnd.si.simp": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/vnd.wfa.wsc": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/drafts/send": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "operationId": "gmail.users.drafts.send",
        "requestBody": {
          "content": {
            "message/bhttp": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/cpim": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/external-body": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/feedback-report": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-headers": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/http": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/imdn+xml": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/mls": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/news": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/ohttp-req": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/ohttp-res": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/partial": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/rfc822": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/s-http": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/sip": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/sipfrag": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/tracking-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/vnd.si.simp": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/vnd.wfa.wsc": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/drafts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the draft to delete.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "operationId": "gmail.users.drafts.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the draft to retrieve.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The format to return the draft in.",
            "in": "query",
            "name": "format",
            "schema": {
              "default": "full",
              "enum": [
                "minimal",
                "full",
                "raw",
                "metadata"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "operationId": "gmail.users.drafts.get"
      },
      "put": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the draft to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
        "operationId": "gmail.users.drafts.update",
        "requestBody": {
          "content": {
            "message/bhttp": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/cpim": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/external-body": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/feedback-report": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/global-headers": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/http": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/imdn+xml": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/mls": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/news": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/ohttp-req": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/ohttp-res": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/partial": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/rfc822": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/s-http": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/sip": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/sipfrag": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/tracking-status": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/vnd.si.simp": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            },
            "message/vnd.wfa.wsc": {
              "schema": {
                "$ref": "#/components/schemas/Draft"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "History types to be returned by the function",
            "explode": true,
            "in": "query",
            "name": "historyTypes",
            "schema": {
              "items": {
                "enum": [
                  "messageAdded",
                  "messageDeleted",
                  "labelAdded",
                  "labelRemoved"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Only return messages with a label matching the ID.",
            "in": "query",
            "name": "labelId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "default": 100,
              "type": "integer"
            }
          },
          {
            "description": "Page token to retrieve a specific page of results in the list.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
            "in": "query",
            "name": "startHistoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListHistoryResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`). For more information, see [Synchronize clients with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).",
        "operationId": "gmail.users.history.list"
      }
    },
    "/gmail/v1/users/{userId}/labels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListLabelsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.labels"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.labels"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Lists all labels in the user's mailbox. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
        "operationId": "gmail.users.labels.list"
      },
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.labels"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.labels"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Creates a label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
        "operationId": "gmail.users.labels.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/labels/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the label to delete.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.labels"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.labels"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it's applied to. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
        "operationId": "gmail.users.labels.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the label to retrieve.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.labels"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.labels"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Gets the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
        "operationId": "gmail.users.labels.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the label to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.labels"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.labels"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Patch the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
        "operationId": "gmail.users.labels.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the label to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.labels"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.labels"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Updates the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
        "operationId": "gmail.users.labels.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "Include messages from `SPAM` and `TRASH` in the results.",
            "in": "query",
            "name": "includeSpamTrash",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
            "explode": true,
            "in": "query",
            "name": "labelIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "default": 100,
              "type": "integer"
            }
          },
          {
            "description": "Page token to retrieve a specific page of results in the list.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListMessagesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
        "operationId": "gmail.users.messages.list"
      },
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
            "in": "query",
            "name": "deleted",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Source for Gmail's internal date of the message.",
            "in": "query",
            "name": "internalDateSource",
            "schema": {
              "default": "receivedTime",
              "enum": [
                "receivedTime",
                "dateHeader"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.insert"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.insert"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
        "operationId": "gmail.users.messages.insert",
        "requestBody": {
          "content": {
            "message/bhttp": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/cpim": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/external-body": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/feedback-report": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-headers": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/http": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/imdn+xml": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/mls": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/news": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/ohttp-req": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/ohttp-res": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/partial": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/rfc822": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/s-http": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/sip": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/sipfrag": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/tracking-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/vnd.si.simp": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/vnd.wfa.wsc": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/batchDelete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
        "operationId": "gmail.users.messages.batchDelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteMessagesRequest"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/batchModify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
        "operationId": "gmail.users.messages.batchModify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchModifyMessagesRequest"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
            "in": "query",
            "name": "deleted",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Source for Gmail's internal date of the message.",
            "in": "query",
            "name": "internalDateSource",
            "schema": {
              "default": "dateHeader",
              "enum": [
                "receivedTime",
                "dateHeader"
              ],
              "type": "string"
            }
          },
          {
            "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
            "in": "query",
            "name": "neverMarkSpam",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
            "in": "query",
            "name": "processForCalendar",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.insert"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.insert"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
        "operationId": "gmail.users.messages.import",
        "requestBody": {
          "content": {
            "message/bhttp": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/cpim": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/external-body": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/feedback-report": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-headers": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/http": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/imdn+xml": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/mls": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/news": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/ohttp-req": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/ohttp-res": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/partial": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/rfc822": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/s-http": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/sip": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/sipfrag": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/tracking-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/vnd.si.simp": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/vnd.wfa.wsc": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/send": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.action.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.send"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.send"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
        "operationId": "gmail.users.messages.send",
        "requestBody": {
          "content": {
            "message/bhttp": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/cpim": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/external-body": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/feedback-report": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-delivery-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-disposition-notification": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/global-headers": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/http": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/imdn+xml": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/mls": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/news": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/ohttp-req": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/ohttp-res": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/partial": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/rfc822": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/s-http": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/sip": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/sipfrag": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/tracking-status": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/vnd.si.simp": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            },
            "message/vnd.wfa.wsc": {
              "schema": {
                "$ref": "#/components/schemas/Message"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the message to delete.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
        "operationId": "gmail.users.messages.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The format to return the message in.",
            "in": "query",
            "name": "format",
            "schema": {
              "default": "full",
              "enum": [
                "minimal",
                "full",
                "raw",
                "metadata"
              ],
              "type": "string"
            }
          },
          {
            "description": "When given and format is `METADATA`, only include headers specified.",
            "explode": true,
            "in": "query",
            "name": "metadataHeaders",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.action"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.action"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Gets the specified message.",
        "operationId": "gmail.users.messages.get"
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}/modify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the message to modify.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
        "operationId": "gmail.users.messages.modify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyMessageRequest"
              }
            }
          }
        }
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}/trash": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the message to Trash.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Moves the specified message to the trash.",
        "operationId": "gmail.users.messages.trash"
      }
    },
    "/gmail/v1/users/{userId}/messages/{id}/untrash": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the message to remove from Trash.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Removes the specified message from the trash.",
        "operationId": "gmail.users.messages.untrash"
      }
    },
    "/gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          },
          {
            "description": "The ID of the message containing the attachment.",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the attachment.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessagePartBody"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.action"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.action"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.addons.current.message.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
        ],
        "description": "Gets the specified message attachment.",
        "operationId": "gmail.users.messages.attachments.get"
      }
    },
    "/gmail/v1/users/{userId}/profile": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "default": "me",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://mail.google.com/"
            ],
            "Oauth2c": [
              "https://mail.google.com/"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.compose"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.compose"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.modify"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.modify"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/gmail.readonly"
            ]
          }
        ],
        "tags": [
          "users"
[...]
