{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Create and manage data transfer requests between Workspace users for supported data types.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Workspace Admin: Data Transfer",
    "version": "datatransfer_v1",
    "x-bionic-slug": "google-workspace-admin-data-transfer",
    "x-bionic-source-url": "https://admin.googleapis.com/$discovery/rest?version=datatransfer_v1",
    "x-bionic-logo-source-url": "https://knowledge.workspace.google.com/static/images/icons/product/admin-console.svg",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE5MiAxOTIiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDE5MiAxOTIiIHdpZHRoPSIyNHB4Ij48cmVjdCBmaWxsPSJub25lIiBoZWlnaHQ9IjE5MiIgd2lkdGg9IjE5MiIvPjxnPjxnPjxwYXRoIGQ9Ik0yNC41MywxMzBsMjAuNjksMzUuODRjMy4yNyw1LjY3LDkuMzIsOS4xNiwxNS44Niw5LjE2aDQ0LjA2bC03LjkzLTI0LjA3TDc4LjE1LDEzMGwtMjYuODEtNC42NiBMMjQuNTMsMTMweiIgZmlsbD0iIzE5NjdEMiIvPjxwYXRoIGQ9Ik0xODIuMDYsODYuODRsLTIwLjA5LTM0LjhsLTE3LjI4LDE5LjEzTDEzNC40OSw5NmwxMS4wOCwyNi41N2wxNi4yNywxNy42bDIwLjIyLTM1LjAxIEMxODUuMzMsOTkuNDksMTg1LjMzLDkyLjUxLDE4Mi4wNiw4Ni44NHoiIGZpbGw9IiMxOTY3RDIiLz48cGF0aCBkPSJNMTA1LjE1LDE3SDYxLjA5Yy02LjU0LDAtMTIuNTksMy40OS0xNS44Niw5LjE2TDI0LjUzLDYybDI2LjgxLDQuNjZMNzguMTUsNjJsMTkuNTctMjAuOTNMMTA1LjE1LDE3eiIgZmlsbD0iIzE5NjdEMiIvPjxwYXRoIGQ9Ik01Ny43NSw5NmwyMC40LTM0SDI0LjUzTDEwLjE5LDg2Ljg0Yy0zLjI3LDUuNjctMy4yNywxMi42NSwwLDE4LjMyTDI0LjUzLDEzMGg1My42Mkw1Ny43NSw5NnoiIGZpbGw9IiM0Mjg1RjQiLz48cGF0aCBkPSJNMTE0LjA5LDYybDIwLjQsMzRsMjcuNDctNDMuOTZsLTE0Ljk0LTI1Ljg4Yy0zLjI3LTUuNjctOS4zMi05LjE2LTE1Ljg2LTkuMTZoLTI2LjAxbC0yNyw0NUgxMTQuMDl6IiBmaWxsPSIjNDI4NUY0Ii8+PHBhdGggZD0iTTExNC4wOSwxMzBINzguMTVsMjcsNDVoMjYuMDFjNi41NCwwLDEyLjU5LTMuNDksMTUuODYtOS4xNmwxNC44Mi0yNS42N0wxMzQuNDksOTZMMTE0LjA5LDEzMHoiIGZpbGw9IiM0Mjg1RjQiLz48L2c+PC9nPjwvc3ZnPg=="
    }
  },
  "servers": [
    {
      "url": "https://admin.googleapis.com/"
    }
  ],
  "paths": {
    "/admin/datatransfer/v1/applications": {
      "parameters": [
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/alt"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Immutable ID of the Google Workspace account.",
            "in": "query",
            "name": "customerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return. Default is 100.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Token to specify next page in the list.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationsListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ]
          }
        ],
        "tags": [
          "applications"
        ],
        "description": "Lists the applications available for data transfer for a customer.",
        "operationId": "datatransfer.applications.list"
      }
    },
    "/admin/datatransfer/v1/applications/{applicationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/alt"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "ID of the application resource to be retrieved.",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ]
          }
        ],
        "tags": [
          "applications"
        ],
        "description": "Retrieves information about an application for the given application ID.",
        "operationId": "datatransfer.applications.get"
      }
    },
    "/admin/datatransfer/v1/transfers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/alt"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Immutable ID of the Google Workspace account.",
            "in": "query",
            "name": "customerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return. Default is 100.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Destination user's profile ID.",
            "in": "query",
            "name": "newOwnerUserId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Source user's profile ID.",
            "in": "query",
            "name": "oldOwnerUserId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Token to specify the next page in the list.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Status of the transfer.",
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataTransfersListResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ]
          }
        ],
        "tags": [
          "transfers"
        ],
        "description": "Lists the transfers for a customer by source user, destination user, or status.",
        "operationId": "datatransfer.transfers.list"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataTransfer"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ]
          }
        ],
        "tags": [
          "transfers"
        ],
        "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
        "operationId": "datatransfer.transfers.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataTransfer"
              }
            }
          }
        }
      }
    },
    "/admin/datatransfer/v1/transfers/{dataTransferId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/alt"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
            "in": "path",
            "name": "dataTransferId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DataTransfer"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admin.datatransfer.readonly"
            ]
          }
        ],
        "tags": [
          "transfers"
        ],
        "description": "Retrieves a data transfer request by its resource ID.",
        "operationId": "datatransfer.transfers.get"
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Application": {
        "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
        "properties": {
          "etag": {
            "description": "Etag of the resource.",
            "type": "string"
          },
          "id": {
            "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
            "format": "int64",
            "type": "string"
          },
          "kind": {
            "default": "admin#datatransfer#ApplicationResource",
            "description": "Identifies the resource as a DataTransfer Application Resource.",
            "type": "string"
          },
          "name": {
            "description": "The application's name.",
            "type": "string"
          },
          "transferParams": {
            "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
            "items": {
              "$ref": "#/components/schemas/ApplicationTransferParam"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationDataTransfer": {
        "description": "Template to map fields of ApplicationDataTransfer resource.",
        "properties": {
          "applicationId": {
            "description": "The application's ID.",
            "format": "int64",
            "type": "string"
          },
          "applicationTransferParams": {
            "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
            "items": {
              "$ref": "#/components/schemas/ApplicationTransferParam"
            },
            "type": "array"
          },
          "applicationTransferStatus": {
            "description": "Read-only. Current status of transfer for this application.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationTransferParam": {
        "description": "Template for application transfer parameters.",
        "properties": {
          "key": {
            "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
            "type": "string"
          },
          "value": {
            "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationsListResponse": {
        "description": "Template for a collection of Applications.",
        "properties": {
          "applications": {
            "description": "The list of applications that support data transfer and are also installed for the customer.",
            "items": {
              "$ref": "#/components/schemas/Application"
            },
            "type": "array"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "kind": {
            "default": "admin#datatransfer#applicationsList",
            "description": "Identifies the resource as a collection of Applications.",
            "type": "string"
          },
          "nextPageToken": {
            "description": "Token to specify the next page in the list.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataTransfer": {
        "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
        "properties": {
          "applicationDataTransfers": {
            "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
            "items": {
              "$ref": "#/components/schemas/ApplicationDataTransfer"
            },
            "type": "array"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "id": {
            "description": "Read-only. The transfer's ID.",
            "type": "string"
          },
          "kind": {
            "default": "admin#datatransfer#DataTransfer",
            "description": "Identifies the resource as a DataTransfer request.",
            "type": "string"
          },
          "newOwnerUserId": {
            "description": "ID of the user to whom the data is being transferred.",
            "type": "string"
          },
          "oldOwnerUserId": {
            "description": "ID of the user whose data is being transferred.",
            "type": "string"
          },
          "overallTransferStatusCode": {
            "description": "Read-only. Overall transfer status.",
            "type": "string"
          },
          "requestTime": {
            "description": "Read-only. The time at which the data transfer was requested.",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataTransfersListResponse": {
        "description": "Template for a collection of DataTransfer resources.",
        "properties": {
          "dataTransfers": {
            "description": "List of data transfer requests.",
            "items": {
              "$ref": "#/components/schemas/DataTransfer"
            },
            "type": "array"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "kind": {
            "default": "admin#datatransfer#dataTransfersList",
            "description": "Identifies the resource as a collection of data transfer requests.",
            "type": "string"
          },
          "nextPageToken": {
            "description": "Token to specify the next page in the list.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/admin.datatransfer": "View and manage data transfers between users in your organization",
              "https://www.googleapis.com/auth/admin.datatransfer.readonly": "View data transfers between users in your organization"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 accessCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/admin.datatransfer": "View and manage data transfers between users in your organization",
              "https://www.googleapis.com/auth/admin.datatransfer.readonly": "View data transfers between users in your organization"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "applications"
    },
    {
      "name": "transfers"
    }
  ],
  "externalDocs": {
    "url": "https://developers.google.com/workspace/admin/"
  }
}
