{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Create and edit Google Docs documents, including document content, formatting, and suggestions.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Docs",
    "version": "v1",
    "x-bionic-slug": "google-docs",
    "x-bionic-source-url": "https://www.googleapis.com/discovery/v1/apis/docs/v1/rest",
    "x-bionic-logo-source-url": "https://knowledge.workspace.google.com/static/images/icons/product/docs.svg",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIiIGhlaWdodD0iMTkyIiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTkyIDE5MiI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIxMjgiIGhlaWdodD0iMTc2IiB4PSIzMiIgeT0iOCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iIzMxODZmZiIgZD0iTTEzMC4zMyAxODRINjEuNmMtOC45NCAwLTEzLjQyIDAtMTYuOTYtMS40YTIwIDIwIDAgMCAxLTExLjI0LTExLjI0Yy0xLjQtMy41NS0xLjQtOC4wMi0xLjQtMTYuOTZWMzcuNmMwLTguOTQgMC0xMy40MiAxLjQtMTYuOTZBMjAgMjAgMCAwIDEgNDQuNjQgOS40QzQ4LjE4IDggNTIuNjYgOCA2MS42IDhIMTAwbDU0LjggNTQuOGMxLjY1IDEuNjUgMi40OCAyLjQ4IDMuMTIgMy40MmExMiAxMiAwIDAgMSAxLjg3IDQuNWMuMiAxLjEyLjIgMi4zLjIgNC42OC0uMDMgNDguOTItLjA1IDQ5LjQtLjA1IDc4Ljk3IDAgOC45NiAwIDEzLjQ1LTEuNCAxN2EyMCAyMCAwIDAgMS0xMS4yNCAxMS4yM2MtMy41NSAxLjQtOC4wMiAxLjQtMTYuOTcgMS40Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMzMTg2ZmYiIGQ9Ik0xNTkuOTQgMTg0SDMyVjhoNjhsNjAgNjB6Ii8+PGcgZmlsdGVyPSJ1cmwoI2IpIj48cGF0aCBmaWxsPSJ1cmwoI2MpIiBkPSJNNDMgMTkyaDEwNlYyMEg0M3oiLz48L2c+PC9nPjxwYXRoIGZpbGw9IiM3NmJiZmYiIGQ9Ik0xNTUgNjNjLTIuNTEtMS44OS01LjYyLTMtOS0zaC0zMy4yQTEyLjggMTIuOCAwIDAgMSAxMDAgNDcuMlY4eiIvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSIxMiIgeD0iNjQiIHk9IjExNCIgZmlsbD0iI2ZmZiIgcng9IjYiLz48cmVjdCB3aWR0aD0iNDgiIGhlaWdodD0iMTIiIHg9IjY0IiB5PSIxNDMiIGZpbGw9IiNmZmYiIHJ4PSI2Ii8+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJjIiB4MT0iOTYiIHgyPSI1NC42MSIgeTE9IjU5LjI4IiB5Mj0iMTcxLjM0IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIuMzMiIHN0b3AtY29sb3I9IiMzMTg2ZmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNhOWE4ZmYiLz48L2xpbmVhckdyYWRpZW50PjxmaWx0ZXIgaWQ9ImIiIHdpZHRoPSIxMzAiIGhlaWdodD0iMTk2IiB4PSIzMSIgeT0iOCIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZUZsb29kIGZsb29kLW9wYWNpdHk9IjAiIHJlc3VsdD0iQmFja2dyb3VuZEltYWdlRml4Ii8+PGZlQmxlbmQgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iQmFja2dyb3VuZEltYWdlRml4IiByZXN1bHQ9InNoYXBlIi8+PGZlR2F1c3NpYW5CbHVyIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl8zNzI0Ml84NzYyIiBzdGREZXZpYXRpb249IjYiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+"
    }
  },
  "servers": [
    {
      "url": "https://docs.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/documents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/documents"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/documents"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "documents"
        ],
        "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
        "operationId": "docs.documents.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        }
      }
    },
    "/v1/documents/{documentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The ID of the document to retrieve.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The comments view mode to apply to the document. This allows viewing the document with comments omitted or included. If one is not specified, COMMENTS_VIEW_MODE_OMITTED is used. If you set comments_view_mode to any value, you must also set include_tabs_content to `true` or use a field mask that references the Document.tabs field (or any subfield). If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED, you must also explicitly set suggestions_view_mode to SUGGESTIONS_INLINE. If you set comments_view_mode to COMMENTS_VIEW_MODE_INCLUDED or COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS, you may not set suggestions_view_mode to PREVIEW_WITHOUT_SUGGESTIONS or PREVIEW_SUGGESTIONS_ACCEPTED. [Developer Preview](https://developers.google.com/workspace/preview).",
            "in": "query",
            "name": "commentsViewMode",
            "schema": {
              "enum": [
                "COMMENTS_VIEW_MODE_UNSPECIFIED",
                "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
                "COMMENTS_VIEW_MODE_OMITTED",
                "COMMENTS_VIEW_MODE_INCLUDED"
              ],
              "type": "string"
            }
          },
          {
            "description": "Whether to populate the `Document.tabs` field instead of the text content fields like `body` and `documentStyle` on `Document`. - When `true`: Document content populates in the `Document.tabs` field instead of the text content fields in `Document`. - When `false`: The content of the document's first tab populates the content fields in `Document` excluding `Document.tabs`. If a document has only one tab, then that tab is used to populate the document content. `Document.tabs` will be empty. If you use a field mask that references the `Document.tabs` field (or any subfield), the API implicitly treats the request as if you set `include_tabs_content` to `true`.",
            "in": "query",
            "name": "includeTabsContent",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
            "in": "query",
            "name": "suggestionsViewMode",
            "schema": {
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/documents"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/documents"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/documents.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/documents.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "documents"
        ],
        "description": "Gets the latest version of the specified document.",
        "operationId": "docs.documents.get"
      }
    },
    "/v1/documents/{documentId}:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The ID of the document to update.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateDocumentResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/documents"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/documents"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "documents"
        ],
        "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
        "operationId": "docs.documents.batchUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateDocumentRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AcceptSuggestionRequest": {
        "description": "Accepts a suggestion. Returns a 403 forbidden error if the requesting user does not have edit access to the document. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "suggestionId": {
            "description": "The ID of the suggestion.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AddCommentReplyRequest": {
        "description": "Inserts a reply Post into a CommentThread or SuggestionThread. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "commentId": {
            "description": "The ID of the CommentThread to add the reply to.",
            "type": "string"
          },
          "post": {
            "$ref": "#/components/schemas/Post",
            "description": "The Post representing the reply."
          },
          "suggestionId": {
            "description": "The ID of the SuggestionThread to add the reply to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AddCommentReplyResponse": {
        "description": "Response message for adding a reply. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "post": {
            "$ref": "#/components/schemas/Post",
            "description": "The newly-inserted reply Post."
          }
        },
        "type": "object"
      },
      "AddDocumentTabRequest": {
        "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
        "properties": {
          "tabProperties": {
            "$ref": "#/components/schemas/TabProperties",
            "description": "The properties of the tab to add. All properties are optional."
          }
        },
        "type": "object"
      },
      "AddDocumentTabResponse": {
        "description": "The result of adding a document tab.",
        "properties": {
          "tabProperties": {
            "$ref": "#/components/schemas/TabProperties",
            "description": "The properties of the newly added tab."
          }
        },
        "type": "object"
      },
      "AutoText": {
        "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
        "properties": {
          "suggestedDeletionIds": {
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedInsertionIds": {
            "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedTextStyleChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
            "type": "object"
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle",
            "description": "The text style of this AutoText."
          },
          "type": {
            "description": "The type of this auto text.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "PAGE_NUMBER",
              "PAGE_COUNT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Background": {
        "description": "Represents the background of a document.",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/OptionalColor",
            "description": "The background color."
          }
        },
        "type": "object"
      },
      "BackgroundSuggestionState": {
        "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
        "properties": {
          "backgroundColorSuggested": {
            "description": "Indicates whether the current background color has been modified in this suggestion.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "BatchUpdateDocumentRequest": {
        "description": "Request message for BatchUpdateDocument.",
        "properties": {
          "requests": {
            "description": "A list of updates to apply to the document.",
            "items": {
              "$ref": "#/components/schemas/Request"
            },
            "type": "array"
          },
          "writeControl": {
            "$ref": "#/components/schemas/WriteControl",
            "description": "Provides control over how write requests are executed."
          }
        },
        "type": "object"
      },
      "BatchUpdateDocumentResponse": {
        "description": "Response message from a BatchUpdateDocument request.",
        "properties": {
          "commentUpdateState": {
            "description": "Whether comment updates were applied in the batch request. [Developer Preview](https://developers.google.com/workspace/preview).",
            "enum": [
              "COMMENT_UPDATE_STATE_UNSPECIFIED",
              "NO_UPDATES_REQUESTED",
              "ALL_SAVED",
              "ALL_FAILED_UNKNOWN_REASON"
            ],
            "type": "string"
          },
          "documentId": {
            "description": "The ID of the document to which the updates were applied to.",
            "type": "string"
          },
          "replies": {
            "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
            "items": {
              "$ref": "#/components/schemas/Response"
            },
            "type": "array"
          },
          "suggestionResponses": {
            "description": "The suggestions which were affected by each update. This maps 1:1 with the updates. [Developer Preview](https://developers.google.com/workspace/preview).",
            "items": {
              "$ref": "#/components/schemas/SuggestionResponse"
            },
            "type": "array"
          },
          "writeControl": {
            "$ref": "#/components/schemas/WriteControl",
            "description": "The updated write control after applying the request."
          }
        },
        "type": "object"
      },
      "Body": {
        "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
        "properties": {
          "content": {
            "description": "The contents of the body. The indexes for the body's content begin at zero.",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BookmarkLink": {
        "description": "A reference to a bookmark in this document.",
        "properties": {
          "id": {
            "description": "The ID of a bookmark in this document.",
            "type": "string"
          },
          "tabId": {
            "description": "The ID of the tab containing this bookmark.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Bullet": {
        "description": "Describes the bullet of a paragraph.",
        "properties": {
          "listId": {
            "description": "The ID of the list this paragraph belongs to.",
            "type": "string"
          },
          "nestingLevel": {
            "description": "The nesting level of this paragraph in the list.",
            "format": "int32",
            "type": "integer"
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle",
            "description": "The paragraph-specific text style applied to this bullet."
          }
        },
        "type": "object"
      },
      "BulletSuggestionState": {
        "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "listIdSuggested": {
            "description": "Indicates if there was a suggested change to the list_id.",
            "type": "boolean"
          },
          "nestingLevelSuggested": {
            "description": "Indicates if there was a suggested change to the nesting_level.",
            "type": "boolean"
          },
          "textStyleSuggestionState": {
            "$ref": "#/components/schemas/TextStyleSuggestionState",
            "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
          }
        },
        "type": "object"
      },
      "Color": {
        "description": "A solid color.",
        "properties": {
          "rgbColor": {
            "$ref": "#/components/schemas/RgbColor",
            "description": "The RGB color value."
          }
        },
        "type": "object"
      },
      "ColumnBreak": {
        "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
        "properties": {
          "suggestedDeletionIds": {
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedInsertionIds": {
            "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedTextStyleChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
            "type": "object"
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle",
            "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
          }
        },
        "type": "object"
      },
      "CommentAnchor": {
        "description": "One or more locations in the document that are tied to CommentThreads with the same anchorId. Note: Multiple anchors may refer to the same location. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "anchorId": {
            "description": "The ID of the comment anchor.",
            "type": "string"
          },
          "ranges": {
            "description": "A collection of Ranges in the document which are tied to this anchor.",
            "items": {
              "$ref": "#/components/schemas/Range"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CommentThread": {
        "description": "Represents a single comment thread. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "anchorId": {
            "description": "The ID of the CommentAnchor in the document that this thread is tied to. Multiple comment threads may be anchored to the same CommentAnchor.",
            "type": "string"
          },
          "commentId": {
            "description": "The unique ID of the comment thread.",
            "type": "string"
          },
          "headPost": {
            "$ref": "#/components/schemas/Post",
            "description": "The first post in the thread."
          },
          "plainTextQuote": {
            "description": "The quoted text from the document when the comment was created, formatted as plain-text.",
            "type": "string"
          },
          "replies": {
            "description": "Replies to the head post.",
            "items": {
              "$ref": "#/components/schemas/Post"
            },
            "type": "array"
          },
          "status": {
            "description": "Whether the thread is open or resolved.",
            "enum": [
              "STATUS_UNSPECIFIED",
              "OPEN",
              "RESOLVED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateDropdownDefinitionRequest": {
        "description": "Creates a new DropdownDefinition in the document.",
        "properties": {
          "dropdownDefinition": {
            "$ref": "#/components/schemas/DropdownDefinition",
            "description": "Required. The DropdownDefinition to create."
          },
          "tabId": {
            "description": "The ID of the tab to create the dropdown definition in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateDropdownDefinitionResponse": {
        "description": "Response message for creating a dropdown definition.",
        "properties": {
          "dropdownDefinition": {
            "$ref": "#/components/schemas/DropdownDefinition",
            "description": "The newly-created DropdownDefinition."
          }
        },
        "type": "object"
      },
      "CreateFooterRequest": {
        "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
        "properties": {
          "sectionBreakLocation": {
            "$ref": "#/components/schemas/Location",
            "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style."
          },
          "type": {
            "description": "The type of footer to create.",
            "enum": [
              "HEADER_FOOTER_TYPE_UNSPECIFIED",
              "DEFAULT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateFooterResponse": {
        "description": "The result of creating a footer.",
        "properties": {
          "footerId": {
            "description": "The ID of the created footer.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateFootnoteRequest": {
        "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
        "properties": {
          "endOfSegmentLocation": {
            "$ref": "#/components/schemas/EndOfSegmentLocation",
            "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
          },
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
          }
        },
        "type": "object"
      },
      "CreateFootnoteResponse": {
        "description": "The result of creating a footnote.",
        "properties": {
          "footnoteId": {
            "description": "The ID of the created footnote.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateHeaderRequest": {
        "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
        "properties": {
          "sectionBreakLocation": {
            "$ref": "#/components/schemas/Location",
            "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
          },
          "type": {
            "description": "The type of header to create.",
            "enum": [
              "HEADER_FOOTER_TYPE_UNSPECIFIED",
              "DEFAULT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateHeaderResponse": {
        "description": "The result of creating a header.",
        "properties": {
          "headerId": {
            "description": "The ID of the created header.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateNamedRangeRequest": {
        "description": "Creates a NamedRange referencing the given range.",
        "properties": {
          "name": {
            "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units.",
            "type": "string"
          },
          "range": {
            "$ref": "#/components/schemas/Range",
            "description": "The range to apply the name to."
          }
        },
        "type": "object"
      },
      "CreateNamedRangeResponse": {
        "description": "The result of creating a named range.",
        "properties": {
          "namedRangeId": {
            "description": "The ID of the created named range.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateParagraphBulletsRequest": {
        "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
        "properties": {
          "bulletPreset": {
            "description": "The kinds of bullet glyphs to be used.",
            "enum": [
              "BULLET_GLYPH_PRESET_UNSPECIFIED",
              "BULLET_DISC_CIRCLE_SQUARE",
              "BULLET_DIAMONDX_ARROW3D_SQUARE",
              "BULLET_CHECKBOX",
              "BULLET_ARROW_DIAMOND_DISC",
              "BULLET_STAR_CIRCLE_SQUARE",
              "BULLET_ARROW3D_CIRCLE_SQUARE",
              "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
              "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
              "BULLET_DIAMOND_CIRCLE_SQUARE",
              "NUMBERED_DECIMAL_ALPHA_ROMAN",
              "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
              "NUMBERED_DECIMAL_NESTED",
              "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
              "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
              "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
            ],
            "type": "string"
          },
          "range": {
            "$ref": "#/components/schemas/Range",
            "description": "The range to apply the bullet preset to."
          }
        },
        "type": "object"
      },
      "CropProperties": {
        "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
        "properties": {
          "angle": {
            "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
            "format": "float",
            "type": "number"
          },
          "offsetBottom": {
            "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
            "format": "float",
            "type": "number"
          },
          "offsetLeft": {
            "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
            "format": "float",
            "type": "number"
          },
          "offsetRight": {
            "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
            "format": "float",
            "type": "number"
          },
          "offsetTop": {
            "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "CropPropertiesSuggestionState": {
        "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "angleSuggested": {
            "description": "Indicates if there was a suggested change to angle.",
            "type": "boolean"
          },
          "offsetBottomSuggested": {
            "description": "Indicates if there was a suggested change to offset_bottom.",
            "type": "boolean"
          },
          "offsetLeftSuggested": {
            "description": "Indicates if there was a suggested change to offset_left.",
            "type": "boolean"
          },
          "offsetRightSuggested": {
            "description": "Indicates if there was a suggested change to offset_right.",
            "type": "boolean"
          },
          "offsetTopSuggested": {
            "description": "Indicates if there was a suggested change to offset_top.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DateElement": {
        "description": "A date instance mentioned in a document.",
        "properties": {
          "dateElementProperties": {
            "$ref": "#/components/schemas/DateElementProperties",
            "description": "The properties of this DateElement."
          },
          "dateId": {
            "description": "Output only. The unique ID of this date.",
            "readOnly": true,
            "type": "string"
          },
          "suggestedDateElementPropertiesChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedDateElementProperties"
            },
            "description": "The suggested changes to the date element properties, keyed by suggestion ID.",
            "type": "object"
          },
          "suggestedDeletionIds": {
            "description": "IDs for suggestions that remove this date from the document. A DateElement might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this date isn't suggested for deletion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedInsertionIds": {
            "description": "IDs for suggestions that insert this date into the document. A DateElement might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this date isn't a suggested insertion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedTextStyleChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this DateElement, keyed by suggestion ID.",
            "type": "object"
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle",
            "description": "The text style of this DateElement."
          }
        },
        "type": "object"
      },
      "DateElementProperties": {
        "description": "Properties of a DateElement.",
        "properties": {
          "dateFormat": {
            "description": "Determines how the date part of the DateElement will be displayed in the document. If unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.",
            "enum": [
              "DATE_FORMAT_UNSPECIFIED",
              "DATE_FORMAT_CUSTOM",
              "DATE_FORMAT_MONTH_DAY_ABBREVIATED",
              "DATE_FORMAT_MONTH_DAY_FULL",
              "DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED",
              "DATE_FORMAT_ISO8601"
            ],
            "type": "string"
          },
          "displayText": {
            "description": "Output only. Indicates how the DateElement is displayed in the document.",
            "type": "string"
          },
          "locale": {
            "description": "The language code of the DateElement. For example, `en`. If unset, the default locale is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`, `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`, `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`, `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`, `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`, `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`, `zh-HK`, `zh-TW`, `zu`, `cy`, `my`.",
            "type": "string"
          },
          "timeFormat": {
            "description": "Determines how the time part of the DateElement will be displayed in the document. If unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.",
            "enum": [
              "TIME_FORMAT_UNSPECIFIED",
              "TIME_FORMAT_DISABLED",
              "TIME_FORMAT_HOUR_MINUTE",
              "TIME_FORMAT_HOUR_MINUTE_TIMEZONE"
            ],
            "type": "string"
          },
          "timeZoneId": {
            "description": "The time zone of the DateElement, as defined by the Unicode Common Locale Data Repository (CLDR) project. For example, `America/New_York`. If unset, the default time zone is `etc/UTC`.",
            "type": "string"
          },
          "timestamp": {
            "description": "The point in time to represent, in seconds and nanoseconds since Unix epoch: January 1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the timestamp is adjusted according to the time zone. For example, a timestamp of `18000` with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE` would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to `America/New_York` will instead be `1970-01-01 12:00 AM`.",
            "format": "google-datetime",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DateElementPropertiesSuggestionState": {
        "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "dateFormatSuggested": {
            "description": "Indicates if there was a suggested change to date_format.",
            "type": "boolean"
          },
          "localeSuggested": {
            "description": "Indicates if there was a suggested change to locale.",
            "type": "boolean"
          },
          "timeFormatSuggested": {
            "description": "Indicates if there was a suggested change to time_format.",
            "type": "boolean"
          },
          "timeZoneIdSuggested": {
            "description": "Indicates if there was a suggested change to time_zone_id.",
            "type": "boolean"
          },
          "timestampSuggested": {
            "description": "Indicates if there was a suggested change to timestamp.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DeleteCommentReplyRequest": {
        "description": "Deletes a reply Post from a CommentThread or SuggestionThread. Returns a 400 bad request error if: - The requesting user is not the author of the post. - The reply post contains an action. - The reply post contains an assignee. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "commentId": {
            "description": "The ID of the CommentThread which the post belongs to.",
            "type": "string"
          },
          "postId": {
            "description": "The ID of the reply Post being deleted.",
            "type": "string"
          },
          "suggestionId": {
            "description": "The ID of the SuggestionThread which the post belongs to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteCommentRequest": {
        "description": "Deletes a CommentThread. Returns a 400 bad request error if the requesting user is not the author of the headPost. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "commentId": {
            "description": "The ID of the CommentThread that is being deleted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteContentRangeRequest": {
        "description": "Deletes content from the document.",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/Range",
            "description": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed."
          }
        },
        "type": "object"
      },
      "DeleteDropdownDefinitionRequest": {
        "description": "Deletes a DropdownDefinition. If the dropdown definition is referenced by any dropdown instances (chips) in the document, a 400 bad request error is returned.",
        "properties": {
          "dropdownDefinitionId": {
            "description": "The ID of the DropdownDefinition to delete.",
            "type": "string"
          },
          "tabId": {
            "description": "The ID of the tab that contains the dropdown definition to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteFooterRequest": {
        "description": "Deletes a Footer from the document.",
        "properties": {
          "footerId": {
            "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.",
            "type": "string"
          },
          "tabId": {
            "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteHeaderRequest": {
        "description": "Deletes a Header from the document.",
        "properties": {
          "headerId": {
            "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
            "type": "string"
          },
          "tabId": {
            "description": "The tab containing the header to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteNamedRangeRequest": {
        "description": "Deletes a NamedRange.",
        "properties": {
          "name": {
            "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
            "type": "string"
          },
          "namedRangeId": {
            "description": "The ID of the named range to delete.",
            "type": "string"
          },
          "tabsCriteria": {
            "$ref": "#/components/schemas/TabsCriteria",
            "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs."
          }
        },
        "type": "object"
      },
      "DeleteParagraphBulletsRequest": {
        "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/Range",
            "description": "The range to delete bullets from."
          }
        },
        "type": "object"
      },
      "DeletePositionedObjectRequest": {
        "description": "Deletes a PositionedObject from the document.",
        "properties": {
          "objectId": {
            "description": "The ID of the positioned object to delete.",
            "type": "string"
          },
          "tabId": {
            "description": "The tab that the positioned object to delete is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteSuggestionRequest": {
        "description": "Deletes a suggestion. Returns a 403 forbidden error if the requesting user is not the author of the suggestion. [Developer Preview](https://developers.google.com/workspace/preview).",
        "properties": {
          "suggestionId": {
            "description": "The ID of the suggestion.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteTabRequest": {
        "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
        "properties": {
          "tabId": {
            "description": "The ID of the tab to delete.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeleteTableColumnRequest": {
        "description": "Deletes a column from a table.",
        "properties": {
          "tableCellLocation": {
            "$ref": "#/components/schemas/TableCellLocation",
            "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
          }
        },
        "type": "object"
      },
      "DeleteTableRowRequest": {
        "description": "Deletes a row from a table.",
        "properties": {
          "tableCellLocation": {
            "$ref": "#/components/schemas/TableCellLocation",
            "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
          }
        },
        "type": "object"
      },
      "Dimension": {
        "description": "A magnitude in a single direction in the specified units.",
        "properties": {
          "magnitude": {
            "description": "The magnitude.",
            "format": "double",
            "type": "number"
          },
          "unit": {
            "description": "The units for magnitude.",
            "enum": [
              "UNIT_UNSPECIFIED",
              "PT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Document": {
        "description": "A Google Docs document.",
        "properties": {
          "body": {
            "$ref": "#/components/schemas/Body",
            "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "comments": {
            "description": "Output only. The comments associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).",
            "items": {
              "$ref": "#/components/schemas/CommentThread"
            },
            "type": "array"
          },
          "commentsViewMode": {
            "description": "Output only. The comments view mode applied to the document. [Developer Preview](https://developers.google.com/workspace/preview).",
            "enum": [
              "COMMENTS_VIEW_MODE_UNSPECIFIED",
              "COMMENTS_VIEW_MODE_DEFAULT_FOR_CURRENT_ACCESS",
              "COMMENTS_VIEW_MODE_OMITTED",
              "COMMENTS_VIEW_MODE_INCLUDED"
            ],
            "type": "string"
          },
          "documentId": {
            "description": "Output only. The ID of the document.",
            "type": "string"
          },
          "documentStyle": {
            "$ref": "#/components/schemas/DocumentStyle",
            "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "footers": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Footer"
            },
            "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "footnotes": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Footnote"
            },
            "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "headers": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            },
            "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "inlineObjects": {
            "additionalProperties": {
              "$ref": "#/components/schemas/InlineObject"
            },
            "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "lists": {
            "additionalProperties": {
              "$ref": "#/components/schemas/List"
            },
            "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "namedRanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/NamedRanges"
            },
            "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "namedStyles": {
            "$ref": "#/components/schemas/NamedStyles",
            "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
          },
          "positionedObjects": {
            "additionalProperties": {
              "$ref": "#/components/schemas/PositionedObject"
            },
            "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "revisionId": {
            "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes.",
            "type": "string"
          },
          "suggestedDocumentStyleChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedDocumentStyle"
            },
            "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "suggestedNamedStylesChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedNamedStyles"
            },
            "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
            "type": "object"
          },
          "suggestions": {
            "description": "Output only. The suggestions associated with the document. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).",
            "items": {
              "$ref": "#/components/schemas/SuggestionThread"
            },
            "type": "array"
          },
          "suggestionsViewMode": {
            "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
            "enum": [
              "DEFAULT_FOR_CURRENT_ACCESS",
              "SUGGESTIONS_INLINE",
              "PREVIEW_SUGGESTIONS_ACCEPTED",
              "PREVIEW_WITHOUT_SUGGESTIONS"
            ],
            "type": "string"
          },
          "tabs": {
            "description": "Output only. Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field.",
            "items": {
              "$ref": "#/components/schemas/Tab"
            },
            "type": "array"
          },
          "title": {
            "description": "The title of the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DocumentFormat": {
        "description": "Represents document-level format settings.",
        "properties": {
          "documentMode": {
            "description": "Whether the document has pages or is pageless.",
            "enum": [
              "DOCUMENT_MODE_UNSPECIFIED",
              "PAGES",
              "PAGELESS"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "DocumentStyle": {
        "description": "The style of the document.",
        "properties": {
          "background": {
            "$ref": "#/components/schemas/Background",
            "description": "The background of the document. Documents cannot have a transparent background color."
          },
          "defaultFooterId": {
            "description": "The ID of the default footer. If not set, there's no default footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "string"
          },
          "defaultHeaderId": {
            "description": "The ID of the default header. If not set, there's no default header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "string"
          },
          "documentFormat": {
            "$ref": "#/components/schemas/DocumentFormat",
            "description": "Specifies document-level format settings, such as the document mode (pages vs pageless)."
          },
          "evenPageFooterId": {
            "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "string"
          },
          "evenPageHeaderId": {
            "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "string"
          },
          "firstPageFooterId": {
            "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "string"
          },
          "firstPageHeaderId": {
            "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "string"
          },
          "flipPageOrientation": {
            "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape. If DocumentMode is PAGELESS, this property will not be rendered.",
            "type": "boolean"
          },
          "marginBottom": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "marginFooter": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The amount of space between the bottom of the page and the contents of the footer. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "marginHeader": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The amount of space between the top of the page and the contents of the header. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "marginLeft": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "marginRight": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "marginTop": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "pageNumberStart": {
            "description": "The page number from which to start counting the number of pages. If DocumentMode is PAGELESS, this property will not be rendered.",
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "$ref": "#/components/schemas/Size",
            "description": "The size of a page in the document. If DocumentMode is PAGELESS, this property will not be rendered."
          },
          "useCustomHeaderFooterMargins": {
            "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin is used. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
            "type": "boolean"
          },
          "useEvenPageHeaderFooter": {
            "description": "Indicates whether to use the even page header / footer IDs for the even pages. If DocumentMode is PAGELESS, this property will not be rendered.",
            "type": "boolean"
          },
          "useFirstPageHeaderFooter": {
            "description": "Indicates whether to use the first page header / footer IDs for the first page. If DocumentMode is PAGELESS, this property will not be rendered.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DocumentStyleSuggestionState": {
        "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "backgroundSuggestionState": {
            "$ref": "#/components/schemas/BackgroundSuggestionState",
            "description": "A mask that indicates which of the fields in background have been changed in this suggestion."
          },
          "defaultFooterIdSuggested": {
            "description": "Indicates if there was a suggested change to default_footer_id.",
            "type": "boolean"
          },
          "defaultHeaderIdSuggested": {
            "description": "Indicates if there was a suggested change to default_header_id.",
            "type": "boolean"
          },
          "evenPageFooterIdSuggested": {
            "description": "Indicates if there was a suggested change to even_page_footer_id.",
            "type": "boolean"
          },
          "evenPageHeaderIdSuggested": {
            "description": "Indicates if there was a suggested change to even_page_header_id.",
            "type": "boolean"
          },
          "firstPageFooterIdSuggested": {
            "description": "Indicates if there was a suggested change to first_page_footer_id.",
            "type": "boolean"
          },
          "firstPageHeaderIdSuggested": {
            "description": "Indicates if there was a suggested change to first_page_header_id.",
            "type": "boolean"
          },
          "flipPageOrientationSuggested": {
            "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
            "type": "boolean"
          },
          "marginBottomSuggested": {
            "description": "Indicates if there was a suggested change to margin_bottom.",
            "type": "boolean"
          },
          "marginFooterSuggested": {
            "description": "Indicates if there was a suggested change to margin_footer.",
            "type": "boolean"
          },
          "marginHeaderSuggested": {
            "description": "Indicates if there was a suggested change to margin_header.",
            "type": "boolean"
          },
          "marginLeftSuggested": {
            "description": "Indicates if there was a suggested change to margin_left.",
            "type": "boolean"
          },
          "marginRightSuggested": {
            "description": "Indicates if there was a suggested change to margin_right.",
            "type": "boolean"
          },
          "marginTopSuggested": {
            "description": "Indicates if there was a suggested change to margin_top.",
            "type": "boolean"
          },
          "pageNumberStartSuggested": {
            "description": "Indicates if there was a suggested change to page_number_start.",
            "type": "boolean"
          },
          "pageSizeSuggestionState": {
            "$ref": "#/components/schemas/SizeSuggestionState",
            "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
          },
          "useCustomHeaderFooterMarginsSuggested": {
            "description": "Indicates if there was a suggested change to use_custom_header_footer_margins.",
            "type": "boolean"
          },
          "useEvenPageHeaderFooterSuggested": {
            "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
            "type": "boolean"
          },
          "useFirstPageHeaderFooterSuggested": {
            "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DocumentTab": {
        "description": "A tab with document contents.",
        "properties": {
          "body": {
            "$ref": "#/components/schemas/Body",
            "description": "The main body of the document tab."
          },
          "commentAnchors": {
            "additionalProperties": {
              "$ref": "#/components/schemas/CommentAnchor"
            },
            "description": "The comment anchors in a document tab, keyed by anchor ID. Only populated if the commentsViewMode parameter is set to require comments (such as `COMMENTS_VIEW_MODE_INCLUDED`). [Developer Preview](https://developers.google.com/workspace/preview).",
            "type": "object"
          },
          "documentStyle": {
            "$ref": "#/components/schemas/DocumentStyle",
            "description": "The style of the document tab."
          },
          "dropdownDefinitions": {
            "additionalProperties": {
              "$ref": "#/components/schemas/DropdownDefinition"
            },
            "description": "The dropdown definitions in a document tab, keyed by dropdown definition ID.",
            "type": "object"
          },
          "footers": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Footer"
            },
            "description": "The footers in the document tab, keyed by footer ID.",
            "type": "object"
          },
          "footnotes": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Footnote"
            },
            "description": "The footnotes in the document tab, keyed by footnote ID.",
            "type": "object"
          },
          "headers": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Header"
            },
            "description": "The headers in the document tab, keyed by header ID.",
            "type": "object"
          },
          "inlineObjects": {
            "additionalProperties": {
              "$ref": "#/components/schemas/InlineObject"
            },
            "description": "The inline objects in the document tab, keyed by object ID.",
            "type": "object"
          },
          "lists": {
            "additionalProperties": {
              "$ref": "#/components/schemas/List"
            },
            "description": "The lists in the document tab, keyed by list ID.",
            "type": "object"
          },
          "namedRanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/NamedRanges"
            },
            "description": "The named ranges in the document tab, keyed by name.",
            "type": "object"
          },
          "namedStyles": {
            "$ref": "#/components/schemas/NamedStyles",
            "description": "The named styles of the document tab."
          },
          "positionedObjects": {
            "additionalProperties": {
              "$ref": "#/components/schemas/PositionedObject"
            },
            "description": "The positioned objects in the document tab, keyed by object ID.",
            "type": "object"
          },
          "suggestedDocumentStyleChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedDocumentStyle"
            },
            "description": "The suggested changes to the style of the document tab, keyed by suggestion ID.",
            "type": "object"
          },
          "suggestedNamedStylesChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedNamedStyles"
            },
            "description": "The suggested changes to the named styles of the document tab, keyed by suggestion ID.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "Dropdown": {
        "description": "A dropdown in the document. The chip is displayed as a dropdown menu that allows users to select an option from a configurable list of options.",
        "properties": {
          "dropdownId": {
            "description": "The ID of this dropdown.",
            "type": "string"
          },
          "dropdownProperties": {
            "$ref": "#/components/schemas/DropdownProperties",
            "description": "The properties of this dropdown."
          },
          "suggestedDeletionIds": {
            "description": "IDs for suggestions that remove this dropdown from the document. If empty, then this dropdown isn't suggested for deletion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedDropdownPropertiesChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedDropdownProperties"
            },
            "description": "The suggested properties changes to this dropdown, keyed by suggestion ID.",
            "type": "object"
          },
          "suggestedInsertionIds": {
            "description": "IDs for suggestions that insert this dropdown into the document. If empty, then this dropdown isn't a suggested insertion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedTextStyleChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedTextStyle"
            },
            "description": "The suggested text style changes to this dropdown, keyed by suggestion ID.",
            "type": "object"
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle",
            "description": "The text style of this dropdown."
          }
        },
        "type": "object"
      },
      "DropdownDefinition": {
        "description": "A dropdown definition in the document.",
        "properties": {
          "dropdownDefinitionId": {
            "description": "The ID of this dropdown definition. If you specify an ID, it must be unique among all IDs in the tab. The ID must start with `kix.` and match regex `^kix\\.[a-zA-Z0-9_-]{2,14}$` (length 6-18 chars). If you don't specify an ID, a unique one is generated.",
            "type": "string"
          },
          "dropdownDefinitionProperties": {
            "$ref": "#/components/schemas/DropdownDefinitionProperties",
            "description": "The properties of this dropdown definition."
          },
          "suggestedDeletionId": {
            "description": "ID for suggestion that deletes this dropdown definition.",
            "type": "string"
          },
          "suggestedDropdownDefinitionPropertiesChanges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/SuggestedDropdownDefinitionProperties"
            },
            "description": "Suggested property changes to this definition, keyed by suggestion ID.",
            "type": "object"
          },
          "suggestedInsertionId": {
            "description": "ID for suggestion that inserts this dropdown definition.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DropdownDefinitionProperties": {
        "description": "Properties of a dropdown definition.",
        "properties": {
          "options": {
            "description": "The list of options defined by this dropdown definition. A dropdown definition must have at least 2 options and at most 50 options.",
            "items": {
              "$ref": "#/components/schemas/DropdownOption"
            },
            "type": "array"
          },
          "title": {
            "description": "The title of the dropdown definition.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DropdownDefinitionPropertiesSuggestionState": {
        "description": "A mask that indicates which of the fields on the base DropdownDefinitionProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "optionsSuggested": {
            "description": "Indicates if there was a suggested change to options.",
            "type": "boolean"
          },
          "titleSuggested": {
            "description": "Indicates if there was a suggested change to title.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DropdownOption": {
        "description": "An option in a Dropdown.",
        "properties": {
          "displayValue": {
            "description": "The display value of this dropdown option.",
            "type": "string"
          },
          "optionId": {
            "description": "The ID of this dropdown option. If you specify an ID, it must be unique among all options in this dropdown definition. The ID must start with `dropdownItem.` and match regex `^dropdownItem\\.[a-zA-Z0-9_-]{2,14}$` (length 15-27 chars). If you don't specify an ID, a unique one is generated.",
            "type": "string"
          },
          "textStyle": {
            "$ref": "#/components/schemas/TextStyle",
            "description": "The text style of this dropdown option. Currently, only the `foreground_color` and `background_color` properties are supported. If other properties are set, a 400 bad request error is returned."
          }
        },
        "type": "object"
      },
      "DropdownProperties": {
        "description": "Properties specific to a dropdown.",
        "properties": {
          "displayValue": {
            "description": "The human-readable display text of the currently selected item. This field is populated by the server based on the dropdown definition and the selected option ID. It may differ from `DropdownOption.display_value` if the underlying option definition was modified or deleted, or during pending suggested changes.",
            "type": "string"
          },
          "dropdownDefinitionId": {
            "description": "The ID of the DropdownDefinition that defines the options for this dropdown.",
            "type": "string"
          },
          "selectedOptionId": {
            "description": "The ID of the selected option in this dropdown.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DropdownPropertiesSuggestionState": {
        "description": "A mask that indicates which of the fields on the base DropdownProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "selectedOptionIdSuggested": {
            "description": "Indicates if there was a suggested change to selected_option_id.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "EmbeddedDrawingProperties": {
        "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
        "properties": {},
        "type": "object"
      },
      "EmbeddedDrawingPropertiesSuggestionState": {
        "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {},
        "type": "object"
      },
      "EmbeddedObject": {
        "description": "An embedded object in the document.",
        "properties": {
          "description": {
            "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
            "type": "string"
          },
          "embeddedDrawingProperties": {
            "$ref": "#/components/schemas/EmbeddedDrawingProperties",
            "description": "The properties of an embedded drawing."
          },
          "embeddedObjectBorder": {
            "$ref": "#/components/schemas/EmbeddedObjectBorder",
            "description": "The border of the embedded object."
          },
          "imageProperties": {
            "$ref": "#/components/schemas/ImageProperties",
            "description": "The properties of an image."
          },
          "linkedContentReference": {
            "$ref": "#/components/schemas/LinkedContentReference",
            "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked."
          },
          "marginBottom": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The bottom margin of the embedded object."
          },
          "marginLeft": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The left margin of the embedded object."
          },
          "marginRight": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The right margin of the embedded object."
          },
          "marginTop": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The top margin of the embedded object."
          },
          "size": {
            "$ref": "#/components/schemas/Size",
            "description": "The visible size of the image after cropping."
          },
          "title": {
            "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbeddedObjectBorder": {
        "description": "A border around an EmbeddedObject.",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/OptionalColor",
            "description": "The color of the border."
          },
          "dashStyle": {
            "description": "The dash style of the border.",
            "enum": [
              "DASH_STYLE_UNSPECIFIED",
              "SOLID",
              "DOT",
              "DASH"
            ],
            "type": "string"
          },
          "propertyState": {
            "description": "The property state of the border property.",
            "enum": [
              "RENDERED",
              "NOT_RENDERED"
            ],
            "type": "string"
          },
          "width": {
            "$ref": "#/components/schemas/Dimension",
            "description": "The width of the border."
          }
        },
        "type": "object"
      },
      "EmbeddedObjectBorderSuggestionState": {
        "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "colorSuggested": {
            "description": "Indicates if there was a suggested change to color.",
            "type": "boolean"
          },
          "dashStyleSuggested": {
            "description": "Indicates if there was a suggested change to dash_style.",
            "type": "boolean"
          },
          "propertyStateSuggested": {
            "description": "Indicates if there was a suggested change to property_state.",
            "type": "boolean"
          },
          "widthSuggested": {
            "description": "Indicates if there was a suggested change to width.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "EmbeddedObjectSuggestionState": {
        "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
        "properties": {
          "descriptionSuggested": {
            "description": "Indicates if there was a suggested change to description.",
            "type": "boolean"
          },
          "embeddedDrawingPropertiesSuggestionState": {
            "$ref": "#/components/schemas/EmbeddedDrawingPropertiesSuggestionState",
            "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
          },
          "embeddedObjectBorderSuggestionState": {
            "$ref": "#/components/schemas/EmbeddedObjectBorderSuggestionState",
            "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
          },
          "imagePropertiesSuggestionState": {
            "$ref": "#/components/schemas/ImagePropertiesSuggestionState",
            "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion."
          },
          "linkedContentReferenceSuggestionState": {
            "$ref": "#/components/schemas/LinkedContentReferenceSuggestionState",
            "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
          },
          "marginBottomSuggested": {
            "description": "Indicates if there was a suggested change to margin_bottom.",
            "type": "boolean"
          },
          "marginLeftSuggested": {
            "description": "Indicates if there was a suggested change to margin_left.",
            "type": "boolean"
          },
          "marginRightSuggested": {
            "description": "Indicates if there was a suggested change to margin_right.",
            "type": "boolean"
          },
          "marginTopSuggested": {
            "description": "Indicates if there was a suggested change to margin_top.",
            "type": "boolean"
          },
          "sizeSuggestionState": {
            "$ref": "#/components/schemas/SizeSuggestionState",
            "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
          },
          "titleSuggested": {
            "description": "Indicates if there was a suggested change to title.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "EndOfSegmentLocation": {
        "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
        "properties": {
          "segmentId": {
            "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
            "type": "string"
          },
          "tabId": {
            "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Equation": {
        "description": "A ParagraphElement representing an equation.",
        "properties": {
          "suggestedDeletionIds": {
            "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "suggestedInsertionIds": {
            "description": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Footer": {
        "description": "A document footer.",
        "properties": {
          "content": {
            "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "type": "array"
          },
          "footerId": {
            "description": "The ID of the footer.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Footnote": {
        "description": "A document footnote.",
        "properties": {
          "content": {
            "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
            "items": {
              "$ref": "#/components/schemas/StructuralElement"
            },
            "type": "array"
          },
          "footnoteId": {
            "description": "The ID of the footnote.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FootnoteReference": {
[...]
