{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Create and manage task lists and tasks, including task details, due dates, and completion status.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Tasks",
    "version": "v1",
    "x-bionic-slug": "google-tasks",
    "x-bionic-source-url": "https://www.googleapis.com/discovery/v1/apis/tasks/v1/rest",
    "x-bionic-logo-source-url": "https://commons.wikimedia.org/wiki/File:Google_Tasks_Logo_05.2026.svg",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIiIGhlaWdodD0iMTkyIiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTkyIDE5MiI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cmVjdCB3aWR0aD0iMTUyIiBoZWlnaHQ9IjEzMCIgeD0iMjAiIHk9IjUyIiBmaWxsPSIjYmJlMmZmIiByeD0iNjUiLz48cmVjdCB3aWR0aD0iMTcyIiBoZWlnaHQ9IjE1MiIgeD0iMTAiIHk9IjE0IiBmaWxsPSIjMzE4NmZmIiByeD0iNzQiLz48bWFzayBpZD0iZCIgd2lkdGg9IjE3MiIgaGVpZ2h0PSIxNTIiIHg9IjEwIiB5PSIxNCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHJlY3Qgd2lkdGg9IjE3MiIgaGVpZ2h0PSIxNTIiIHg9IjEwIiB5PSIxNCIgZmlsbD0iIzNjOTBmZiIgcng9Ijc0Ii8+PC9tYXNrPjxnIGZpbHRlcj0idXJsKCNiKSIgbWFzaz0idXJsKCNkKSI+PHJlY3Qgd2lkdGg9IjE1MiIgaGVpZ2h0PSIxMzAiIHg9IjIwIiB5PSI1MiIgZmlsbD0idXJsKCNlKSIgcng9IjY1Ii8+PC9nPjxnIGNsaXAtcGF0aD0idXJsKCNmKSI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMTIiIGQ9Im02MSA5MCAyMi4xNzIgMjIuMTcyYTQgNCAwIDAgMCA1LjY1NiAwTDEzOCA2MyIvPjwvZz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE5MnYxOTJIMHoiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iZiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQ0IDM4aDEwNHYxMDRINDR6Ii8+PC9jbGlwUGF0aD48bGluZWFyR3JhZGllbnQgaWQ9ImUiIHgxPSI5NiIgeDI9IjEwMC42NCIgeTE9IjE2Ni45IiB5Mj0iNjcuMjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9Ii4wMSIgc3RvcC1jb2xvcj0iI2E5YThmZiIvPjxzdG9wIG9mZnNldD0iLjc5IiBzdG9wLWNvbG9yPSIjYTlhOGZmIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxmaWx0ZXIgaWQ9ImIiIHdpZHRoPSIxNzYiIGhlaWdodD0iMTU0IiB4PSI4IiB5PSI0MCIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZUZsb29kIGZsb29kLW9wYWNpdHk9IjAiIHJlc3VsdD0iQmFja2dyb3VuZEltYWdlRml4Ii8+PGZlQmxlbmQgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iQmFja2dyb3VuZEltYWdlRml4IiByZXN1bHQ9InNoYXBlIi8+PGZlR2F1c3NpYW5CbHVyIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl8zNzYwMV85OTc2IiBzdGREZXZpYXRpb249IjYiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+"
    }
  },
  "servers": [
    {
      "url": "https://tasks.googleapis.com/"
    }
  ],
  "paths": {
    "/tasks/v1/lists/{tasklist}/clear": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
        "operationId": "tasks.tasks.clear"
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "in": "query",
            "name": "completedMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
            "in": "query",
            "name": "completedMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "in": "query",
            "name": "dueMax",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
            "in": "query",
            "name": "dueMin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Token specifying the result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
            "in": "query",
            "name": "showAssigned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
            "in": "query",
            "name": "showCompleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
            "in": "query",
            "name": "showDeleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
            "in": "query",
            "name": "showHidden",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
            "in": "query",
            "name": "updatedMin",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Tasks"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
        "operationId": "tasks.tasks.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
            "in": "query",
            "name": "parent",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
            "in": "query",
            "name": "previous",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
        "operationId": "tasks.tasks.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        }
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks/{task}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
        "operationId": "tasks.tasks.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Returns the specified task.",
        "operationId": "tasks.tasks.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Updates the specified task. This method supports patch semantics.",
        "operationId": "tasks.tasks.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Updates the specified task.",
        "operationId": "tasks.tasks.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        }
      }
    },
    "/tasks/v1/lists/{tasklist}/tasks/{task}/move": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Task identifier.",
            "in": "path",
            "name": "task",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
            "in": "query",
            "name": "destinationTasklist",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
            "in": "query",
            "name": "parent",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
            "in": "query",
            "name": "previous",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasks"
        ],
        "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
        "operationId": "tasks.tasks.move"
      }
    },
    "/tasks/v1/users/@me/lists": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Token specifying the result page to return. Optional.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskLists"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ],
        "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
        "operationId": "tasks.tasklists.list"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ],
        "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
        "operationId": "tasks.tasklists.insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        }
      }
    },
    "/tasks/v1/users/@me/lists/{tasklist}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ],
        "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
        "operationId": "tasks.tasklists.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks.readonly"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ],
        "description": "Returns the authenticated user's specified task list.",
        "operationId": "tasks.tasklists.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ],
        "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
        "operationId": "tasks.tasklists.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Task list identifier.",
            "in": "path",
            "name": "tasklist",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/tasks"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/tasks"
            ]
          }
        ],
        "tags": [
          "tasklists"
        ],
        "description": "Updates the authenticated user's specified task list.",
        "operationId": "tasks.tasklists.update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskList"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Task": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Task"
            }
          }
        }
      },
      "TaskList": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TaskList"
            }
          }
        }
      }
    },
    "schemas": {
      "AssignmentInfo": {
        "description": "Information about the source of the task assignment (Document, Chat Space).",
        "properties": {
          "driveResourceInfo": {
            "$ref": "#/components/schemas/DriveResourceInfo",
            "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
            "readOnly": true
          },
          "linkToTask": {
            "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
            "readOnly": true,
            "type": "string"
          },
          "spaceInfo": {
            "$ref": "#/components/schemas/SpaceInfo",
            "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
            "readOnly": true
          },
          "surfaceType": {
            "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
            "enum": [
              "CONTEXT_TYPE_UNSPECIFIED",
              "GMAIL",
              "DOCUMENT",
              "SPACE"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DriveResourceInfo": {
        "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
        "properties": {
          "driveFileId": {
            "description": "Output only. Identifier of the file in the Drive API.",
            "readOnly": true,
            "type": "string"
          },
          "resourceKey": {
            "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SpaceInfo": {
        "description": "Information about the Chat Space where a task was assigned from.",
        "properties": {
          "space": {
            "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Task": {
        "properties": {
          "assignmentInfo": {
            "$ref": "#/components/schemas/AssignmentInfo",
            "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
            "readOnly": true
          },
          "completed": {
            "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
            "type": "string"
          },
          "deleted": {
            "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
            "type": "boolean"
          },
          "due": {
            "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
            "type": "string"
          },
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "hidden": {
            "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
            "type": "boolean"
          },
          "id": {
            "description": "Task identifier.",
            "type": "string"
          },
          "kind": {
            "description": "Output only. Type of the resource. This is always \"tasks#task\".",
            "readOnly": true,
            "type": "string"
          },
          "links": {
            "description": "Output only. Collection of links. This collection is read-only.",
            "items": {
              "properties": {
                "description": {
                  "description": "The description (might be empty).",
                  "type": "string"
                },
                "link": {
                  "description": "The URL.",
                  "type": "string"
                },
                "type": {
                  "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "readOnly": true,
            "type": "array"
          },
          "notes": {
            "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
            "type": "string"
          },
          "parent": {
            "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
            "readOnly": true,
            "type": "string"
          },
          "position": {
            "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
            "readOnly": true,
            "type": "string"
          },
          "selfLink": {
            "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
            "type": "string"
          },
          "title": {
            "description": "Title of the task. Maximum length allowed: 1024 characters.",
            "type": "string"
          },
          "updated": {
            "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
            "readOnly": true,
            "type": "string"
          },
          "webViewLink": {
            "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "TaskList": {
        "properties": {
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "id": {
            "description": "Task list identifier.",
            "type": "string"
          },
          "kind": {
            "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
            "readOnly": true,
            "type": "string"
          },
          "selfLink": {
            "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
            "readOnly": true,
            "type": "string"
          },
          "title": {
            "description": "Title of the task list. Maximum length allowed: 1024 characters.",
            "type": "string"
          },
          "updated": {
            "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "TaskLists": {
        "properties": {
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "items": {
            "description": "Collection of task lists.",
            "items": {
              "$ref": "#/components/schemas/TaskList"
            },
            "type": "array"
          },
          "kind": {
            "description": "Type of the resource. This is always \"tasks#taskLists\".",
            "type": "string"
          },
          "nextPageToken": {
            "description": "Token that can be used to request the next page of this result.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Tasks": {
        "properties": {
          "etag": {
            "description": "ETag of the resource.",
            "type": "string"
          },
          "items": {
            "description": "Collection of tasks.",
            "items": {
              "$ref": "#/components/schemas/Task"
            },
            "type": "array"
          },
          "kind": {
            "description": "Type of the resource. This is always \"tasks#tasks\".",
            "type": "string"
          },
          "nextPageToken": {
            "description": "Token used to access the next page of this result.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/tasks": "Create, edit, organize, and delete all your tasks",
              "https://www.googleapis.com/auth/tasks.readonly": "View your tasks"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 accessCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/tasks": "Create, edit, organize, and delete all your tasks",
              "https://www.googleapis.com/auth/tasks.readonly": "View your tasks"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "tasks"
    },
    {
      "name": "tasklists"
    }
  ],
  "externalDocs": {
    "url": "https://developers.google.com/workspace/tasks/"
  }
}
