{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Create and manage meetings, conference records, participants, and meeting artifacts.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Meet",
    "version": "v2",
    "x-bionic-slug": "google-meet",
    "x-bionic-source-url": "https://meet.googleapis.com/$discovery/rest?version=v2",
    "x-bionic-logo-source-url": "https://raw.githubusercontent.com/gilbarbara/logos/main/logos/google-meet.svg",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjU2cHgiIGhlaWdodD0iMjAxcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIj4KICA8dGl0bGU+R29vZ2xlIEtlZXA8L3RpdGxlPgogIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSIxMjguOCIgeDI9IjIyNy4yIiB5MT0iMTA0LjQ0IiB5Mj0iMTA0LjQ0IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI2Y2YTEwMCI+PC9zdG9wPgogICAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZmYmUwMCI+PC9zdG9wPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImYiIHgxPSIxMzYuMjIiIHgyPSI3OC41IiB5MT0iOTEuMzIiIHkyPSI5MS4xOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgogICAgICAgIDxzdG9wIG9mZnNldD0iMC4xNSIgc3RvcC1jb2xvcj0iI2ZmYjVlOCI+PC9zdG9wPgogICAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZmZGJmNSIgc3RvcC1vcGFjaXR5PSIwIj48L3N0b3A+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICAgIDxyYWRpYWxHcmFkaWVudCBpZD0iYiIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KC0xNTkuNzI1IDAgMCAtMTM1Ljg1MiAxNjAuMzI1IDk2KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgogICAgICAgIDxzdG9wIG9mZnNldD0iMC4xNSIgc3RvcC1jb2xvcj0iI2ZmZTkyMSI+PC9zdG9wPgogICAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZlYzcwMCI+PC9zdG9wPgogICAgICA8L3JhZGlhbEdyYWRpZW50PgogICAgICA8ZmlsdGVyIGlkPSJjIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjE4MCIgeD0iNDUuOTEiIHk9IjgiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KICAgICAgICA8ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCI+PC9mZUZsb29kPgogICAgICAgIDxmZUJsZW5kIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJzaGFwZSI+PC9mZUJsZW5kPgogICAgICAgIDxmZUdhdXNzaWFuQmx1ciByZXN1bHQ9ImVmZmVjdDFfZm9yZWdyb3VuZEJsdXJfMzc1ODRfOTMzOCIgc3RkRGV2aWF0aW9uPSIxNCI+PC9mZUdhdXNzaWFuQmx1cj4KICAgICAgPC9maWx0ZXI+CiAgPC9kZWZzPgogICAgPGc+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJtYXRyaXgoMS40NTQ1NDUsIDAsIDAsIDEuNDU0NTQ1LCAtMTEuNjM2MzYsIC0zOS4yNzI3MTcpIj4KICAgICAgICAgIDxwYXRoIGZpbGw9InVybCgjYSkiIGQ9Ik0xMTAuMDE1IDEwOC44OGMtNi44MjktNC43MTgtNi45MjEtMTQuNzc4LS4xNzktMTkuNjJMMTY1IDQ5LjY0M2M3Ljk0LTUuNzAxIDE5LS4wMzggMTkgOS43Mzd2NzcuNzU1YzAgOS42NzUtMTAuODYxIDE1LjM1OS0xOC44MjEgOS44NTl6Ij48L3BhdGg+CiAgICAgICAgICA8cGF0aCBmaWxsPSJ1cmwoI2IpIiBkPSJNOCA3MWMwLTI0LjMgMTkuNy00NCA0NC00NGg2NGMxMS4wNDYgMCAyMCA4Ljk1NCAyMCAyMHY5OGMwIDExLjA0Ni04Ljk1NCAyMC0yMCAyMEgyOGMtMTEuMDQ2IDAtMjAtOC45NTQtMjAtMjB6Ij48L3BhdGg+CiAgICAgICAgICA8ZyBmaWx0ZXI9InVybCgjYykiIG1hc2s9InVybCgjZSkiPgogICAgICAgICAgICA8cGF0aCBmaWxsPSJ1cmwoI2YpIiBkPSJtNzMuOTA2IDk5LjE5OCAxMTAtNjMuMTk4djEyNHoiPjwvcGF0aD4KICAgICAgICAgIDwvZz4KICAgICAgICAgIDxjaXJjbGUgY3g9IjM4IiBjeT0iMTM1IiByPSIxNCIgZmlsbD0iI2ZmZiI+PC9jaXJjbGU+CiAgICAgICAgPC9nPgogICAgICAgIDxtYXNrIGlkPSJlIiB3aWR0aD0iMTI5IiBoZWlnaHQ9IjEzOCIgeD0iOCIgeT0iMjciIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHN0eWxlPSJtYXNrLXR5cGU6bHVtaW5hbmNlIj4KICAgICAgICAgIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik04IDcxYzAtMjQuMyAxOS43LTQ0IDQ0LTQ0aDY0YzExLjA0NiAwIDIwIDguOTU0IDIwIDIwdjk4YzAgMTEuMDQ2LTguOTU0IDIwLTIwIDIwSDI4Yy0xMS4wNDYgMC0yMC04Ljk1NC0yMC0yMHoiPjwvcGF0aD4KICAgICAgICA8L21hc2s+CiAgICA8L2c+Cjwvc3ZnPgo="
    }
  },
  "servers": [
    {
      "url": "https://meet.googleapis.com/"
    }
  ],
  "paths": {
    "/v2/conferenceRecords": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListConferenceRecordsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the conference records. By default, ordered by start time and in descending order. For more information, see [Work with conferences](https://developers.google.com/workspace/meet/api/guides/conferences).",
        "operationId": "meet.conferenceRecords.list"
      }
    },
    "/v2/spaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Creates a space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
        "operationId": "meet.spaces.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Space"
              }
            }
          }
        }
      }
    },
    "/v2/{+name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Required. Format: “spaces/{space}/members/{member}”",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Deletes the member who was previously assigned roles in the space. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
        "operationId": "meet.spaces.members.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Required. Format: “spaces/{space}/members/{member}”",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.settings"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Gets a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted, this API response will default to \"name,email,role,user\".",
        "operationId": "meet.spaces.members.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Identifier. Resource name of the member. Format: spaces/{space}/members/{member}",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Field mask used to specify the fields to be updated in the member. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request. In case of BatchUpdate, it must be absent or the same as the update_mask in BatchUpdateMembersRequest when UpdateMemberRequest is built as a child request of BatchUpdateMembersRequest.",
            "in": "query",
            "name": "updateMask",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.settings"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.settings"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Updates a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
        "operationId": "meet.spaces.members.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Member"
              }
            }
          }
        }
      }
    },
    "/v2/{+name}:endActiveConference": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Ends an active conference (if there's one). For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
        "operationId": "meet.spaces.endActiveConference",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndActiveConferenceRequest"
              }
            }
          }
        }
      }
    },
    "/v2/{+parent}/entries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListTranscriptEntriesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts). Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
        "operationId": "meet.conferenceRecords.transcripts.entries.list"
      }
    },
    "/v2/{+parent}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: spaces/{space}",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Maximum number of members to return. The service might return fewer than this value. If unspecified or set to 0, at most 250 members are returned. The maximum value is 500; values above 500 are coerced to 500. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListMembersResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Lists members. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted this API response will default to \"name,email,role,user\".",
        "operationId": "meet.spaces.members.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. Format: spaces/{space}",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Creates a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted, this API response will default to \"name,email,role,user\".",
        "operationId": "meet.spaces.members.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Member"
              }
            }
          }
        }
      }
    },
    "/v2/{+parent}/members:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. The parent resource shared by all Members being updated. Format: spaces/{space}",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateMembersResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "tags": [
          "spaces"
        ],
        "description": "Updates members of one space within a batch. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
        "operationId": "meet.spaces.members.batchUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateMembersRequest"
              }
            }
          }
        }
      }
    },
    "/v2/{+parent}/participantSessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListParticipantSessionsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
        "operationId": "meet.conferenceRecords.participants.participantSessions.list"
      }
    },
    "/v2/{+parent}/participants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `conferenceRecords/{conference_record}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListParticipantsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
        "operationId": "meet.conferenceRecords.participants.list"
      }
    },
    "/v2/{+parent}/recordings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `conferenceRecords/{conference_record}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListRecordingsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
        "operationId": "meet.conferenceRecords.recordings.list"
      }
    },
    "/v2/{+parent}/smartNotes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `conferenceRecords/{conference_record}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListSmartNotesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
        "operationId": "meet.conferenceRecords.smartNotes.list"
      }
    },
    "/v2/{+parent}/transcripts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Format: `conferenceRecords/{conference_record}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Page token returned from previous List Call.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListTranscriptsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "tags": [
          "conferenceRecords"
        ],
        "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
        "operationId": "meet.conferenceRecords.transcripts.list"
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Member": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Member"
            }
          }
        }
      }
    },
    "schemas": {
      "ActiveConference": {
        "description": "Active conference.",
        "properties": {
          "conferenceRecord": {
            "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "AnonymousUser": {
        "description": "User who joins anonymously (meaning not signed into a Google Account).",
        "properties": {
          "displayName": {
            "description": "Output only. User provided name when they join a conference anonymously.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ArtifactConfig": {
        "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
        "properties": {
          "recordingConfig": {
            "$ref": "#/components/schemas/RecordingConfig",
            "description": "Configuration for recording."
          },
          "smartNotesConfig": {
            "$ref": "#/components/schemas/SmartNotesConfig",
            "description": "Configuration for auto-smart-notes."
          },
          "transcriptionConfig": {
            "$ref": "#/components/schemas/TranscriptionConfig",
            "description": "Configuration for auto-transcript."
          }
        },
        "type": "object"
      },
      "BatchUpdateMembersRequest": {
        "description": "Request to update members of one space within a batch.",
        "properties": {
          "requests": {
            "description": "Required. The request message specifying the resources to update. A maximum of 500 members can be modified in a batch.",
            "items": {
              "$ref": "#/components/schemas/UpdateMemberRequest"
            },
            "type": "array"
          },
          "updateMask": {
            "description": "Optional. Top-level field mask used to specify the fields to be updated in the member for all UpdateMemberRequests. There are 4 possible scenarios for top-level and child field mask: 1. top-level and child field mask is absent: All fields provided in the requests are updated, including deleting fields not set in the requests. 2. top-level field mask is present but child field mask is absent: The fields specified in the top-level field mask are updated. 3. top-level and child field mask is present: The child field mask must be the same as the top-level field mask. 4. top-level field mask is absent but child field mask is present: It isn't supported and will return an error.",
            "format": "google-fieldmask",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BatchUpdateMembersResponse": {
        "description": "Response of batch update members.",
        "properties": {
          "members": {
            "description": "Members updated.",
            "items": {
              "$ref": "#/components/schemas/Member"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ConferenceRecord": {
        "description": "Single instance of a meeting held in a space.",
        "properties": {
          "endTime": {
            "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "expireTime": {
            "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
            "type": "string"
          },
          "space": {
            "description": "Output only. The space where the conference was held.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Output only. Timestamp when the conference started. Always set.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DocsDestination": {
        "description": "Google Docs location where the transcript file is saved.",
        "properties": {
          "document": {
            "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
            "readOnly": true,
            "type": "string"
          },
          "exportUri": {
            "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DriveDestination": {
        "description": "Export location where a recording file is saved in Google Drive.",
        "properties": {
          "exportUri": {
            "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
            "readOnly": true,
            "type": "string"
          },
          "file": {
            "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "properties": {},
        "type": "object"
      },
      "EndActiveConferenceRequest": {
        "description": "Request to end an ongoing conference of a space.",
        "properties": {},
        "type": "object"
      },
      "GatewaySipAccess": {
        "description": "Details how to join the conference through a SIP gateway.",
        "properties": {
          "sipAccessCode": {
            "description": "The permanent numeric code for manual entry on specially configured devices.",
            "type": "string"
          },
          "uri": {
            "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListConferenceRecordsResponse": {
        "description": "Response of ListConferenceRecords method.",
        "properties": {
          "conferenceRecords": {
            "description": "List of conferences in one page.",
            "items": {
              "$ref": "#/components/schemas/ConferenceRecord"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListMembersResponse": {
        "description": "Response of list members.",
        "properties": {
          "members": {
            "description": "The list of members for the current page.",
            "items": {
              "$ref": "#/components/schemas/Member"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "Token to be circulated back for further list call if current list doesn't include all the members. Unset if all members are returned.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListParticipantSessionsResponse": {
        "description": "Response of ListParticipants method.",
        "properties": {
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
            "type": "string"
          },
          "participantSessions": {
            "description": "List of participants in one page.",
            "items": {
              "$ref": "#/components/schemas/ParticipantSession"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListParticipantsResponse": {
        "description": "Response of ListParticipants method.",
        "properties": {
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
            "type": "string"
          },
          "participants": {
            "description": "List of participants in one page.",
            "items": {
              "$ref": "#/components/schemas/Participant"
            },
            "type": "array"
          },
          "totalSize": {
            "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ListRecordingsResponse": {
        "description": "Response for ListRecordings method.",
        "properties": {
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
            "type": "string"
          },
          "recordings": {
            "description": "List of recordings in one page.",
            "items": {
              "$ref": "#/components/schemas/Recording"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListSmartNotesResponse": {
        "description": "Response for ListSmartNotes method.",
        "properties": {
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned.",
            "type": "string"
          },
          "smartNotes": {
            "description": "List of smart notes in one page.",
            "items": {
              "$ref": "#/components/schemas/SmartNote"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListTranscriptEntriesResponse": {
        "description": "Response for ListTranscriptEntries method.",
        "properties": {
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
            "type": "string"
          },
          "transcriptEntries": {
            "description": "List of TranscriptEntries in one page.",
            "items": {
              "$ref": "#/components/schemas/TranscriptEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ListTranscriptsResponse": {
        "description": "Response for ListTranscripts method.",
        "properties": {
          "nextPageToken": {
            "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
            "type": "string"
          },
          "transcripts": {
            "description": "List of transcripts in one page.",
            "items": {
              "$ref": "#/components/schemas/Transcript"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Member": {
        "description": "Users who are configured to have a role in the space. These users can join the space without knocking.",
        "properties": {
          "email": {
            "description": "Email for the member. This is required for creating the member.",
            "type": "string"
          },
          "name": {
            "description": "Identifier. Resource name of the member. Format: spaces/{space}/members/{member}",
            "type": "string"
          },
          "role": {
            "description": "The meeting role assigned to the member.",
            "enum": [
              "ROLE_UNSPECIFIED",
              "COHOST"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ModerationRestrictions": {
        "description": "Defines restrictions for features when the meeting is moderated.",
        "properties": {
          "chatRestriction": {
            "description": "Defines who has permission to send chat messages in the meeting space.",
            "enum": [
              "RESTRICTION_TYPE_UNSPECIFIED",
              "HOSTS_ONLY",
              "NO_RESTRICTION"
            ],
            "type": "string"
          },
          "defaultJoinAsViewerType": {
            "description": "Defines whether to restrict the default role assigned to users as viewer.",
            "enum": [
              "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
              "ON",
              "OFF"
            ],
            "type": "string"
          },
          "presentRestriction": {
            "description": "Defines who has permission to share their screen in the meeting space.",
            "enum": [
              "RESTRICTION_TYPE_UNSPECIFIED",
              "HOSTS_ONLY",
              "NO_RESTRICTION"
            ],
            "type": "string"
          },
          "reactionRestriction": {
            "description": "Defines who has permission to send reactions in the meeting space.",
            "enum": [
              "RESTRICTION_TYPE_UNSPECIFIED",
              "HOSTS_ONLY",
              "NO_RESTRICTION"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Participant": {
        "description": "User who attended or is attending a conference.",
        "properties": {
          "anonymousUser": {
            "$ref": "#/components/schemas/AnonymousUser",
            "description": "Anonymous user."
          },
          "earliestStartTime": {
            "description": "Output only. Time when the participant first joined the meeting.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "latestEndTime": {
            "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
            "readOnly": true,
            "type": "string"
          },
          "phoneUser": {
            "$ref": "#/components/schemas/PhoneUser",
            "description": "User calling from their phone."
          },
          "signedinUser": {
            "$ref": "#/components/schemas/SignedinUser",
            "description": "Signed-in user."
          }
        },
        "type": "object"
      },
      "ParticipantSession": {
        "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
        "properties": {
          "endTime": {
            "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Identifier. Session id.",
            "type": "string"
          },
          "startTime": {
            "description": "Output only. Timestamp when the user session starts.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "PhoneAccess": {
        "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
        "properties": {
          "languageCode": {
            "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
            "type": "string"
          },
          "phoneNumber": {
            "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
            "type": "string"
          },
          "pin": {
            "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
            "type": "string"
          },
          "regionCode": {
            "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PhoneUser": {
        "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
        "properties": {
          "displayName": {
            "description": "Output only. Partially redacted user's phone number when calling.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Recording": {
        "description": "Metadata about a recording created during a conference.",
        "properties": {
          "driveDestination": {
            "$ref": "#/components/schemas/DriveDestination",
            "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
            "readOnly": true
          },
          "endTime": {
            "description": "Output only. Timestamp when the recording ended.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Output only. Timestamp when the recording started.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Output only. Current state.",
            "enum": [
              "STATE_UNSPECIFIED",
              "STARTED",
              "ENDED",
              "FILE_GENERATED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "RecordingConfig": {
        "description": "Configuration related to recording in a meeting space.",
        "properties": {
          "autoRecordingGeneration": {
            "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
            "enum": [
              "AUTO_GENERATION_TYPE_UNSPECIFIED",
              "ON",
              "OFF"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "SignedinUser": {
        "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
        "properties": {
          "displayName": {
            "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
            "readOnly": true,
            "type": "string"
          },
          "user": {
            "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SmartNote": {
        "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
        "properties": {
          "docsDestination": {
            "$ref": "#/components/schemas/DocsDestination",
            "description": "Output only. The Google Doc destination where the smart notes are saved.",
            "readOnly": true
          },
          "endTime": {
            "description": "Output only. Timestamp when the smart notes stopped.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Output only. Timestamp when the smart notes started.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Output only. Current state.",
            "enum": [
              "STATE_UNSPECIFIED",
              "STARTED",
              "ENDED",
              "FILE_GENERATED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SmartNotesConfig": {
        "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
        "properties": {
          "autoSmartNotesGeneration": {
            "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
            "enum": [
              "AUTO_GENERATION_TYPE_UNSPECIFIED",
              "ON",
              "OFF"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Space": {
        "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
        "properties": {
          "activeConference": {
            "$ref": "#/components/schemas/ActiveConference",
            "description": "Active conference, if it exists."
          },
          "config": {
            "$ref": "#/components/schemas/SpaceConfig",
            "description": "Configuration pertaining to the meeting space."
          },
          "gatewaySipAccess": {
            "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
            "items": {
              "$ref": "#/components/schemas/GatewaySipAccess"
            },
            "readOnly": true,
            "type": "array"
          },
          "meetingCode": {
            "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
            "readOnly": true,
            "type": "string"
          },
          "meetingUri": {
            "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
            "type": "string"
          },
          "phoneAccess": {
            "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
            "items": {
              "$ref": "#/components/schemas/PhoneAccess"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "SpaceConfig": {
        "description": "The configuration pertaining to a meeting space.",
        "properties": {
          "accessType": {
            "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
            "enum": [
              "ACCESS_TYPE_UNSPECIFIED",
              "OPEN",
              "TRUSTED",
              "RESTRICTED"
            ],
            "type": "string"
          },
          "artifactConfig": {
            "$ref": "#/components/schemas/ArtifactConfig",
            "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
          },
          "attendanceReportGenerationType": {
            "description": "Whether attendance report is enabled for the meeting space.",
            "enum": [
              "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
              "GENERATE_REPORT",
              "DO_NOT_GENERATE"
            ],
            "type": "string"
          },
          "entryPointAccess": {
            "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
            "enum": [
              "ENTRY_POINT_ACCESS_UNSPECIFIED",
              "ALL",
              "CREATOR_APP_ONLY"
            ],
            "type": "string"
          },
          "moderation": {
            "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
            "enum": [
              "MODERATION_UNSPECIFIED",
              "OFF",
              "ON"
            ],
            "type": "string"
          },
          "moderationRestrictions": {
            "$ref": "#/components/schemas/ModerationRestrictions",
            "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions."
          }
        },
        "type": "object"
      },
      "Transcript": {
        "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
        "properties": {
          "docsDestination": {
            "$ref": "#/components/schemas/DocsDestination",
            "description": "Output only. Where the Google Docs transcript is saved.",
            "readOnly": true
          },
          "endTime": {
            "description": "Output only. Timestamp when the transcript stopped.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Output only. Timestamp when the transcript started.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Output only. Current state.",
            "enum": [
              "STATE_UNSPECIFIED",
              "STARTED",
              "ENDED",
              "FILE_GENERATED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "TranscriptEntry": {
        "description": "Single entry for one user’s speech during a transcript session.",
        "properties": {
          "endTime": {
            "description": "Output only. Timestamp when the transcript entry ended.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "languageCode": {
            "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
            "readOnly": true,
            "type": "string"
          },
          "participant": {
            "description": "Output only. Refers to the participant who speaks.",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Output only. Timestamp when the transcript entry started.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "text": {
            "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "TranscriptionConfig": {
        "description": "Configuration related to transcription in a meeting space.",
        "properties": {
          "autoTranscriptionGeneration": {
            "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
            "enum": [
              "AUTO_GENERATION_TYPE_UNSPECIFIED",
              "ON",
              "OFF"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateMemberRequest": {
        "description": "Request to update a member.",
        "properties": {
          "member": {
            "$ref": "#/components/schemas/Member",
            "description": "Required. The Member to update. Format: spaces/{space}/members/{member}"
          },
          "updateMask": {
            "description": "Optional. Field mask used to specify the fields to be updated in the member. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request. In case of BatchUpdate, it must be absent or the same as the update_mask in BatchUpdateMembersRequest when UpdateMemberRequest is built as a child request of BatchUpdateMembersRequest.",
            "format": "google-fieldmask",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/meetings.space.created": "Create, edit, and see information about your Google Meet conferences created by the app.",
              "https://www.googleapis.com/auth/meetings.space.readonly": "Read information about any of your Google Meet conferences",
              "https://www.googleapis.com/auth/meetings.space.settings": "Edit, and see settings for all of your Google Meet calls."
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 accessCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/meetings.space.created": "Create, edit, and see information about your Google Meet conferences created by the app.",
              "https://www.googleapis.com/auth/meetings.space.readonly": "Read information about any of your Google Meet conferences",
              "https://www.googleapis.com/auth/meetings.space.settings": "Edit, and see settings for all of your Google Meet calls."
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "conferenceRecords"
    },
    {
      "name": "spaces"
    }
  ],
  "externalDocs": {
    "url": "https://developers.google.com/workspace/meet/api"
  }
}
