{
  "openapi": "3.0.1",
  "x-settings": {
    "publish": true
  },
  "info": {
    "title": "Miro",
    "version": "v2.0",
    "description": "Create and manage Miro boards, items, teams, and collaboration resources through the Miro REST API.",
    "x-bionic-slug": "miro",
    "x-bionic-source-url": "https://github.com/miroapp/api-clients/blob/main/packages/generator/spec.json",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+TWlybzwvdGl0bGU+PHBhdGggZmlsbD0iIzA1MDAzOCIgZD0iTTE3LjM5MiAwSDEzLjlMMTcgNC44MDggMTAuNDQ0IDBINi45NDlsMy4xMDIgNi4zTDMuNDk0IDBIMGwzLjA1IDguMTMxTDAgMjRoMy40OTRMMTAuMDUgNi45ODUgNi45NDkgMjRoMy40OTRMMTcgNS40OTQgMTMuODk5IDI0aDMuNDkzTDI0IDMuNjcyIDE3LjM5MiAweiIvPjwvc3ZnPg=="
    }
  },
  "servers": [
    {
      "url": "https://api.miro.com/"
    }
  ],
  "paths": {
    "/v1/oauth/revoke": {
      "post": {
        "tags": [
          "tokens"
        ],
        "summary": "Revoke token (v1)",
        "description": "<p><b>Please use the new revoke endpoint <code>/v2/oauth/revoke</code>. This endpoint is considered vulnerable and deprecated due to access token passed publicly in the URL.</b></p> Revoke the current access token. Revoking an access token means that the access token will no longer work. When an access token is revoked, the refresh token is also revoked and no longer valid. This does not uninstall the application for the user.",
        "operationId": "revoke-token",
        "deprecated": true,
        "parameters": [
          {
            "description": "Access token that you want to revoke",
            "in": "query",
            "name": "access_token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "400": {
            "description": "Failed to revoke token"
          }
        }
      }
    },
    "/v1/oauth-token": {
      "get": {
        "tags": [
          "tokens"
        ],
        "summary": "Get access token information",
        "description": "Get information about an access token, such as the token type, scopes, team, user, token creation date and time, and the user who created the token.",
        "operationId": "token-info",
        "responses": {
          "200": {
            "description": "Token information",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Token information",
                  "type": "object",
                  "required": [
                    "type",
                    "organization",
                    "team",
                    "createdBy",
                    "user"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "organization": {
                      "title": "Organization information",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "name",
                        "id"
                      ]
                    },
                    "team": {
                      "title": "Team information",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "name",
                        "id"
                      ]
                    },
                    "createdBy": {
                      "type": "object",
                      "title": "User information",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "name",
                        "id"
                      ]
                    },
                    "user": {
                      "type": "object",
                      "title": "User information",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "name",
                        "id"
                      ]
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid token provided"
          }
        }
      }
    },
    "/v2/orgs/{org_id}/ai-interaction-logs": {
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "description": "Retrieves AI interaction logs for your organization. AI interaction logs capture user interactions with AI features in Miro. You can retrieve results for a specific time period. You can also filter results based on object IDs and the emails of users who interacted with AI features. Additionally, results can be paginated for easier viewing and processing.\n<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>aiinteractionlogs:read</a>\n<br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a>\n<br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>.</p>\n",
        "operationId": "enterprise-get-ai-interaction-logs",
        "parameters": [
          {
            "name": "org_id",
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_ids",
            "description": "List of object IDs used to retrieve AI interaction logs. \nCurrently, supported object types include board IDs and organization IDs. \nYou can obtain object IDs from the response of this endpoint (the <code>object.id</code> field), \nfrom other Platform API endpoints (for example, [Get boards API](https://developers.miro.com/reference/get-boards)), \nor from Miro UI URLs (board ID and organization ID from the URLs).\n",
            "example": [
              "3458764549483493025",
              "u8J_kllZmDk="
            ],
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 15,
              "items": {
                "description": "Unique identifier of the object (organization, board) where AI interaction happened for the User.",
                "type": "string",
                "example": "3458764549483493025"
              }
            }
          },
          {
            "name": "emails",
            "description": "Filters AI interaction logs using a list of user emails. Only AI interactions associated with the provided emails will be included in the response.",
            "example": [
              "someone@domain.com",
              "someoneelse@domain.com"
            ],
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 15,
              "items": {
                "description": "Email address of the user whose AI interaction logs you want to retrieve. Only interactions associated with the specified emails are returned.",
                "type": "string",
                "example": "someone@domain.com"
              }
            }
          },
          {
            "name": "from",
            "description": "Start date and time of the time range used to filter AI interaction logs. Only interactions that were stored within the specified <code>from</code> - <code>to</code> time range are returned.\nFormat: UTC, adheres to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), includes a [trailing Z offset](https://en.wikipedia.org/wiki/ISO_8601#Coordinated_Universal_Time_(UTC)).\n",
            "example": "2026-01-30T17:26:50Z",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "description": "End date and time of the time range used to filter AI interaction logs. Only interactions that were stored within the specified <code>from</code> - <code>to</code> time range are returned.\nFormat: UTC, adheres to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), includes a [trailing Z offset](https://en.wikipedia.org/wiki/ISO_8601#Coordinated_Universal_Time_(UTC)).\n",
            "example": "2036-03-30T17:26:50Z",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursor",
            "description": "A cursor-paginated method returns a portion of the total set of results based on the limit specified and a cursor that points to the next portion of the results. To retrieve the next portion of the collection, set the cursor parameter equal to the cursor value you received in the response of the previous request.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "MTY2OTg4NTIwMDAwMHwxMjM="
          },
          {
            "name": "limit",
            "description": "The maximum number of results to return per call. If the number of logs in the response is greater than the limit specified, the response returns the cursor parameter with a value.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "example": 100
          },
          {
            "name": "sorting",
            "description": "Sort order in which you want to view the result set based on the interaction date. To sort by an ascending date, specify `asc`. To sort by a descending date, specify `desc`.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiInteractionLogsResponse"
                }
              }
            },
            "description": "Response from the API that includes AI interaction logs, size of the data list, pagination cursor, and pagination limit.\n"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get AI interaction logs (Beta)",
        "tags": [
          "AI Interaction Logs"
        ]
      }
    },
    "/v2/audit/logs": {
      "get": {
        "description": "Retrieves a page of audit events from the last 90 days. If you want to retrieve data that is older than 90 days, you can use the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/360017571434-Audit-logs#h_01J7EY4E0F67EFTRQ7BT688HW0\">CSV export feature</a>.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>auditlogs:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a>",
        "operationId": "enterprise-get-audit-logs",
        "parameters": [
          {
            "description": "Retrieve audit logs created after the date and time provided. This is the start date of the duration for which you want to retrieve audit logs. For example, if you want to retrieve audit logs between `2023-03-30T17:26:50.000Z` and `2023-04-30T17:26:50.000Z`, provide `2023-03-30T17:26:50.000Z` as the value for the `createdAfter` parameter.<br>Format: UTC, adheres to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), including milliseconds and a [trailing Z offset](https://en.wikipedia.org/wiki/ISO_8601#Coordinated_Universal_Time_(UTC)).\"\n",
            "example": "2023-03-30T17:26:50.000Z",
            "in": "query",
            "name": "createdAfter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieve audit logs created before the date and time provided. This is the end date of the duration for which you want to retrieve audit logs. For example, if you want to retrieve audit logs between `2023-03-30T17:26:50.000Z` and `2023-04-30T17:26:50.000Z`, provide `2023-04-30T17:26:50.000Z` as the value for the `createdBefore` parameter.<br>Format: UTC, adheres to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), including milliseconds and a [trailing Z offset](https://en.wikipedia.org/wiki/ISO_8601#Coordinated_Universal_Time_(UTC)).\n",
            "example": "2023-04-30T17:26:50.000Z",
            "in": "query",
            "name": "createdBefore",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A cursor-paginated method returns a portion of the total set of results based on the `limit` specified and a `cursor` that points to the next portion of the results. To retrieve the next set of results of the collection, set the `cursor` parameter in your next request to the appropriate cursor value returned in the response.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results returned based on the `limit` specified in the request. For example, if there are `30` results, the request has no `cursor` value, and the `limit` is set to `20`,the `size` of the results will be `20`. The rest of the results will not be returned. To retrieve the rest of the results, you must make another request and set the appropriate value for the `cursor` parameter value that  you obtained from the response.<br>Default: `100`\n",
            "example": 100,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort order in which you want to view the result set. Based on the value you provide, the results are sorted in an ascending or descending order of the audit log creation date (audit log `createdAt` parameter).<br>Default: `ASC`\n",
            "example": "ASC",
            "in": "query",
            "name": "sorting",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditPage"
                }
              }
            },
            "description": "Audit logs fetched"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get audit logs",
        "tags": [
          "Audit Logs"
        ]
      }
    },
    "/v2/orgs/{org_id}/data-classification-settings": {
      "get": {
        "description": "Retrieves board classification settings for an existing organization.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organizations:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-dataclassification-organization-settings-get",
        "parameters": [
          {
            "description": "id of the organization",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataClassificationOrganizationSettings"
                }
              }
            },
            "description": "Organization board classification settings"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get organization settings",
        "tags": [
          "Board classification: Organization level"
        ]
      }
    },
    "/v2/orgs/{org_id}/teams/{team_id}/data-classification": {
      "patch": {
        "description": "Updates board classification for not-classified only or all boards in an existing team.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-dataclassification-team-boards-bulk",
        "parameters": [
          {
            "description": "id of the organization",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of the team",
            "example": "3074457345618265000",
            "in": "path",
            "name": "team_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBoardsDataClassificationLabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBoardsDataClassificationLabel"
                }
              }
            },
            "description": "Number of updated boards"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Bulk update boards classification",
        "tags": [
          "Board classification: Team level"
        ]
      }
    },
    "/v2/orgs/{org_id}/teams/{team_id}/data-classification-settings": {
      "get": {
        "description": "Retrieves board classification settings for an existing team.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organizations:teams:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-dataclassification-team-settings-get",
        "parameters": [
          {
            "description": "id of the organization",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of the team",
            "example": "3074457345618265000",
            "in": "path",
            "name": "team_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataClassificationTeamSettings"
                }
              }
            },
            "description": "Team board classification settings"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get team settings",
        "tags": [
          "Board classification: Team level"
        ]
      },
      "patch": {
        "description": "Updates board classification settings for an existing team.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organizations:teams:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-dataclassification-team-settings-set",
        "x-settings": {
          "skip-tests": true
        },
        "parameters": [
          {
            "description": "id of the organization",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of the team",
            "example": "3074457345618265000",
            "in": "path",
            "name": "team_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataClassificationTeamSettings"
                }
              }
            },
            "description": "Team board classification settings"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Update team settings",
        "tags": [
          "Board classification: Team level"
        ]
      }
    },
    "/v2/orgs/{org_id}/teams/{team_id}/boards/{board_id}/data-classification": {
      "get": {
        "description": "Retrieves board classification for a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-dataclassification-board-get",
        "x-settings": {
          "skip-tests": true
        },
        "parameters": [
          {
            "description": "id of the organization",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of the team",
            "example": "3074457345618265000",
            "in": "path",
            "name": "team_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board that you want to retrieve.",
            "example": "o9J_kzlUDmo=",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardDataClassificationLabel"
                }
              }
            },
            "description": "Board classification"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get board classification",
        "tags": [
          "Board classification: Board level"
        ]
      },
      "post": {
        "description": "Updates board classification for an existing board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-dataclassification-board-set",
        "x-settings": {
          "skip-tests": true
        },
        "parameters": [
          {
            "description": "id of the organization",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of the team",
            "example": "3074457345618265000",
            "in": "path",
            "name": "team_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board that you want to update.",
            "example": "o9J_kzlUDmo=",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataClassificationLabelId"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardDataClassificationLabel"
                }
              }
            },
            "description": "Board classification"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Update board classification",
        "tags": [
          "Board classification: Board level"
        ]
      }
    },
    "/v2/boards/{board_id}/docs": {
      "post": {
        "description": "Adds a doc format item to a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 2</a><br/>",
        "operationId": "create-doc-format-item",
        "parameters": [
          {
            "description": "Unique identifier (ID) of the board where you want to create the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocFormatCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocFormatItem"
                }
              }
            },
            "description": "Doc format item created"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Create doc format item",
        "tags": [
          "doc formats"
        ]
      }
    },
    "/v2/boards/{board_id}/docs/{item_id}": {
      "get": {
        "description": "Retrieves information for a specific doc format item on a board.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:read</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 1</a><br/>",
        "operationId": "get-doc-format-item",
        "parameters": [
          {
            "description": "Unique identifier (ID) of the board from which you want to retrieve a specific item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier (ID) of the item that you want to retrieve.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Controls the contentType of the returned doc's content.",
            "in": "query",
            "name": "textContentType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocFormatItem"
                }
              }
            },
            "description": "Doc format item retrieved"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get doc format item",
        "tags": [
          "doc formats"
        ]
      },
      "delete": {
        "description": "Deletes a doc format item from the board<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:write</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 3</a><br/>",
        "operationId": "delete-doc-format-item",
        "parameters": [
          {
            "description": "Unique identifier (ID) of the board from which you want to delete the item.",
            "in": "path",
            "name": "board_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier (ID) of the item that you want to delete.",
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Doc format item deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Delete doc format item",
        "tags": [
          "doc formats"
        ]
      }
    },
    "/v2/orgs/{org_id}/cases": {
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Get all cases",
        "operationId": "get-all-cases",
        "description": "Retrieves the list of eDiscovery cases in an organization.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "$ref": "#/components/parameters/queryPageLimit"
          },
          {
            "$ref": "#/components/parameters/queryPageCursor"
          },
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to retrieve the list of cases.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Case objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      },
      "post": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Create case",
        "operationId": "create-case",
        "description": "Creating a case for legal hold is the first critical step in the eDiscovery process when litigation or an investigation is anticipated. One of the purposes of creating a case is that it acts as a container that allows admins to group multiple legal holds under one case. For more information, see our <a href=\"https://help.miro.com/hc/en-us/articles/22120022370962-Create-a-case\" target=_blank>Help Center page on creating a case</a>. <br><br>This API creates a new case in an organization.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization in which you want to create a new case.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Case created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      }
    },
    "/v2/orgs/{org_id}/cases/{case_id}": {
      "delete": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Close case",
        "operationId": "delete-case",
        "description": "Closing a case is the final stage in the eDiscovery process, marking the conclusion of a legal matter or investigation. You must ensure that all associated legal holds within the case are closed before closing the case. Closing a case will permanently delete it. For more information, see our <a href=\"https://help.miro.com/hc/en-us/articles/22138936297746-Close-a-case\" target=_blank>Help Center page on closing a case</a>. <br><br>This API closes a case in an organization.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization in which you want to close a case.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case you want to close.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Case closed successfully."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      },
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Get case",
        "operationId": "get-case",
        "description": "Retrieves information about a case in an organization.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 3</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to retrieve the case information.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case you want to retrieve.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Case object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      },
      "put": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Edit case",
        "operationId": "edit-case",
        "description": "Editing a case allows eDiscovery Admins to keep case details accurate and aligned with the evolving scope of a legal matter. As investigations progress, it may be necessary to update the case name or description to reflect changes in focus, terminology, or internal documentation standards. Since a case serves as the central container for one or more legal holds, keeping its information up to date helps ensure clarity, consistency, and easier navigation for all stakeholders involved in the legal process.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/docs/miro-rest-api-introduction#rate-limiting\">Level 3</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to edit the case information.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case you want to edit.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Case object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      }
    },
    "/v2/orgs/{org_id}/cases/{case_id}/legal-holds": {
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Get all legal holds within a case",
        "operationId": "get-all-legal-holds",
        "description": "Retrieves the list of all legal holds within a case for an organization.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "$ref": "#/components/parameters/queryPageLimit"
          },
          {
            "$ref": "#/components/parameters/queryPageCursor"
          },
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to retrieve the list of legal holds within a case.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case for which you want to retrieve the list of legal holds.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Legal hold objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLegalHoldResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      },
      "post": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Create legal hold",
        "operationId": "create-legal-hold",
        "description": "After creating a case it is possible to add one or multiple legal holds to the case. Creating a legal hold involves identifying the relevant users associated with a case and applying the hold to prevent permanent deletion of content that those users own, co-own, create, edit or access. For more information, see our <a href=\"https://help.miro.com/hc/en-us/articles/22120471564946-Add-a-legal-hold-to-a-case\" target=_blank>Help Center page on adding a legal hold to a case</a>. <br><br>This API creates a new legal hold in a case for an organization. Newly created legal holds could take up to 24 hours to be processed.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalHoldRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization in which you want to create a new legal hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case in which you want to create a new legal hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Legal hold created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalHoldResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      }
    },
    "/v2/orgs/{org_id}/cases/{case_id}/export-jobs": {
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Get board export jobs of a case",
        "operationId": "get-legal-hold-export-jobs",
        "description": "Retrieves board export jobs for a case.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "$ref": "#/components/parameters/queryPageLimit"
          },
          {
            "$ref": "#/components/parameters/queryPageCursor"
          },
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to retrieve the list of export jobs within a case.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case for which you want to retrieve the list of export jobs.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Export job objects containing job IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCaseExportJobsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      }
    },
    "/v2/orgs/{org_id}/cases/{case_id}/legal-holds/{legal_hold_id}": {
      "delete": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Close legal hold",
        "operationId": "delete-legal-hold",
        "description": "Closing a legal hold is one of the final steps in the eDiscovery process once the litigation or investigation has concluded. This process involves releasing the Miro boards and custodians that were under legal hold, allowing the preserved boards to return to normal operations. Closing a legal hold will permanently delete it. For more information, see our <a href=\"https://help.miro.com/hc/en-us/articles/21922521629330-Close-a-legal-hold\" target=_blank>Help Center page on closing a legal hold</a>. <br><br>This API closes a legal hold in a case for an organization. Once a legal hold is closed, it can take up to 24 hours to release the content items from the legal hold. <br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization in which you want to close a legal hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case in which you want to close a legal hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          },
          {
            "in": "path",
            "name": "legal_hold_id",
            "description": "The ID of the legal hold you want to close.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619013003",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Legal hold closed successfully."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      },
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Get legal hold information",
        "operationId": "get-legal-hold",
        "description": "Retrieves information about a legal hold within a case for an organization. <br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 3</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to retrieve the legal hold information.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case for which you want to retrieve the legal hold information.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          },
          {
            "in": "path",
            "name": "legal_hold_id",
            "description": "The ID of the legal hold you want to retrieve.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619013003",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Legal hold object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalHoldResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      },
      "put": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Edit legal hold",
        "operationId": "edit-legal-hold",
        "description": "Editing a legal hold allows eDiscovery Admins to adjust and refine ongoing legal preservation efforts as case requirements evolve. Whether new custodians are identified, additional Miro boards become relevant, or existing boards or users are no longer in scope, editing a legal hold ensures that the correct data remains preserved and defensible throughout the legal process. Admins can update the legal hold’s name or description and add or remove users and boards as needed. This flexibility supports dynamic legal workflows and ensures that preservation stays precise, up to date, and aligned with the scope of the legal matter—maintaining compliance while avoiding unnecessary data retention.<br/><br/>When a legal hold is edited, boards newly added to the hold will begin having their versions preserved from that point forward, boards or users removed from the hold will stop being preserved, and their versions will no longer be preserved as part of that legal hold, boards that remain under hold will continue to have all versions preserved, including any deletions that occur after the hold was applied. This approach ensures organizations can respond to legal demands with accuracy and accountability as a case evolves.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/docs/miro-rest-api-introduction#rate-limiting\">Level 3</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalHoldRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to edit the legal hold information.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case for which you want to edit the legal hold information.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          },
          {
            "in": "path",
            "name": "legal_hold_id",
            "description": "The ID of the legal hold you want to edit.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619013003",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Legal hold object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalHoldResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      }
    },
    "/v2/orgs/{org_id}/cases/{case_id}/legal-holds/{legal_hold_id}/content-items": {
      "get": {
        "x-settings": {
          "publish": true,
          "skip-tests": true
        },
        "summary": "Get content items under legal hold",
        "operationId": "get-legal-hold-content-items",
        "description": "Once a legal hold is in place you can review or explore the preserved Miro boards to ensure that all relevant data is intact and ready for legal proceedings or investigations. For more information, see our <a href=\"https://help.miro.com/hc/en-us/articles/22120628583570-Review-boards-under-legal-hold\" target=_blank>Help Center page on reviewing boards under legal hold</a>. <br><br>This API lists all content items under a specific legal hold in a case for an organization. Please verify that the legal hold is in 'ACTIVE' state to guarantee that the legal hold has finished processing the full list of content items under hold. <br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>organization:cases:management</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 3</a> <br/><h3>Enterprise Guard only</h3> <p>This API is available only for Enterprise plan users with the <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15699815402514-Enterprise-Guard-overview\">Enterprise Guard add-on</a>. You can only use this endpoint if you have both the Company Admin and <a target=_blank href=\"https://help.miro.com/hc/en-us/articles/15695755655954-Understand-admin-roles-and-their-privileges#01JARF6KM8ATNT6YDMGD7GMYJN\">eDiscovery Admin</a> roles.",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "description": "The ID of the organization for which you want to retrieve the list of content items under hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345618265000",
            "required": true
          },
          {
            "in": "path",
            "name": "case_id",
            "description": "The ID of the case for which you want to retrieve the list of content items under hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619012007",
            "required": true
          },
          {
            "in": "path",
            "name": "legal_hold_id",
            "description": "The ID of the legal hold for which you want to retrieve the list of content items under hold.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "example": "3074457345619013003",
            "required": true
          },
          {
            "$ref": "#/components/parameters/queryPageLimit"
          },
          {
            "$ref": "#/components/parameters/queryPageCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Content item objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLegalHoldContentItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "tags": [
          "Legal holds"
        ]
      }
    },
    "/v2/orgs/{org_id}/boards/export/jobs": {
      "post": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Creates an export job for one or more boards.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-create-board-export",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board export job.",
            "example": "92343229-c532-446d-b8cb-2f155bedb807",
            "in": "query",
            "name": "request_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBoardExportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardExportJobId"
                }
              }
            },
            "description": "Unique identifier of the board export job"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "425": {
            "$ref": "#/components/responses/425"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Create board export job",
        "tags": [
          "Board Export"
        ]
      },
      "get": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Retrieves the list of board export jobs based on the filters provided in the request.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-board-export-jobs",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the board export jobs that you want to retrieve, such as JOB_STATUS_CREATED, JOB_STATUS_IN_PROGRESS, JOB_STATUS_CANCELLED or JOB_STATUS_FINISHED.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Indicates the current state of the board export job.\nPossible values:\n`JOB_STATUS_CREATED`: the job has been created but not yet started. Retry the status call after some time.\n`JOB_STATUS_IN_PROGRESS`: the job is in progress, and the results are not ready yet. Retry the status call after some time.\n`JOB_STATUS_CANCELLED`: the job has been cancelled and will not produce any more results.\n`JOB_STATUS_FINISHED`: the job is complete. You can now get results for the board export job.",
                "example": "JOB_STATUS_CREATED"
              }
            }
          },
          {
            "name": "creatorId",
            "in": "query",
            "description": "Unique identifier of the board export job creator.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "example": [
              1234567890,
              9876543210
            ]
          },
          {
            "name": "cursor",
            "description": "A cursor-paginated method returns a portion of the total set of results based on the limit specified and a cursor that points to the next portion of the results. To retrieve the next portion of the collection, set the cursor parameter equal to the cursor value you received in the response of the previous request.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "87a1a375-cee6-43f2-8049-5c9b5b6b9069"
          },
          {
            "name": "limit",
            "description": "The maximum number of results to return per call. If the number of jobs in the response is greater than the limit specified, the response returns the cursor parameter with a value.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardExportJobsList"
                }
              }
            },
            "description": "List of board export jobs."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get board export jobs list",
        "tags": [
          "Board Export"
        ]
      }
    },
    "/v2/orgs/{org_id}/boards/export/jobs/{job_id}": {
      "get": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Retrieves the status of the board export job.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-board-export-job-status",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board export job.",
            "example": "92343229-c532-446d-b8cb-2f155bedb807",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardExportJobStatus"
                }
              }
            },
            "description": "Board export job status"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get board export job status",
        "tags": [
          "Board Export"
        ]
      }
    },
    "/v2/orgs/{org_id}/boards/export/jobs/{job_id}/results": {
      "get": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Retrieves the result of the board export job. The response provides more information about the board export job, such as the S3 link to the files created.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-board-export-job-results",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the job.",
            "example": "92343229-c532-446d-b8cb-2f155bedb807",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardExportResult"
                }
              }
            },
            "description": "Board export job result"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get results for board export job",
        "tags": [
          "Board Export"
        ]
      }
    },
    "/v2/orgs/{org_id}/boards/export/jobs/{job_id}/status": {
      "put": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Updates the status of the board export job.<br/>Currently, only the cancellation of an ongoing export job is supported.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-update-board-export-job",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board export job.",
            "example": "92343229-c532-446d-b8cb-2f155bedb807",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "description": "Only the `CANCELLED` status is currently supported.",
                    "type": "string",
                    "enum": [
                      "CANCELLED"
                    ]
                  }
                },
                "example": {
                  "status": "CANCELLED"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/BoardExportJobStatus"
                        },
                        {
                          "type": "string",
                          "example": "CANCELLED"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "Update board export job status"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Update board export job status",
        "tags": [
          "Board Export"
        ]
      }
    },
    "/v2/orgs/{org_id}/boards/export/jobs/{job_id}/tasks": {
      "get": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Retrieves the list of tasks for the board export job.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-board-export-job-tasks",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board export job.",
            "example": "08ac2d88-c3a7-46a1-923d-b5fb88ff3fe2",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters the list of board export tasks by their status. Accepts an array of statuses such as TASK_STATUS_CREATED, TASK_STATUS_CANCELLED, TASK_STATUS_SCHEDULED, TASK_STATUS_SUCCESS or TASK_STATUS_ERROR.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ExportTaskStatusFilter"
              }
            },
            "example": "TASK_STATUS_CREATED"
          },
          {
            "name": "cursor",
            "description": "A cursor-paginated method returns a portion of the total set of results based on the limit specified and a cursor that points to the next portion of the results. To retrieve the next portion of the collection, set the cursor parameter equal to the cursor value you received in the response of the previous request.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "87a1a375-cee6-43f2-8049-5c9b5b6b9069"
          },
          {
            "name": "limit",
            "description": "The maximum number of results to return per call. If the number of tasks in the response is greater than the limit specified, the response returns the cursor parameter with a value.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardExportJobTasksList"
                }
              }
            },
            "description": "List of tasks for the board export job."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Get board export job tasks list",
        "tags": [
          "Board Export"
        ]
      }
    },
    "/v2/orgs/{org_id}/boards/export/jobs/{job_id}/tasks/{task_id}/export-link": {
      "post": {
        "x-settings": {
          "skip-tests": true
        },
        "description": "Creates a link to download the results of a board export task.<br/><h3>Required scope</h3> <a target=_blank href=https://developers.miro.com/reference/scopes>boards:export</a> <br/><h3>Rate limiting</h3> <a target=_blank href=\"/reference/rate-limiting#rate-limit-tiers\">Level 4</a> <br/><h3>Enterprise only</h3> <p>This API is available only for <a target=_blank href=\"/reference/api-reference#enterprise-plan\">Enterprise plan</a> users. You can only use this endpoint if you have the role of a Company Admin and eDiscovery is enabled in the Settings. You can request temporary access to Enterprise APIs using <a target=_blank href=\"https://q2oeb0jrhgi.typeform.com/to/BVPTNWJ9\">this form</a>.</p>",
        "operationId": "enterprise-create-board-export-task-export-link",
        "parameters": [
          {
            "description": "Unique identifier of the organization.",
            "example": "3074457345821141000",
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the board export job.",
            "example": "08ac2d88-c3a7-46a1-923d-b5fb88ff3fe2",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "Unique identifier of the board export task.",
            "example": "9394a815-86ea-418c-8bfc-71772fdb692d",
            "in": "path",
            "name": "task_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardExportTaskExportLink"
                }
              }
            },
            "description": "Link to download the results of a board export task."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "425": {
            "$ref": "#/components/responses/425"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        },
        "summary": "Create task export link",
        "tags": [
          "Board Export"
        ]
      }
    },
    "/v2/orgs/{org_id}/content-logs/items": {
      "get": {
        "x-settings": {
          "skip-tests": true
        },
[...]
