{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "1.0.0",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac",
    "description": "Search and manage Notion pages, databases, comments, and workspace content through the Notion API.",
    "x-bionic-slug": "notion",
    "x-bionic-source-url": "https://developers.notion.com/openapi.json",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Tm90aW9uPC90aXRsZT48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNNC40NTkgNC4yMDhjLjc0Ni42MDYgMS4wMjYuNTYgMi40MjguNDY2bDEzLjIxNS0uNzkzYy4yOCAwIC4wNDctLjI4LS4wNDYtLjMyNkwxNy44NiAxLjk2OGMtLjQyLS4zMjYtLjk4MS0uNy0yLjA1NS0uNjA3TDMuMDEgMi4yOTVjLS40NjYuMDQ2LS41Ni4yOC0uMzc0LjQ2NnptLjc5MyAzLjA4djEzLjkwNGMwIC43NDcuMzczIDEuMDI3IDEuMjE0Ljk4bDE0LjUyMy0uODRjLjg0MS0uMDQ2LjkzNS0uNTYuOTM1LTEuMTY3VjYuMzU0YzAtLjYwNi0uMjMzLS45MzMtLjc0OC0uODg3bC0xNS4xNzcuODg3Yy0uNTYuMDQ3LS43NDcuMzI3LS43NDcuOTMzem0xNC4zMzcuNzQ1Yy4wOTMuNDIgMCAuODQtLjQyLjg4OGwtLjcuMTR2MTAuMjY0Yy0uNjA4LjMyNy0xLjE2OC41MTQtMS42MzUuNTE0LS43NDggMC0uOTM1LS4yMzQtMS40OTUtLjkzM2wtNC41NzctNy4xODZ2Ni45NTJMMTIuMjEgMTlzMCAuODQtMS4xNjguODRsLTMuMjIyLjE4NmMtLjA5My0uMTg2IDAtLjY1My4zMjctLjc0NmwuODQtLjIzM1Y5Ljg1NEw3LjgyMiA5Ljc2Yy0uMDk0LS40Mi4xNC0xLjAyNi43OTMtMS4wNzNsMy40NTYtLjIzMyA0Ljc2NCA3LjI3OXYtNi40NGwtMS4yMTUtLjEzOWMtLjA5My0uNTE0LjI4LS44ODcuNzQ3LS45MzN6TTEuOTM2IDEuMDM1bDEzLjMxLS45OGMxLjYzNC0uMTQgMi4wNTUtLjA0NyAzLjA4Mi43bDQuMjQ5IDIuOTg2Yy43LjUxMy45MzQuNjUzLjkzNCAxLjIxM3YxNi4zNzhjMCAxLjAyNi0uMzczIDEuNjM0LTEuNjggMS43MjZsLTE1LjQ1OC45MzRjLS45OC4wNDctMS40NDgtLjA5My0xLjk2Mi0uNzQ3bC0zLjEyOS00LjA2Yy0uNTYtLjc0Ny0uNzkzLTEuMzA2LS43OTMtMS45NlYyLjY2N2MwLS44MzkuMzc0LTEuNTQgMS40NDctMS42MzJ6Ii8+PC9zdmc+"
    }
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agent Skills",
      "description": "Skill and plugin directory endpoints"
    },
    {
      "name": "Databases",
      "description": "Database endpoints"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints"
    },
    {
      "name": "Pages",
      "description": "Page endpoints"
    },
    {
      "name": "Async tasks",
      "description": "Async task endpoints"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    },
    {
      "name": "File uploads",
      "description": "File upload endpoints"
    },
    {
      "name": "OAuth",
      "description": "OAuth endpoints (basic authentication)"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Views",
      "description": "View endpoints"
    },
    {
      "name": "Agents",
      "description": "Agent endpoints"
    },
    {
      "name": "Sessions",
      "description": "Session endpoints"
    },
    {
      "name": "Custom emojis",
      "description": "Custom emoji endpoints"
    },
    {
      "name": "Meeting notes",
      "description": "Meeting notes endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "agentIdParentForBlockBasedObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "agent_id",
            "description": "The parent type."
          },
          "agent_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the parent agent."
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "agent_id"
        ]
      },
      "annotationRequest": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "description": "Whether the text is formatted as bold."
          },
          "italic": {
            "type": "boolean",
            "description": "Whether the text is formatted as italic."
          },
          "strikethrough": {
            "type": "boolean",
            "description": "Whether the text is formatted with a strikethrough."
          },
          "underline": {
            "type": "boolean",
            "description": "Whether the text is formatted with an underline."
          },
          "code": {
            "type": "boolean",
            "description": "Whether the text is formatted as code."
          },
          "color": {
            "$ref": "#/components/schemas/apiColor",
            "description": "The color of the text."
          }
        }
      },
      "annotationResponse": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean"
          },
          "italic": {
            "type": "boolean"
          },
          "strikethrough": {
            "type": "boolean"
          },
          "underline": {
            "type": "boolean"
          },
          "code": {
            "type": "boolean"
          },
          "color": {
            "$ref": "#/components/schemas/apiColor"
          }
        },
        "additionalProperties": false,
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ]
      },
      "apiColor": {
        "type": "string",
        "enum": [
          "default",
          "gray",
          "brown",
          "orange",
          "yellow",
          "green",
          "blue",
          "purple",
          "pink",
          "red",
          "default_background",
          "gray_background",
          "brown_background",
          "orange_background",
          "yellow_background",
          "green_background",
          "blue_background",
          "purple_background",
          "pink_background",
          "red_background"
        ],
        "description": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`, `default_background`, `gray_background`, `brown_background`, `orange_background`, `yellow_background`, `green_background`, `blue_background`, `purple_background`, `pink_background`, `red_background`"
      },
      "apiTranscriptionStatus": {
        "type": "string",
        "enum": [
          "transcription_not_started",
          "transcription_paused",
          "transcription_in_progress",
          "transcription_failed",
          "summary_in_progress",
          "notes_ready"
        ]
      },
      "arrayBasedPropertyValueResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/titleArrayBasedPropertyValueResponse"
          },
          {
            "$ref": "#/components/schemas/richTextArrayBasedPropertyValueResponse"
          },
          {
            "$ref": "#/components/schemas/peopleArrayBasedPropertyValueResponse"
          },
          {
            "$ref": "#/components/schemas/relationArrayBasedPropertyValueResponse"
          }
        ]
      },
      "arrayPartialRollupValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "array",
            "description": "Always `array`"
          },
          "array": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simpleOrArrayPropertyValueResponse"
            },
            "maxItems": 100
          }
        },
        "required": [
          "type",
          "array"
        ],
        "title": "Array"
      },
      "asyncTaskMcpOperationName": {
        "type": "string",
        "enum": [
          "create_pages",
          "update_page"
        ]
      },
      "asyncTaskRestOperationName": {
        "type": "string",
        "enum": [
          "POST /v1/pages",
          "PATCH /v1/pages/:page_id/markdown"
        ]
      },
      "audioBlockObjectResponse": {
        "title": "Audio",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "audio"
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "const": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "audio",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "baseWebhookPayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this webhook event."
          },
          "timestamp": {
            "type": "string",
            "description": "ISO 8601 timestamp of when the event occurred. Can be used to order events."
          },
          "workspace_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the workspace where the event originated."
          },
          "workspace_name": {
            "type": "string",
            "description": "The name of the workspace where the event originated."
          },
          "subscription_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the webhook subscription."
          },
          "integration_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the integration the subscription is set up with."
          },
          "authors": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse",
                      "description": "The ID of the user."
                    },
                    "type": {
                      "type": "string",
                      "const": "person",
                      "description": "Always `person`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse",
                      "description": "The ID of the bot."
                    },
                    "type": {
                      "type": "string",
                      "const": "bot",
                      "description": "Always `bot`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                }
              ]
            },
            "maxItems": 100,
            "description": "The users or bots that performed the action. Typically an array of length 1; can be more for aggregated events."
          },
          "attempt_number": {
            "type": "integer",
            "description": "The delivery attempt number (1-8) of the current event delivery."
          },
          "api_version": {
            "type": "string",
            "enum": [
              "2022-06-28",
              "2025-09-03",
              "2026-03-11"
            ],
            "description": "The Notion API version that was used to render this webhook event's shape."
          },
          "accessible_by": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse",
                      "description": "The ID of the user."
                    },
                    "type": {
                      "type": "string",
                      "const": "person",
                      "description": "Always `person`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse",
                      "description": "The ID of the bot."
                    },
                    "type": {
                      "type": "string",
                      "const": "bot",
                      "description": "Always `bot`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                }
              ]
            },
            "maxItems": 100,
            "description": "The users or bots who own the bot connection to the `integration_id` and have access to the webhook's `entity`. Only present for public integrations."
          }
        },
        "required": [
          "id",
          "timestamp",
          "workspace_id",
          "workspace_name",
          "subscription_id",
          "integration_id",
          "authors",
          "attempt_number",
          "api_version"
        ]
      },
      "blockIdCommentParentResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "block_id",
            "description": "Always `block_id`"
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "block_id"
        ],
        "title": "Block Id"
      },
      "blockIdParentForBlockBasedObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "block_id",
            "description": "The parent type."
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the parent block."
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "block_id"
        ]
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "title": "Embed",
            "type": "object",
            "properties": {
              "embed": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/embedFileUploadRequest"
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "embed"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "embed"
            ]
          },
          {
            "title": "Bookmark",
            "type": "object",
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "bookmark"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bookmark"
            ]
          },
          {
            "title": "Image",
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "image"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "image"
            ]
          },
          {
            "title": "Video",
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "video"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "video"
            ]
          },
          {
            "title": "Pdf",
            "type": "object",
            "properties": {
              "pdf": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "pdf"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "pdf"
            ]
          },
          {
            "title": "File",
            "type": "object",
            "properties": {
              "file": {
                "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "file"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "file"
            ]
          },
          {
            "title": "Audio",
            "type": "object",
            "properties": {
              "audio": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "audio"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "audio"
            ]
          },
          {
            "title": "Code",
            "type": "object",
            "properties": {
              "code": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "language": {
                    "$ref": "#/components/schemas/languageRequest"
                  },
                  "caption": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text",
                  "language"
                ]
              },
              "type": {
                "type": "string",
                "const": "code"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "code"
            ]
          },
          {
            "title": "Equation",
            "type": "object",
            "properties": {
              "equation": {
                "$ref": "#/components/schemas/contentWithExpressionRequest"
              },
              "type": {
                "type": "string",
                "const": "equation"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "equation"
            ]
          },
          {
            "title": "Divider",
            "type": "object",
            "properties": {
              "divider": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "divider"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "divider"
            ]
          },
          {
            "title": "Breadcrumb",
            "type": "object",
            "properties": {
              "breadcrumb": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "breadcrumb"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "breadcrumb"
            ]
          },
          {
            "title": "Tab",
            "type": "object",
            "properties": {
              "tab": {
                "$ref": "#/components/schemas/tabRequestWithNestedTabItemChildren"
              },
              "type": {
                "type": "string",
                "const": "tab"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "tab"
            ]
          },
          {
            "title": "Table Of Contents",
            "type": "object",
            "properties": {
              "table_of_contents": {
                "type": "object",
                "properties": {
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false
              },
              "type": {
                "type": "string",
                "const": "table_of_contents"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_of_contents"
            ]
          },
          {
            "title": "Link To Page",
            "type": "object",
            "properties": {
              "link_to_page": {
                "anyOf": [
                  {
                    "title": "Page Id",
                    "type": "object",
                    "properties": {
                      "page_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "page_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "page_id"
                    ]
                  },
                  {
                    "title": "Database Id",
                    "type": "object",
                    "properties": {
                      "database_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "database_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "database_id"
                    ]
                  },
                  {
                    "title": "Comment Id",
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "comment_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "comment_id"
                    ]
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "link_to_page"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "link_to_page"
            ]
          },
          {
            "title": "Table Row",
            "type": "object",
            "properties": {
              "table_row": {
                "$ref": "#/components/schemas/contentWithTableRowRequest"
              },
              "type": {
                "type": "string",
                "const": "table_row"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_row"
            ]
          },
          {
            "title": "Table",
            "type": "object",
            "properties": {
              "table": {
                "$ref": "#/components/schemas/tableRequestWithTableRowChildren"
              },
              "type": {
                "type": "string",
                "const": "table"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table"
            ]
          },
          {
            "title": "Column List",
            "type": "object",
            "properties": {
              "column_list": {
                "$ref": "#/components/schemas/columnListRequest"
              },
              "type": {
                "type": "string",
                "const": "column_list"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "column_list"
            ]
          },
          {
            "title": "Column",
            "type": "object",
            "properties": {
              "column": {
                "$ref": "#/components/schemas/columnWithChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "column"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "column"
            ]
          },
          {
            "title": "Heading 1",
            "type": "object",
            "properties": {
              "heading_1": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_1"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_1"
            ]
          },
          {
            "title": "Heading 2",
            "type": "object",
            "properties": {
              "heading_2": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_2"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_2"
            ]
          },
          {
            "title": "Heading 3",
            "type": "object",
            "properties": {
              "heading_3": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_3"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_3"
            ]
          },
          {
            "title": "Heading 4",
            "type": "object",
            "properties": {
              "heading_4": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_4"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_4"
            ]
          },
          {
            "title": "Paragraph",
            "type": "object",
            "properties": {
              "paragraph": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "paragraph"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "paragraph"
            ]
          },
          {
            "title": "Bulleted List Item",
            "type": "object",
            "properties": {
              "bulleted_list_item": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "bulleted_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bulleted_list_item"
            ]
          },
          {
            "title": "Numbered List Item",
            "type": "object",
            "properties": {
              "numbered_list_item": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "numbered_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "numbered_list_item"
            ]
          },
          {
            "title": "Quote",
            "type": "object",
            "properties": {
              "quote": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "quote"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "quote"
            ]
          },
          {
            "title": "To Do",
            "type": "object",
            "properties": {
              "to_do": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  },
                  "checked": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "to_do"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "to_do"
            ]
          },
          {
            "title": "Toggle",
            "type": "object",
            "properties": {
              "toggle": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "toggle"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "toggle"
            ]
          },
          {
            "title": "Template",
            "type": "object",
            "properties": {
              "template": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "template"
            ]
          },
          {
            "title": "Callout",
            "type": "object",
            "properties": {
              "callout": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "callout"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "callout"
            ]
          },
          {
            "title": "Synced Block",
            "type": "object",
            "properties": {
              "synced_block": {
                "type": "object",
                "properties": {
                  "synced_from": {
                    "title": "Block Id",
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "block_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "block_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "block_id"
                    ]
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "synced_from"
                ]
              },
              "type": {
                "type": "string",
                "const": "synced_block"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_block"
            ]
          }
        ]
      },
      "blockObjectRequestWithoutChildren": {
        "anyOf": [
          {
            "title": "Embed",
            "type": "object",
            "properties": {
              "embed": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/embedFileUploadRequest"
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "embed"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "embed"
            ]
          },
          {
            "title": "Bookmark",
            "type": "object",
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "bookmark"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bookmark"
            ]
          },
          {
            "title": "Image",
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "image"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "image"
            ]
          },
          {
            "title": "Video",
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "video"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "video"
            ]
          },
          {
            "title": "Pdf",
            "type": "object",
            "properties": {
              "pdf": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "pdf"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "pdf"
            ]
          },
          {
            "title": "File",
            "type": "object",
            "properties": {
              "file": {
                "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "file"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "file"
            ]
          },
          {
            "title": "Audio",
            "type": "object",
            "properties": {
              "audio": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "audio"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "audio"
            ]
          },
          {
            "title": "Code",
            "type": "object",
            "properties": {
              "code": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "language": {
                    "$ref": "#/components/schemas/languageRequest"
                  },
                  "caption": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text",
                  "language"
                ]
              },
              "type": {
                "type": "string",
                "const": "code"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "code"
            ]
          },
          {
            "title": "Equation",
            "type": "object",
            "properties": {
              "equation": {
                "$ref": "#/components/schemas/contentWithExpressionRequest"
              },
              "type": {
                "type": "string",
                "const": "equation"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "equation"
            ]
          },
          {
            "title": "Divider",
            "type": "object",
            "properties": {
              "divider": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "divider"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "divider"
            ]
          },
          {
            "title": "Breadcrumb",
            "type": "object",
            "properties": {
              "breadcrumb": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "breadcrumb"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "breadcrumb"
            ]
          },
          {
            "title": "Tab",
            "type": "object",
            "properties": {
              "tab": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "tab"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "tab"
            ]
          },
          {
            "title": "Table Of Contents",
            "type": "object",
            "properties": {
              "table_of_contents": {
                "type": "object",
                "properties": {
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false
              },
              "type": {
                "type": "string",
                "const": "table_of_contents"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_of_contents"
            ]
          },
          {
            "title": "Link To Page",
            "type": "object",
            "properties": {
              "link_to_page": {
                "anyOf": [
                  {
                    "title": "Page Id",
                    "type": "object",
                    "properties": {
                      "page_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "page_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "page_id"
                    ]
                  },
                  {
                    "title": "Database Id",
                    "type": "object",
                    "properties": {
                      "database_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "database_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "database_id"
                    ]
                  },
                  {
                    "title": "Comment Id",
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "comment_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "comment_id"
                    ]
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "link_to_page"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "link_to_page"
            ]
          },
          {
            "title": "Table Row",
            "type": "object",
            "properties": {
              "table_row": {
                "$ref": "#/components/schemas/contentWithTableRowRequest"
              },
              "type": {
                "type": "string",
                "const": "table_row"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_row"
            ]
          },
          {
            "title": "Heading 1",
            "type": "object",
            "properties": {
              "heading_1": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_1"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_1"
            ]
          },
          {
            "title": "Heading 2",
            "type": "object",
            "properties": {
              "heading_2": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_2"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_2"
            ]
          },
          {
            "title": "Heading 3",
            "type": "object",
            "properties": {
              "heading_3": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_3"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_3"
            ]
          },
          {
            "title": "Heading 4",
            "type": "object",
            "properties": {
              "heading_4": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_4"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_4"
            ]
          },
          {
            "title": "Paragraph",
            "type": "object",
            "properties": {
              "paragraph": {
                "$ref": "#/components/schemas/contentWithRichTextColorAndIconRequest"
              },
              "type": {
                "type": "string",
                "const": "paragraph"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "paragraph"
            ]
          },
          {
            "title": "Bulleted List Item",
            "type": "object",
            "properties": {
              "bulleted_list_item": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "bulleted_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bulleted_list_item"
            ]
          },
          {
            "title": "Numbered List Item",
            "type": "object",
            "properties": {
              "numbered_list_item": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "numbered_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "numbered_list_item"
            ]
          },
          {
            "title": "Quote",
            "type": "object",
            "properties": {
              "quote": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "quote"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "quote"
            ]
          },
          {
            "title": "To Do",
            "type": "object",
            "properties": {
              "to_do": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "checked": {
                    "type": "boolean"
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "to_do"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "to_do"
            ]
          },
          {
            "title": "Toggle",
            "type": "object",
            "properties": {
              "toggle": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "toggle"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "toggle"
            ]
          },
          {
            "title": "Template",
            "type": "object",
            "properties": {
              "template": {
                "$ref": "#/components/schemas/contentWithRichTextRequest"
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "template"
            ]
          },
          {
            "title": "Callout",
            "type": "object",
            "properties": {
              "callout": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "callout"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "callout"
            ]
          },
          {
            "title": "Synced Block",
            "type": "object",
            "properties": {
              "synced_block": {
                "type": "object",
                "properties": {
                  "synced_from": {
                    "title": "Block Id",
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "block_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "block_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "block_id"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "synced_from"
                ]
              },
              "type": {
                "type": "string",
                "const": "synced_block"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_block"
            ]
          }
        ]
      },
      "blockObjectResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading1BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading2BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading3BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading4BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/numberedListItemBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/quoteBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/toDoBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/toggleBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/templateBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/syncedBlockBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/childPageBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/childDatabaseBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/equationBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/codeBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/calloutBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/dividerBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/breadcrumbBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tableOfContentsBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tabBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/columnListBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/columnBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/linkToPageBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tableBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tableRowBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/meetingNotesBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/embedBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/bookmarkBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/imageBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/videoBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/pdfBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/fileBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/audioBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/linkPreviewBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/unsupportedBlockObjectResponse"
          }
        ]
      },
      "blockObjectWithSingleLevelOfChildrenRequest": {
        "anyOf": [
          {
            "title": "Embed",
            "type": "object",
            "properties": {
              "embed": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/embedFileUploadRequest"
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "embed"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "embed"
            ]
          },
          {
            "title": "Bookmark",
            "type": "object",
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "bookmark"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bookmark"
            ]
          },
          {
            "title": "Image",
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "image"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "image"
            ]
          },
          {
            "title": "Video",
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "video"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "video"
            ]
          },
          {
            "title": "Pdf",
            "type": "object",
            "properties": {
              "pdf": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "pdf"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "pdf"
            ]
          },
          {
            "title": "File",
            "type": "object",
            "properties": {
              "file": {
                "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "file"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "file"
            ]
          },
          {
            "title": "Audio",
            "type": "object",
            "properties": {
              "audio": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "audio"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "audio"
            ]
          },
          {
            "title": "Code",
            "type": "object",
            "properties": {
              "code": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "language": {
                    "$ref": "#/components/schemas/languageRequest"
                  },
                  "caption": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text",
                  "language"
                ]
              },
              "type": {
                "type": "string",
                "const": "code"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "code"
            ]
          },
          {
            "title": "Equation",
            "type": "object",
            "properties": {
              "equation": {
                "$ref": "#/components/schemas/contentWithExpressionRequest"
              },
              "type": {
                "type": "string",
                "const": "equation"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "equation"
            ]
          },
          {
            "title": "Divider",
            "type": "object",
            "properties": {
              "divider": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "divider"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "divider"
            ]
          },
          {
            "title": "Breadcrumb",
            "type": "object",
            "properties": {
              "breadcrumb": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "breadcrumb"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "breadcrumb"
            ]
          },
          {
            "title": "Tab",
            "type": "object",
            "properties": {
              "tab": {
                "$ref": "#/components/schemas/tabRequestWithTabItemChildren"
              },
              "type": {
                "type": "string",
                "const": "tab"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "tab"
            ]
          },
          {
            "title": "Table Of Contents",
            "type": "object",
            "properties": {
              "table_of_contents": {
                "type": "object",
                "properties": {
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false
              },
              "type": {
                "type": "string",
                "const": "table_of_contents"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_of_contents"
            ]
          },
          {
            "title": "Link To Page",
            "type": "object",
            "properties": {
              "link_to_page": {
                "anyOf": [
                  {
                    "title": "Page Id",
                    "type": "object",
                    "properties": {
                      "page_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "page_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "page_id"
                    ]
                  },
                  {
                    "title": "Database Id",
                    "type": "object",
                    "properties": {
                      "database_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "database_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "database_id"
                    ]
                  },
                  {
                    "title": "Comment Id",
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "comment_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "comment_id"
                    ]
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "link_to_page"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "link_to_page"
            ]
          },
          {
            "title": "Table Row",
            "type": "object",
            "properties": {
              "table_row": {
                "$ref": "#/components/schemas/contentWithTableRowRequest"
              },
              "type": {
                "type": "string",
                "const": "table_row"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_row"
            ]
          },
          {
            "title": "Heading 1",
            "type": "object",
            "properties": {
              "heading_1": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_1"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_1"
            ]
          },
          {
            "title": "Heading 2",
            "type": "object",
            "properties": {
              "heading_2": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_2"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_2"
            ]
          },
          {
            "title": "Heading 3",
            "type": "object",
            "properties": {
              "heading_3": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_3"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_3"
            ]
          },
          {
            "title": "Heading 4",
            "type": "object",
            "properties": {
              "heading_4": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_4"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_4"
            ]
          },
          {
            "title": "Paragraph",
            "type": "object",
            "properties": {
              "paragraph": {
                "$ref": "#/components/schemas/paragraphWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "paragraph"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "paragraph"
            ]
          },
          {
            "title": "Bulleted List Item",
            "type": "object",
            "properties": {
              "bulleted_list_item": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "bulleted_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bulleted_list_item"
            ]
          },
          {
            "title": "Numbered List Item",
            "type": "object",
            "properties": {
              "numbered_list_item": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "numbered_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "numbered_list_item"
            ]
          },
          {
            "title": "Quote",
            "type": "object",
            "properties": {
              "quote": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "quote"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "quote"
            ]
          },
          {
            "title": "Table",
            "type": "object",
            "properties": {
              "table": {
                "$ref": "#/components/schemas/tableRequestWithTableRowChildren"
              },
              "type": {
                "type": "string",
                "const": "table"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table"
            ]
          },
          {
            "title": "To Do",
            "type": "object",
            "properties": {
              "to_do": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  },
                  "checked": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "to_do"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "to_do"
            ]
          },
          {
            "title": "Toggle",
            "type": "object",
            "properties": {
              "toggle": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "toggle"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "toggle"
            ]
          },
          {
            "title": "Template",
            "type": "object",
            "properties": {
              "template": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "template"
            ]
          },
          {
            "title": "Callout",
            "type": "object",
            "properties": {
              "callout": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "callout"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "callout"
            ]
          },
          {
            "title": "Synced Block",
            "type": "object",
            "properties": {
              "synced_block": {
                "type": "object",
                "properties": {
                  "synced_from": {
                    "title": "Block Id",
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "block_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "block_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "block_id"
                    ]
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "synced_from"
                ]
              },
              "type": {
                "type": "string",
                "const": "synced_block"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_block"
            ]
          }
        ]
      },
      "boardViewConfigRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "board",
            "description": "The view type. Must be \"board\"."
          },
          "group_by": {
            "$ref": "#/components/schemas/groupByConfigRequest",
            "description": "Group-by configuration for board columns."
          },
          "sub_group_by": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/groupByConfigRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Secondary group-by configuration for sub-grouping within columns. Pass null to remove sub-grouping."
          },
          "properties": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/viewPropertyConfigRequest"
                },
                "maxItems": 100
              },
              {
                "type": "null"
              }
            ],
            "description": "Property visibility and display configuration on cards. Pass null to clear."
          },
          "cover": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/coverConfigRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Cover image configuration for cards. Pass null to clear."
          },
          "cover_size": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "small",
                  "medium",
                  "large"
                ],
                "description": "One of: `small`, `medium`, `large`"
              },
              {
                "type": "null"
              }
            ],
            "description": "Size of the cover image on cards. Pass null to clear."
          },
          "cover_aspect": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "contain",
                  "cover"
                ],
                "description": "One of: `contain`, `cover`"
              },
              {
                "type": "null"
              }
            ],
            "description": "Aspect ratio mode for cover images. \"contain\" fits the image, \"cover\" fills the area. Pass null to clear."
          },
          "card_layout": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "list",
                  "compact"
                ],
                "description": "One of: `list`, `compact`"
              },
              {
                "type": "null"
              }
            ],
            "description": "Card layout mode. \"list\" shows full cards, \"compact\" shows condensed cards. Pass null to clear."
          }
        },
        "required": [
          "type",
          "group_by"
        ]
      },
      "boardViewConfigResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "board",
            "description": "The view configuration type."
          },
          "group_by": {
            "$ref": "#/components/schemas/groupByConfigResponse",
            "description": "Column (horizontal) grouping - required for board view."
          },
          "sub_group_by": {
            "$ref": "#/components/schemas/groupByConfigResponse",
            "description": "Sub-grouping (vertical swimlanes within columns)."
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/viewPropertyConfigResponse"
[...]
