{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoom",
    "description": "Manage Zoom meetings, webinars, participants, recordings, and meeting resources through the Zoom Meetings API.",
    "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/"
    },
    "version": "2",
    "x-bionic-slug": "zoom",
    "x-bionic-source-url": "https://developers.zoom.us/api-hub/meetings/methods/endpoints.json",
    "x-logo": {
      "url": "data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Wm9vbTwvdGl0bGU+PHBhdGggZmlsbD0iIzBCNUNGRiIgZD0iTTUuMDMzIDE0LjY0OUguNzQzYS43NC43NCAwIDAgMS0uNjg2LS40NTguNzQuNzQgMCAwIDEgLjE2LS44MDhMMy4xOSAxMC40MUgxLjA2QTEuMDYgMS4wNiAwIDAgMSAwIDkuMzVoMy45NTdjLjMwMSAwIC41Ny4xOC42ODYuNDU4YS43NC43NCAwIDAgMS0uMTYxLjgwOEwxLjUxIDEzLjU5aDIuNDY0Yy41ODUgMCAxLjA2LjQ3NSAxLjA2IDEuMDZ6TTI0IDExLjMzOGMwLTEuMTQtLjkyNy0yLjA2Ni0yLjA2Ni0yLjA2Ni0uNjEgMC0xLjE1OC4yNjUtMS41MzcuNjg2YTIuMDYxIDIuMDYxIDAgMCAwLTEuNTM2LS42ODZjLTEuMTQgMC0yLjA2Ni45MjYtMi4wNjYgMi4wNjZ2My4zMTFhMS4wNiAxLjA2IDAgMCAwIDEuMDYtMS4wNnYtMi4yNTFhMS4wMDQgMS4wMDQgMCAwIDEgMi4wMTMgMHYyLjI1MWMwIC41ODYuNDc0IDEuMDYgMS4wNiAxLjA2di0zLjMxMWExLjAwNCAxLjAwNCAwIDAgMSAyLjAxMiAwdjIuMjUxYzAgLjU4Ni40NzUgMS4wNiAxLjA2IDEuMDZ6TTE2LjI2NSAxMmEyLjcyOCAyLjcyOCAwIDEgMS01LjQ1NyAwIDIuNzI4IDIuNzI4IDAgMCAxIDUuNDU3IDB6bS0xLjA2IDBhMS42NjkgMS42NjkgMCAxIDAtMy4zMzggMCAxLjY2OSAxLjY2OSAwIDAgMCAzLjMzOCAwem0tNC44MiAwYTIuNzI4IDIuNzI4IDAgMSAxLTUuNDU4IDAgMi43MjggMi43MjggMCAwIDEgNS40NTcgMHptLTEuMDYgMGExLjY2OSAxLjY2OSAwIDEgMC0zLjMzOCAwIDEuNjY5IDEuNjY5IDAgMCAwIDMuMzM4IDB6Ii8+PC9zdmc+"
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "https://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2"
    }
  ],
  "paths": {
    "/archive_files": {
      "get": {
        "tags": [
          "Archiving"
        ],
        "summary": "List archived files",
        "description": "Get an account's archived meeting or webinar files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:list_archived_files:admin`,`archiving:read:list_archived_files:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "listArchivedFiles",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "example": 30,
              "default": 30
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-03-11T05:41:36Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-03-18T05:41:36Z"
            }
          },
          {
            "name": "query_date_type",
            "in": "query",
            "description": "The type of query date.\n* `meeting_start_time` \n* `archive_complete_time` \n\n This value defaults to `meeting_start_time`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "meeting_start_time",
              "default": "meeting_start_time",
              "enum": [
                "meeting_start_time",
                "archive_complete_time"
              ]
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "Deprecated. Please use 'group_ids' for querying.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "pvFIYKSDTum9iCDOOtQL4w",
              "deprecated": true
            }
          },
          {
            "name": "group_ids",
            "in": "query",
            "description": "The group IDs. To get a group ID, use the [List groups](/docs/api/rest/reference/scim-api/methods/#operation/groupSCIM2List) API.\n(The maximum number of supported groups for filtering is 7.)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "CVCF1k8ZR3e52ChmEzlNxA,lwQiDh2kS0WaawetgMjtfw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Archived files returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "The queried start date.",
                      "format": "date-time",
                      "example": "2021-03-12T02:12:27Z"
                    },
                    "meetings": {
                      "type": "array",
                      "description": "Information about the meeting or webinar.",
                      "items": {
                        "required": [
                          "account_name",
                          "archive_files",
                          "complete_time",
                          "duration",
                          "duration_in_second",
                          "host_id",
                          "id",
                          "is_breakout_room",
                          "meeting_type",
                          "recording_count",
                          "start_time",
                          "status",
                          "timezone",
                          "topic",
                          "total_size",
                          "type",
                          "uuid"
                        ],
                        "type": "object",
                        "properties": {
                          "account_name": {
                            "type": "string",
                            "description": "The user's account name.",
                            "example": "account_01"
                          },
                          "archive_files": {
                            "type": "array",
                            "description": "Information about the archive files.",
                            "items": {
                              "required": [
                                "download_url",
                                "encryption_fingerprint",
                                "file_extension",
                                "file_size",
                                "file_type",
                                "id",
                                "individual",
                                "participant_join_time",
                                "participant_leave_time",
                                "recording_type",
                                "status"
                              ],
                              "type": "object",
                              "properties": {
                                "download_url": {
                                  "type": "string",
                                  "description": "The URL to download the the archive file. \n\n **OAuth apps** \n\n If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](/docs/integrations/oauth/) to download the file. For example, `https://{{base-domain}}/rec/archive/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` \n\n **Note:** This field does **not** return for [Zoom on-premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). Instead, this API will return the `file_path` field.",
                                  "example": "https://example.com/recording/download/Qg75t7xZBtEbAkjdlgbfdngBBBB"
                                },
                                "file_extension": {
                                  "type": "string",
                                  "description": "The archived file's extension.",
                                  "example": "JSON"
                                },
                                "file_path": {
                                  "type": "string",
                                  "description": "The file path to the on-premise account archive file. \n\n **Note:** The API only returns this field for [Zoom on-premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). It does **not** return the `download_url` field.",
                                  "example": "/9090876528/path01/demo.mp4"
                                },
                                "file_size": {
                                  "type": "integer",
                                  "description": "The archived file's size, in bytes.",
                                  "example": 165743
                                },
                                "file_type": {
                                  "type": "string",
                                  "description": "The archive file's type. \n* `MP4` - Video file. \n* `M4A` - Audio-only file. \n* `CHAT` - A TXT file containing in-meeting chat messages. \n* `CC` - A file containing the closed captions of the recording, in VTT file format. \n*  `CHAT_MESSAGE` - A JSON file encoded in base64 format containing chat messages. The file also includes waiting room chats, deleted messages, meeting emojis and non-verbal feedback. \n*  `TRANSCRIPT` - A JSON file include audio transcript wording. \n* `SUB_GROUP_MEMBER_LOG` - A json file containing records of members entering and leaving the subgroup. \n* `AIC_COVERSATION` - A json file include internal user archive aic content.",
                                  "example": "CHAT",
                                  "enum": [
                                    "MP4",
                                    "M4A",
                                    "CHAT",
                                    "CC",
                                    "CHAT_MESSAGE",
                                    "TRANSCRIPT",
                                    "SUB_GROUP_MEMBER_LOG",
                                    "AIC_COVERSATION"
                                  ]
                                },
                                "id": {
                                  "type": "string",
                                  "description": "The archive file's unique ID.",
                                  "example": "a2f19f96-9294-4f51-8134-6f0eea108eb2"
                                },
                                "individual": {
                                  "type": "boolean",
                                  "description": "Whether the archive file is an individual recording file. \n* `true` - An individual recording file. \n * `false` - An entire meeting file.",
                                  "example": true
                                },
                                "participant_email": {
                                  "type": "string",
                                  "description": "The individual recording file's participant email address. This value is returned when the `individual` value is `true`. If the participant is **not** part of the host's account, this returns an empty string value, with some exceptions. See [Email address display rules](/docs/api/using-zoom-apis/#email-address-display-rules) for details.",
                                  "format": "email",
                                  "example": "jchill@example.com"
                                },
                                "participant_join_time": {
                                  "type": "string",
                                  "description": "The join time for the generated recording file. If this value is returned when the individual value is `true`, it is the recording file's participant join time. When the individual value is `false`, it returns the join time for the archiving gateway.",
                                  "format": "date-time",
                                  "example": "2021-03-12T02:07:27Z"
                                },
                                "participant_leave_time": {
                                  "type": "string",
                                  "description": "The leave time for the generated recording file. If this value is returned when the individual value is `true`, it is the recording file's participant leave time. When the individual value is `false`, it returns the leave time for the archiving gateway.",
                                  "format": "date-time",
                                  "example": "2021-03-12T02:12:27Z"
                                },
                                "recording_type": {
                                  "type": "string",
                                  "description": "The archive file's recording type. \n* `shared_screen_with_speaker_view` \n* `audio_only` \n* `chat_file` \n* `closed_caption` \n* `chat_message` \n* `audio_transcript` \n* `aic_conversation` \n\n For more information, read our [Managing and sharing cloud recordings](https://support.zoom.us/hc/en-us/articles/205347605-Managing-and-sharing-cloud-recordings#h_9898497b-e736-4980-a749-d55608f10773) documentation.",
                                  "example": "chat_message",
                                  "enum": [
                                    "shared_screen_with_speaker_view",
                                    "audio_only",
                                    "chat_file",
                                    "closed_caption",
                                    "chat_message",
                                    "audio_transcript",
                                    "aic_conversation"
                                  ]
                                },
                                "status": {
                                  "type": "string",
                                  "description": "The archived file's processing status. \n* `completed` - The processing of the file is complete. \n* `processing` - The file is processing. \n* `failed` - The processing of the file failed.",
                                  "example": "completed",
                                  "enum": [
                                    "completed",
                                    "processing",
                                    "failed"
                                  ]
                                },
                                "encryption_fingerprint": {
                                  "type": "string",
                                  "description": "The archived file's encryption fingerprint, using the SHA256 hash algorithm.",
                                  "example": "abf85f0fe6a4db3cdd8c37e505e1dd18a34d9696170a14b5bc6395677472cf43"
                                },
                                "number_of_messages": {
                                  "type": "integer",
                                  "description": "The number of `TXT` or `JSON` file messages. This field returns only when the `file_extension` is `JSON` or `TXT`.",
                                  "example": 150
                                },
                                "storage_location": {
                                  "type": "string",
                                  "description": "The region where the file is stored. This field returns only `Enable Distributed Compliance Archiving` op feature is enabled.",
                                  "example": "US",
                                  "enum": [
                                    "US",
                                    "AU",
                                    "BR",
                                    "CA",
                                    "EU",
                                    "IN",
                                    "JP",
                                    "SG",
                                    "CH"
                                  ]
                                },
                                "auto_delete": {
                                  "type": "boolean",
                                  "description": "Whether to auto delete the archived file.\n\n**Prerequisites:** \n\nEnable the \"Tag Archiving Files for Deletion\" feature in OP. Contact [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.",
                                  "example": false
                                }
                              }
                            }
                          },
                          "complete_time": {
                            "type": "string",
                            "description": "The meeting or webinar's archive completion time.",
                            "format": "date-time",
                            "example": "2021-03-12T02:57:27Z",
                            "anyOf": [
                              {
                                "minLength": 1,
                                "type": "object",
                                "description": "The archive completion time.",
                                "format": "date-time",
                                "example": "2021-03-12T02:12:27Z"
                              },
                              {
                                "type": "string",
                                "description": "An empty string.",
                                "enum": [
                                  ""
                                ]
                              }
                            ]
                          },
                          "duration": {
                            "type": "integer",
                            "description": "The meeting or webinar's scheduled duration.",
                            "example": 1
                          },
                          "duration_in_second": {
                            "type": "integer",
                            "description": "The meeting or webinar's duration, in seconds.",
                            "example": 1800
                          },
                          "host_id": {
                            "type": "string",
                            "description": "The ID of the user set as the host of the archived meeting or webinar.",
                            "example": "Dhjdfgdkg8w"
                          },
                          "id": {
                            "type": "integer",
                            "description": "The meeting or webinar ID, either `meetingId` or `webinarId`.",
                            "format": "int64",
                            "example": 553068284
                          },
                          "is_breakout_room": {
                            "type": "boolean",
                            "description": "Whether the room is a [breakout room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).",
                            "example": false
                          },
                          "meeting_type": {
                            "type": "string",
                            "description": "Whether the meeting or webinar is internal or external. \n* `internal` - An internal meeting or webinar. \n* `external` - An external meeting or webinar. \n\n The `id`, `host_id`, and `topic` PII (Personal Identifiable Information) values in this response are removed when this value is `external`.",
                            "example": "internal",
                            "enum": [
                              "internal",
                              "external"
                            ]
                          },
                          "parent_meeting_id": {
                            "type": "string",
                            "description": "The parent meeting's universally unique ID (UUID). Each meeting or webinar instance generates a UUID. If the `is_breakout_room` value is `true`, the API returns this value.",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                          },
                          "recording_count": {
                            "type": "integer",
                            "description": "The number of archived files returned in the API call response.",
                            "example": 2
                          },
                          "start_time": {
                            "type": "string",
                            "description": "The meeting or webinar's start time.",
                            "format": "date-time",
                            "example": "2021-04-26T05:23:18Z"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The meeting or webinar's [timezone](/docs/api/references/abbreviations/#timezones).",
                            "example": "Asia/Shanghai"
                          },
                          "topic": {
                            "type": "string",
                            "description": "The meeting or webinar topic.",
                            "example": "My Personal Meeting Room"
                          },
                          "total_size": {
                            "type": "integer",
                            "description": "The total size of the archive file, in bytes.",
                            "example": 364463
                          },
                          "type": {
                            "type": "integer",
                            "description": "The type of archived meeting or webinar. \n\n Meeting recordings use these archive types. \n* `1` - Instant meeting. \n* `2` - Scheduled meeting. \n* `3` - A recurring meeting with no fixed time. \n* `4` - A meeting created via PMI (Personal Meeting ID). \n* `7` - A [Personal Audio Conference](https://support.zoom.us/hc/en-us/articles/204517069-Getting-Started-with-Personal-Audio-Conference) (PAC). \n* `8` - Recurring meeting with a fixed time. \n\n Webinar recordings use these archive types. \n* `5` - A webinar. \n* `6` - A recurring webinar without a fixed time. \n* `9` - A recurring webinar with a fixed time. \n\n If the recording is **not** from a meeting or webinar: \n\n* `100` - A [breakout room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).",
                            "example": 1,
                            "enum": [
                              1,
                              2,
                              3,
                              4,
                              5,
                              6,
                              7,
                              8,
                              9,
                              100
                            ]
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The recorded meeting or webinar instance's universally unique identifier (UUID). Each meeting or webinar instance generates a UUID.",
                            "example": "yO3dfhh3t467UkQ=="
                          },
                          "status": {
                            "type": "string",
                            "description": "The archive's processing status. \n* `completed` - The archive's processing is complete. \n* `processing` - The archive is processing.",
                            "example": "completed",
                            "enum": [
                              "completed",
                              "processing"
                            ]
                          },
                          "group_id": {
                            "type": "string",
                            "description": "Primary group IDs of participants who belong to your account. Each group ID is separated by a comma.",
                            "example": "pvFIYKSDTum9iCDOOtQL4w,_FsqLyI0RlO6LVPeUVWi8g"
                          },
                          "physical_files": {
                            "type": "array",
                            "description": "Information about the physical files.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "file_id": {
                                  "type": "string",
                                  "description": "The physical file's unique ID.",
                                  "example": "pvKocCqVSMygaOcKus5Afw"
                                },
                                "file_name": {
                                  "type": "string",
                                  "description": "The physical file's name.",
                                  "example": "Screenshot 2025-02-12 at 10.42.27 AM.png"
                                },
                                "file_size": {
                                  "type": "integer",
                                  "description": "The physical file's size, in bytes.",
                                  "example": 540680
                                },
                                "download_url": {
                                  "type": "string",
                                  "description": "The URL to download the the archive file. \n\n **OAuth apps** \n\n If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](/docs/integrations/oauth/) to download the file. \n\n Example: \n\n `https://{{base-domain}}/rec/archive/attached/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` ",
                                  "example": "https://example.com/rec/archive/attached/download/HBAXbHc15BXbnq0JoDu6tc5MWlww9MAo9JJq2d14VAWkpcT5FEA.AK5calud4EJB7bMq"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.\n\n **Note:** if you use `next_page_token` as a parameter, your other request parameters should be changeless to make sure that the large result set is what you want. For example, if your `to` parameter is for a future time, Zoom resets this value to the current time and returns this value in the response body, along with the `next_page_token` value. Use these same `to` and `next_page_token` values in requests for the remaining results set; otherwise you will get an invalid token error.",
                      "example": "At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2"
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 20
                    },
                    "to": {
                      "type": "string",
                      "description": "The queried end date.",
                      "format": "date-time",
                      "example": "2021-03-12T02:12:27Z"
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of returned meeting records.",
                      "example": 20
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {accountId} <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "recording:read:admin",
              "archiving:read:list_archived_files:admin",
              "archiving:read:list_archived_files:master"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [
            "Recording:Read"
          ],
          "x-macro-scopes": [
            "recording:read:admin"
          ],
          "x-granular-scopes": [
            "archiving:read:list_archived_files:admin",
            "archiving:read:list_archived_files:master"
          ]
        }
      }
    },
    "/archive_files/download_audit": {
      "get": {
        "tags": [
          "Archiving"
        ],
        "summary": "List archived file download audit logs",
        "description": "Get an account's archived meeting or webinar file download audit logs. The response groups audit records by meeting or webinar instance, archive file, and source IP address.\n\nZoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements.\n\n**Prerequisites:**\n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n* A paid account.\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "listArchiveFileDownloadAudit",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned within a single API call.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "example": 30,
              "default": 30
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-06-17T00:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-06-23T23:59:59Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`\n\nArchived file download audit logs returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "The queried start date.",
                      "format": "date-time",
                      "example": "2026-06-17T00:00:00Z"
                    },
                    "meetings": {
                      "type": "array",
                      "description": "Download audit information grouped by meeting or webinar.",
                      "items": {
                        "required": [
                          "files",
                          "meeting_uuid"
                        ],
                        "type": "object",
                        "properties": {
                          "meeting_uuid": {
                            "type": "string",
                            "description": "The meeting or webinar instance's universally unique identifier (UUID). Each meeting or webinar instance generates a UUID. If the UUID is unavailable, this field returns the meeting ID.",
                            "example": "yO3dfhh3t467UkQ=="
                          },
                          "files": {
                            "type": "array",
                            "description": "Download audit information grouped by archived file.",
                            "items": {
                              "required": [
                                "file_id",
                                "sources"
                              ],
                              "type": "object",
                              "properties": {
                                "file_id": {
                                  "type": "string",
                                  "description": "The archived file's unique ID.",
                                  "example": "a2f19f96-9294-4f51-8134-6f0eea108eb2"
                                },
                                "sources": {
                                  "type": "array",
                                  "description": "Download audit information grouped by source IP address.",
                                  "items": {
                                    "required": [
                                      "download_timestamps",
                                      "source_ip",
                                      "total_download_count"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "source_ip": {
                                        "type": "string",
                                        "description": "The IP address from which the archived file was downloaded.",
                                        "example": "10.0.0.1"
                                      },
                                      "download_timestamps": {
                                        "type": "array",
                                        "description": "The timestamps of downloads from this source IP address.",
                                        "example": [
                                          "2026-06-17T01:02:03Z",
                                          "2026-06-17T03:04:05Z"
                                        ],
                                        "items": {
                                          "type": "string",
                                          "format": "date-time",
                                          "example": "2026-06-17T01:02:03Z"
                                        }
                                      },
                                      "total_download_count": {
                                        "type": "integer",
                                        "description": "The total number of downloads from this source IP address.",
                                        "example": 2
                                      },
                                      "first_download_time": {
                                        "type": "string",
                                        "description": "The first download time from this source IP address.",
                                        "format": "date-time",
                                        "example": "2026-06-17T01:02:03Z"
                                      },
                                      "last_download_time": {
                                        "type": "string",
                                        "description": "The most recent download time from this source IP address.",
                                        "format": "date-time",
                                        "example": "2026-06-17T03:04:05Z"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.\n\n**Note:** If you use `next_page_token` as a parameter, your other request parameters should remain unchanged to ensure the result set is consistent.",
                      "example": "At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2"
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 30
                    },
                    "to": {
                      "type": "string",
                      "description": "The queried end date.",
                      "format": "date-time",
                      "example": "2026-06-23T23:59:59Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\n The next page token is invalid or expired. <br>\n"
          },
          "401": {
            "description": "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Access token is expired. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": []
        }
      }
    },
    "/archive_files/statistics": {
      "get": {
        "tags": [
          "Archiving"
        ],
        "summary": "Get archived file statistics",
        "description": "Get statistics about an account's archived meeting or webinar files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA and other compliance requirements. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:archived_file_statistics:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "getArchivedFileStatistics",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-03-11T05:41:36Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-03-18T05:41:36Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n The statistics of Archived files returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "The queried start date.",
                      "format": "date-time",
                      "example": "2021-03-18T05:41:36Z"
                    },
                    "to": {
                      "type": "string",
                      "description": "The queried end date.",
                      "format": "date-time",
                      "example": "2021-03-18T05:41:36Z"
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of returned meeting records.",
                      "example": 20
                    },
                    "statistic_by_file_extension": {
                      "type": "object",
                      "properties": {
                        "mp4_file_count": {
                          "type": "integer",
                          "description": "The number of mp4 files.",
                          "example": 1
                        },
                        "m4a_file_count": {
                          "type": "integer",
                          "description": "The number of m4a files.",
                          "example": 1
                        },
                        "txt_file_count": {
                          "type": "integer",
                          "description": "The number of txt files.",
                          "example": 1
                        },
                        "json_file_count": {
                          "type": "integer",
                          "description": "The number of json files.",
                          "example": 1
                        },
                        "vtt_file_count": {
                          "type": "integer",
                          "description": "The number of vtt files.",
                          "example": 1
                        }
                      },
                      "description": "Statistics about archive files, by file extension."
                    },
                    "statistic_by_file_status": {
                      "type": "object",
                      "properties": {
                        "processing_file_count": {
                          "type": "integer",
                          "description": "The number of processing files.",
                          "example": 1
                        },
                        "completed_file_count": {
                          "type": "integer",
                          "description": "The number of completed files.",
                          "example": 1
                        },
                        "failed_file_count": {
                          "type": "integer",
                          "description": "The number of failed files.",
                          "example": 1
                        }
                      },
                      "description": "Statistics about archive files, by file status."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {accountId}. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "recording:read:admin",
              "archiving:read:archived_file_statistics:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": [
            "recording:read:admin"
          ],
          "x-granular-scopes": [
            "archiving:read:archived_file_statistics:admin"
          ]
        }
      }
    },
    "/archive_files/{fileId}": {
      "patch": {
        "tags": [
          "Archiving"
        ],
        "summary": "Update an archived file's auto-delete status",
        "description": "Update an archived file's auto-delete status. \n\n **Prerequisites:** \n* [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) must enable the [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) for your account.\n* Open the disabling auto-delete feature in OP. Contact [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write`,`recording:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:update:archived_file_auto_delete_status`,`archiving:update:archived_file_auto_delete_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "updateArchivedFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "Archived file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "a5983951-044e-473f-9acd-5c398c0a8cce"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "auto_delete"
                ],
                "type": "object",
                "properties": {
                  "auto_delete": {
                    "type": "boolean",
                    "description": "Whether to auto-delete the archived file.",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204` <br>\n auto-delete status updated  \n\n "
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "recording:write",
              "recording:write:admin",
              "archiving:update:archived_file_auto_delete_status",
              "archiving:update:archived_file_auto_delete_status:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [
            "Recording:Edit"
          ],
          "x-macro-scopes": [
            "recording:write",
            "recording:write:admin"
          ],
          "x-granular-scopes": [
            "archiving:update:archived_file_auto_delete_status",
            "archiving:update:archived_file_auto_delete_status:admin"
          ]
        }
      }
    },
    "/meetings/{meetingId}/jointoken/local_archiving": {
      "get": {
        "tags": [
          "Archiving"
        ],
        "summary": "Get a meeting's archive token for local archiving",
        "description": "Get a meeting's archive token to allow local archiving. The archive token allows a meeting SDK app or bot to get archive permission to access the meeting's raw audio and video media stream in real-time. \n\n**Prerequisites:** \n* A Pro or higher plan for the meeting host. \n* The **Archive meetings and webinars** account setting enabled in the Zoom web portal.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `meeting_token:read:admin:local_archiving`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `meeting:read:local_archiving_token:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "meetingLocalArchivingArchiveToken",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "The meeting's ID. \n\n When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 85746065
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \nMeeting local archiving token returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expire_in": {
                      "type": "integer",
                      "description": "The number of seconds the archive token is valid for before it expires. This value always returns `120`.",
                      "format": "int64",
                      "example": 120,
                      "enum": [
                        120
                      ]
                    },
                    "token": {
                      "type": "string",
                      "description": "The archive token.",
                      "example": "2njt50mj"
                    }
                  },
                  "description": "Information about the meeting's local archive token."
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid meeting ID. <br>\n**Error Code:** `3000` <br>\n Cannot access webinar information. <br>\n**Error Code:** `124` <br>\n This API only supports OAuth2 authorization. <br>\n**Error Code:** `3000` <br>\n Not allowed to start local archiving. To use this feature, enable the \"Archive meetings and webinars\" setting in the \"Settings\" page of the Zoom web portal. <br>\n**Error Code:** `3161` <br>\n Meeting hosting and scheduling capabilities are not allowed for your user account. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `300` <br>\n Meeting ID does not exist. <br>\n**Error Code:** `3001` <br>\n Meeting does not exist: {meetingId} <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "meeting_token:read:admin:local_archiving",
              "meeting:read:local_archiving_token:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [
            "User:Read"
          ],
          "x-macro-scopes": [
            "meeting_token:read:admin:local_archiving"
          ],
          "x-granular-scopes": [
            "meeting:read:local_archiving_token:admin"
          ]
        }
      }
    },
    "/past_meetings/{meetingUUID}/archive_files": {
      "get": {
        "tags": [
          "Archiving"
        ],
        "summary": "Get a meeting's archived files",
        "description": "Return a specific meeting instance's [archived files](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators).\n\nSee [Archived JSON schemas](/docs/api/references/archived-json-schema/) for in-meeting chat message and subgroup archiving activity JSON schemas.\n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:archived_files:admin`,`archiving:read:archived_files`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "getArchivedFiles",
        "parameters": [
          {
            "name": "meetingUUID",
            "in": "path",
            "description": "The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. After a meeting ends, a new UUID is generated for the next meeting instance.\n\nIf the meeting UUID begins with a `/` character or contains a `//` character, you **must** [double encode](/docs/api/using-zoom-apis/#meeting-id-and-uuid) the meeting UUID when using the meeting UUID for other API calls.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4444AAAiAAAAAiAiAiiAii=="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n\n Meeting archived files returned.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "account_name",
                    "archive_files",
                    "complete_time",
                    "duration",
                    "duration_in_second",
                    "host_id",
                    "id",
                    "is_breakout_room",
                    "meeting_type",
                    "recording_count",
                    "start_time",
                    "status",
                    "timezone",
                    "topic",
                    "total_size",
                    "type",
                    "uuid"
                  ],
                  "type": "object",
                  "properties": {
                    "account_name": {
                      "type": "string",
                      "description": "The user's account name.",
                      "example": "account_01"
                    },
                    "archive_files": {
                      "type": "array",
                      "description": "Information about the archive files.",
                      "items": {
                        "required": [
                          "download_url",
                          "encryption_fingerprint",
                          "file_extension",
                          "file_size",
                          "file_type",
                          "id",
                          "individual",
                          "participant_join_time",
                          "participant_leave_time",
                          "recording_type",
                          "status"
                        ],
                        "type": "object",
                        "properties": {
                          "download_url": {
                            "type": "string",
                            "description": "The URL to download the the archive file. \n\n **OAuth apps** \n\n If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](/docs/integrations/oauth/) to download the file. For example: \n\n `https://{{base-domain}}/rec/archive/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` \n\n **Note:** This field does **not** return for [Zoom On-Premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). Instead, this API will return the `file_path` field.",
                            "example": "https://example.com/recording/download/Qg75t7xZBtEbAkjdlgbfdngBBBB"
                          },
                          "file_extension": {
                            "type": "string",
                            "description": "The archived file's extension.",
                            "example": "JSON"
                          },
                          "file_path": {
                            "type": "string",
                            "description": "The file path to the on-premise account archive file. \n\n **Note:** The API only returns this field for [Zoom On-Premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). It does **not** return the `download_url` field.",
                            "example": "/9090876528/path01/demo.mp4"
                          },
                          "file_size": {
                            "type": "integer",
                            "description": "The archived file's size, in bytes.",
                            "example": 165743
                          },
                          "file_type": {
                            "type": "string",
                            "description": "The archive file's type. \n* `MP4` - Video file. \n* `M4A` - Audio-only file. \n* `CHAT` - A TXT file containing in-meeting chat messages. \n* `CC` - A file containing the closed captions of the recording, in VTT file format. \n* `CHAT_MESSAGE` - A JSON file encoded in base64 format containing chat messages. The file also includes waiting room chats, deleted messages, meeting emojis and non-verbal feedback.  \n*  `TRANSCRIPT` - A JSON file include audio transcript wording. \n* `SUB_GROUP_MEMBER_LOG` - A JSON file containing records of members entering and leaving the subgroup. \n* `AIC_COVERSATION` - A json file include internal user archive aic content.",
                            "example": "CHAT",
                            "enum": [
                              "MP4",
                              "M4A",
                              "CHAT",
                              "CC",
                              "CHAT_MESSAGE",
                              "TRANSCRIPT",
                              "SUB_GROUP_MEMBER_LOG",
                              "AIC_COVERSATION"
                            ]
                          },
                          "id": {
                            "type": "string",
                            "description": "The archive file's unique ID.",
                            "example": "a2f19f96-9294-4f51-8134-6f0eea108eb2"
                          },
                          "individual": {
                            "type": "boolean",
                            "description": "Whether the archive file is an individual recording file. \n* `true` - An individual recording file. \n * `false` - An entire meeting file.",
                            "example": true
                          },
                          "participant_email": {
                            "type": "string",
                            "description": "The individual recording file's participant email address. This value is returned when the `individual` value is `true`. If the participant is **not** part of the host's account, this returns an empty string value, with some exceptions. See [Email address display rules](/docs/api/using-zoom-apis/#email-address-display-rules) for details.",
                            "format": "email",
                            "example": "jchill@example.com"
                          },
                          "participant_join_time": {
                            "type": "string",
                            "description": "The join time for the generated recording file. If this value is returned when the individual value is true, then it is the recording file's participant join time. When the individual value is false, it returns the join time for the archiving gateway.",
                            "format": "date-time",
                            "example": "2021-03-12T02:07:27Z"
                          },
                          "participant_leave_time": {
                            "type": "string",
                            "description": "The leave time for the generated recording file. If this value is returned when the individual value is true, then it is the recording file's participant leave time. When the individual value is false, it returns the leave time for the archiving gateway.",
                            "format": "date-time",
                            "example": "2021-03-12T02:12:27Z"
                          },
                          "recording_type": {
                            "type": "string",
                            "description": "The archive file's recording type. \n* `shared_screen_with_speaker_view` \n* `audio_only` \n* `chat_file` \n* `closed_caption` \n* `chat_message` \n* `audio_transcript` \n* `aic_conversation` \n\n For more information, read our [Managing and sharing cloud recordings](https://support.zoom.us/hc/en-us/articles/205347605-Managing-and-sharing-cloud-recordings#h_9898497b-e736-4980-a749-d55608f10773) documentation.",
                            "example": "chat_message",
                            "enum": [
                              "shared_screen_with_speaker_view",
                              "audio_only",
                              "chat_file",
                              "closed_caption",
                              "chat_message",
                              "audio_transcript",
                              "aic_conversation"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "description": "The archived file's processing status. \n* `completed` - The processing of the file is complete. \n* `processing` - The file is processing. \n* `failed` - The processing of the file failed.",
                            "example": "completed",
                            "enum": [
                              "completed",
                              "processing",
                              "failed"
                            ]
                          },
                          "encryption_fingerprint": {
                            "type": "string",
                            "description": "The archived file's encryption fingerprint, using the SHA256 hash algorithm.",
                            "example": "abf85f0fe6a4db3cdd8c37e505e1dd18a34d9696170a14b5bc6395677472cf43"
                          },
                          "number_of_messages": {
                            "type": "integer",
                            "description": "The number of `TXT` or `JSON` file messages. This field returns only when the `file_extension` is `JSON` or `TXT`",
                            "example": 150
                          },
                          "storage_location": {
                            "type": "string",
                            "description": "The region where the file is stored. This field returns only `Enable Distributed Compliance Archiving` op feature is enabled.",
                            "example": "US",
                            "enum": [
                              "US",
                              "AU",
                              "BR",
                              "CA",
                              "EU",
                              "IN",
                              "JP",
                              "SG",
                              "CH"
                            ]
                          },
                          "auto_delete": {
                            "type": "boolean",
                            "description": "Whether to auto delete the archived file.\n\n **Prerequisites:** \n\n* The \"Tag Archiving Files for Deletion\" feature must be enabled in OP. Contact [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.\n",
                            "example": false
                          }
                        }
                      }
                    },
                    "complete_time": {
                      "type": "string",
                      "description": "The meeting or webinar's archive completion time.",
                      "format": "date-time",
                      "example": "2021-03-12T02:57:27Z",
                      "anyOf": [
                        {
                          "minLength": 1,
                          "type": "object",
                          "description": "The archive completion time.",
                          "format": "date-time",
                          "example": "2021-03-12T02:12:27Z"
                        },
                        {
                          "type": "string",
                          "description": "An empty string.",
                          "enum": [
                            ""
                          ]
                        }
                      ]
                    },
                    "duration": {
                      "type": "integer",
                      "description": "The meeting or webinar's scheduled duration.",
                      "example": 1
                    },
                    "duration_in_second": {
                      "type": "integer",
                      "description": "The meeting or webinar's duration, in seconds.",
                      "example": 1800
                    },
                    "host_id": {
                      "type": "string",
                      "description": "The host's user ID for the archived meeting or webinar.",
                      "example": "Dhjdfgdkg8w"
                    },
                    "id": {
                      "type": "integer",
                      "description": "The meeting or webinar ID, either `meetingId` or `webinarId`.",
                      "format": "int64",
                      "example": 553068284
                    },
                    "is_breakout_room": {
                      "type": "boolean",
                      "description": "Whether the room is a [breakout room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).",
                      "example": false
                    },
                    "meeting_type": {
                      "type": "string",
                      "description": "Whether the meeting or webinar is internal or external. \n* `internal` - An internal meeting or webinar. \n* `external` - An external meeting or webinar. \n\n The `id`, `host_id`, and `topic` PII (Personal Identifiable Information) values in this response are removed when this value is `external`.",
                      "example": "internal",
                      "enum": [
                        "internal",
                        "external"
                      ]
                    },
                    "parent_meeting_id": {
                      "type": "string",
                      "description": "The parent meeting's universally unique ID (UUID). Each meeting or webinar instance generates a UUID. If the `is_breakout_room` value is `true`, the API returns this value.",
                      "example": "atsXxhSEQWit9t+U02HXNQ=="
                    },
                    "recording_count": {
                      "type": "integer",
                      "description": "The number of archived files returned in the API call response.",
                      "example": 2
                    },
                    "start_time": {
                      "type": "string",
                      "description": "The meeting or webinar's start time.",
                      "format": "date-time",
                      "example": "2021-04-26T05:23:18Z"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "The meeting or webinar's [timezone](/docs/api/references/abbreviations/#timezones).",
                      "example": "Asia/Shanghai"
                    },
                    "topic": {
                      "type": "string",
                      "description": "The meeting or webinar topic.",
                      "example": "My Personal Meeting Room"
                    },
                    "total_size": {
                      "type": "integer",
                      "description": "The total size of the archive file, in bytes.",
                      "example": 364463
                    },
                    "type": {
                      "type": "integer",
                      "description": "The type of archived meeting or webinar. \n\n If the recording is of a meeting: \n* `1` - Instant meeting. \n* `2` - Scheduled meeting. \n* `3` - A recurring meeting with no fixed time. \n* `4` - A meeting created via PMI (Personal Meeting ID). \n* `7` - A [Personal Audio Conference](https://support.zoom.us/hc/en-us/articles/204517069-Getting-Started-with-Personal-Audio-Conference) (PAC). \n* `8` - Recurring meeting with a fixed time. \n\n If the recording is of a webinar: \n* `5` - A webinar. \n* `6` - A recurring webinar without a fixed time. \n* `9` - A recurring webinar with a fixed time. \n\n If the recording is **not** from a meeting or webinar: \n\n* `100` - A [breakout room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).",
                      "example": 1,
                      "enum": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        100
                      ]
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The universally unique identifier (UUID) of the recorded meeting or webinar instance. Each meeting or webinar instance generates a UUID.",
                      "example": "yO3dfhh3t467UkQ=="
                    },
                    "status": {
                      "type": "string",
                      "description": "The archive's processing status. \n* `completed` - The archive's processing is complete. \n* `processing` - The archive is processing.",
                      "example": "completed",
                      "enum": [
                        "completed",
                        "processing"
                      ]
                    },
                    "group_id": {
                      "type": "string",
                      "description": "Primary group IDs of participants who belong to your account. Each group ID is separated by a comma.",
                      "example": "pvFIYKSDTum9iCDOOtQL4w,_FsqLyI0RlO6LVPeUVWi8g"
                    },
                    "physical_files": {
                      "type": "array",
                      "description": "Information about the physical files.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file_id": {
                            "type": "string",
                            "description": "The physical file's unique ID.",
                            "example": "pvKocCqVSMygaOcKus5Afw"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "The physical file's name.",
                            "example": "Screenshot 2025-02-12 at 10.42.27 AM.png"
                          },
                          "file_size": {
                            "type": "integer",
                            "description": "The physical file's size, in bytes.",
                            "example": 540680
                          },
                          "download_url": {
                            "type": "string",
                            "description": "The URL to download the the archive file. \n\n **OAuth apps** \n\n If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](/docs/integrations/oauth/) to download the file. For example: \n\n `https://{{base-domain}}/rec/archive/attached/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` ",
                            "example": "https://local.zoom.us/rec/archive/attached/download/HBAXbHc15BXbnq0JoDu6tc5MWlww9MAo9JJq2d14VAWkpcT5FEA.AK5calud4EJB7bMq"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `3001` <br>\n Meeting {meetingUUId} does not exist. <br> <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "recording:read",
              "archiving:read:archived_files:admin",
              "archiving:read:archived_files"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": [
            "recording:read"
          ],
          "x-granular-scopes": [
            "archiving:read:archived_files:admin",
            "archiving:read:archived_files"
          ]
        }
      },
      "delete": {
        "tags": [
          "Archiving"
        ],
        "summary": "Delete a meeting's archived files",
        "description": "Delete all of a meeting's archived files. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:delete:archived_files:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "deleteArchivedFiles",
        "parameters": [
          {
            "name": "meetingUUID",
            "in": "path",
            "description": "The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. For example, after a meeting ends, a new UUID is generated for the next meeting instance.\n\nIf the meeting UUID begins with a `/` character or contains a `//` character, you **must** double-encode the meeting UUID when using the meeting UUID for other API calls.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "4444AAAiAAAAAiAiAiiAii=="
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Meeting archived file deleted."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for Paid account. <br>\n**Error Code:** `200` <br>\n Not available for this account. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `3001` <br>\n Meeting does not exist: {0} <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "recording:write:admin",
              "archiving:delete:archived_files:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": [
            "recording:write:admin"
          ],
          "x-granular-scopes": [
            "archiving:delete:archived_files:admin"
          ]
        }
      }
    },
    "/meetings/{meetingId}/recordings": {
      "get": {
        "tags": [
          "Cloud Recording"
        ],
        "summary": "Get meeting recordings",
        "description": "Returns all of a meeting's [recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062627#h_7420acb5-1897-4061-87b4-5b76e99c03b4). Use the `download_url` property listed in the response to download the recording files.  To access a password-protected cloud recording, send the `download_access_token` or the user's [OAuth access token](/docs/integrations/oauth/) as a Bearer token in the Authorization header. For example: \n\n `curl -H 'Authorization: Bearer <ACCESS_TOKEN>' https://{{base-domain}}/rec/archive/download/xyz` \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read`,`phone_recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:list_recording_files:admin`,`cloud_recording:read:list_recording_files`,`cloud_recording:read:list_recording_files:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "recordingGet",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "description": "To get a meeting's cloud recordings, provide the meeting ID or UUID. If providing the meeting ID instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar's ID or UUID. If providing the webinar ID instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//` (example: `/ajXp112QmuoKj4854875==`), **[double encode](/docs/api/using-zoom-apis/#meeting-id-and-uuid) the UUID** before making an API request. ",
            "required": true,
            "schema": {
              "type": "string",
              "example": "atsXxhSEQWit9t+U02HXNQ=="
            }
          },
          {
            "name": "include_fields",
            "in": "query",
            "description": "Include fields in the response. Currently, only accepts `download_access_token` to get this token field and value for downloading the meeting's recordings. The `download_access_token` requires **View the recording content** enabled for the role authorizing the account. Use the format `include_fields=download_access_token`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "download_access_token"
            }
          },
          {
            "name": "ttl",
            "in": "query",
            "description": "The `download_access_token` Time to Live (TTL) value. This parameter is only valid if the `include_fields` query parameter contains the value `download_access_token`.",
            "required": false,
            "schema": {
              "maximum": 604800,
              "minimum": 0,
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \nRecording object returned. \n\n**Error Code:** `200`   \n \nYou do not have the right permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The recording meeting object.",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "account_id": {
                              "type": "string",
                              "description": "The user account's unique identifier.",
                              "example": "Cx3wERazSgup7ZWRHQM8-w"
                            },
                            "duration": {
                              "type": "integer",
                              "description": "The duration of the meeting's recording.",
                              "example": 20
                            },
                            "host_id": {
                              "type": "string",
                              "description": "The ID of the user set as the host of the meeting.",
                              "example": "_0ctZtY0REqWalTmwvrdIw"
                            },
                            "id": {
                              "type": "integer",
                              "description": "The meeting ID, also known as the meeting number.",
                              "example": 6840331990
                            },
                            "recording_count": {
                              "type": "integer",
                              "description": "The number of recording files returned in the response of this API call. This includes the `recording_files` and  `participant_audio_files` files.",
                              "example": 22
                            },
                            "start_time": {
                              "type": "string",
                              "description": "The time when the meeting started.",
                              "format": "date-time",
                              "example": "2021-03-18T05:41:36Z"
                            },
                            "topic": {
                              "type": "string",
                              "description": "The meeting topic.",
                              "example": "My Personal Meeting"
                            },
                            "total_size": {
                              "type": "integer",
                              "description": "The recording's total file size. This includes the `recording_files` and `participant_audio_files` files.",
                              "format": "int64",
                              "example": 22
                            },
                            "type": {
                              "type": "string",
                              "description": "The recording's associated type of meeting or webinar. \n\nIf the recording is of a meeting: \n* `1` - Instant meeting. \n* `2` - Scheduled meeting. \n* `3` - A recurring meeting with no fixed time. \n* `4` - A meeting created via PMI (Personal Meeting ID). \n* `7` - A [Personal Audio Conference](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0060449) (PAC). \n* `8` - Recurring meeting with a fixed time. \n\nIf the recording is of a webinar: \n* `5` - A webinar. \n* `6` - A recurring webinar without a fixed time. \n* `9` - A recurring webinar with a fixed time.\n\nIf the recording is **not** from a meeting or webinar: \n* `96` - A recording generated by My Notes.\n* `99` - A recording uploaded via the [**Recordings**](https://zoom.us/recording) interface on the Zoom Web Portal.",
                              "example": "1",
                              "enum": [
                                "1",
                                "2",
                                "3",
                                "4",
                                "5",
                                "6",
                                "7",
                                "8",
                                "9",
                                "99",
                                "96"
                              ],
                              "x-enum-descriptions": [
                                "Instant Meeting",
                                "Scheduled Meeting",
                                "Recurring Meeting with no fixed time",
                                "Meeting created using a Personal Meeting ID",
                                "A webinar",
                                "Recurring webinar without a fixed time",
                                "Personal Audio Conference",
                                "Recurring meeting with a fixed time",
                                "Recurring webinar with a fixed time",
                                "A recording uploaded"
                              ]
                            },
                            "uuid": {
                              "type": "string",
                              "description": "The unique meeting identifier. Each instance of the meeting has its own UUID.",
                              "example": "BOKXuumlTAGXuqwr3bLyuQ=="
                            },
                            "recording_play_passcode": {
                              "type": "string",
                              "description": "The cloud recording's passcode to be used in the URL. Directly splice this recording's passcode in `play_url` or `share_url` with `?pwd=` to access and play. Example: 'https://zoom.us/rec/share/**************?pwd=yNYIS408EJygs7rE5vVsJwXIz4-VW7MH'.",
                              "example": "yNYIS408EJygs7rE5vVsJwXIz4-VW7MH"
                            },
                            "auto_delete": {
                              "type": "boolean",
                              "description": "Auto-delete status of a meeting's [cloud recording](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062627).  \n\nPrerequisite: To get the auto-delete status, the host of the recording must have the recording setting **Delete cloud recordings after a specified number of days** enabled. ",
                              "example": true
                            },
                            "auto_delete_date": {
                              "type": "string",
                              "description": "The date when the recording will be auto-deleted when `auto_delete` is true. Otherwise, no date will be returned.",
                              "example": "2028-07-12"
                            },
                            "service_name": {
                              "type": "string",
                              "description": "The Zoom node service's name.",
                              "example": "recording_1"
                            },
                            "rc_zone": {
                              "type": "string",
                              "description": "Recording zone used in the Zoom Node Platform. Only RC recordings will return this data.",
                              "example": "zone-1202"
                            },
                            "instance_id": {
                              "type": "string",
                              "description": "The unique ID for the hybrid recorder or recording connector. Only RC and HRC recording will return this data.",
                              "example": "01fe6a07d0462b39717fa009f32541ab803e6690a4169d82a66f9a8a4da84225 "
                            },
                            "zone_instance_id": {
                              "type": "string",
                              "description": "Only RC and HRC recording will return this data.",
                              "example": "9783d74dc8c606490f0a819033ea6841ea267839166f8bcbed1b33502167c457"
                            },
                            "rc_meeting_zone_name": {
                              "type": "string",
                              "description": "Meeting zone name. Only RC recording will return this data.",
                              "example": "Meeting zone name"
                            },
                            "external_storage_addr": {
                              "type": "string",
                              "description": "NFS address.",
                              "example": "192.163.1.2 "
                            }
                          }
                        },
                        {
                          "description": "The list of recording files.",
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "recording_files": {
                                  "type": "array",
                                  "description": "List of recording files.",
                                  "items": {
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "deleted_time": {
                                            "type": "string",
                                            "description": "The time when the recording was deleted. Returned in the response only for the trash query.",
                                            "example": "2021-03-18T05:41:36Z"
                                          },
                                          "download_url": {
                                            "type": "string",
                                            "description": "The URL to download the recording. \n\nIf a user has authorized and installed your OAuth app that contains recording scopes, use the `download_access_token` or the user's [OAuth access token](/docs/integrations/oauth/) to download the file. Set the `access_token` as a Bearer token in the Authorization header. For example: \n\n`curl -H 'Authorization: Bearer <ACCESS_TOKEN>' https://{{base-domain}}/rec/archive/download/xyz`.\n\n**Note:** This field does **not** return for Zoom on-premise accounts. Instead, this API returns the `file_path` field. The URL may be a redirect. In that case, use `curl --location` to follow redirects or use another tool, like Postman.",
                                            "example": "https://example.com/rec/download/Qg75t7xZBtEbAkjdlgbfdngBBBB"
                                          },
                                          "file_path": {
                                            "type": "string",
                                            "description": "The file path to the on-premise account recording. \n\n**Note:** This API only returns this field for Zoom On-Premise accounts. It does **not** return the `download_url` field.",
                                            "example": "/9090876528/path01/demo.mp4"
                                          },
                                          "file_size": {
                                            "type": "number",
                                            "description": "The recording file size.",
                                            "example": 7220
                                          },
                                          "file_type": {
                                            "type": "string",
                                            "description": "The recording file type. \n \n`MP4` - Video file of the recording.  \n `M4A` - Audio-only file of the recording.  \n `TIMELINE` - Timestamp file of the recording in JSON file format. To get a timeline file, the **Add a timestamp to the recording** setting must be enabled in the [recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062627#h_3f14c3a4-d16b-4a3c-bbe5-ef7d24500048). The time will display in the host's timezone, set on their Zoom profile.\n  \n  `TRANSCRIPT` - Transcription file of the recording in VTT format.  \n  `CHAT` - A TXT file containing in-meeting chat messages that were sent during the meeting.  \n `CC` - File containing closed captions of the recording in VTT file format.  \n `CSV` - File containing polling data in csv format.\n\n  \n \n\nA recording file object with file type of either `CC` or `TIMELINE` **does not have** these properties.  \n \n\t`id`, `status`, `file_size`, `recording_type`, and `play_url`.  \n `SUMMARY` - Summary file of the recording in JSON file format.",
                                            "example": "MP4",
                                            "enum": [
                                              "MP4",
                                              "M4A",
                                              "CHAT",
                                              "TRANSCRIPT",
                                              "CSV",
                                              "TB",
                                              "CC",
                                              "CHAT_MESSAGE",
                                              "SUMMARY"
                                            ]
                                          },
                                          "file_extension": {
                                            "type": "string",
                                            "description": "The file extension type of the recording file.",
                                            "example": "M4A",
                                            "enum": [
                                              "MP4",
                                              "M4A",
                                              "TXT",
                                              "VTT",
                                              "CSV",
                                              "JSON",
                                              "JPG"
                                            ]
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "The recording file ID. It's included in the response of the general query.",
                                            "example": "72576a1f-4e66-4a77-87c4-f13f9808bd76"
                                          },
                                          "meeting_id": {
                                            "type": "string",
                                            "description": "The meeting ID. ",
                                            "example": "L0AGOEPVR9m5WSOOs/d+FQ=="
                                          },
                                          "play_url": {
                                            "type": "string",
                                            "description": "The URL that can play a recording file.",
                                            "example": "https://example.com/rec/play/Qg75t7xZBtEbAkjdlgbfdngBBBB"
                                          },
                                          "recording_end": {
                                            "type": "string",
                                            "description": "The recording end time. The response is in the general query.",
                                            "example": "2021-03-18T05:41:36Z"
                                          },
                                          "recording_start": {
                                            "type": "string",
                                            "description": "The recording start time.",
                                            "example": "2021-03-18T05:41:36Z"
                                          },
                                          "recording_type": {
[...]
