@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/** On chrome based browser fade between pages for a smoother look and feel **/
@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.3s ease both;
}

@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}
