@tailwind base;
@tailwind components;
@tailwind utilities;

.l_nav_items > .menu {
    border: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;

    > li > a.active > img {
        filter: invert(1);
    }
}

.card {
    border: 1px solid #ccc;

    .card-header {
        padding: 1rem;
        border-bottom: 1px solid #ccc;
    }
}