#console-panel {
    height: 100%;
}

#console-stream {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #ccc;
}

.l_layout > .l_content > section.console {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-inline-size: 100%;
    inline-size: 100%;
    height: calc(100% - 79px);
}