#nav-toggle {
    display: none;
}

#collapse-button {
    transform: rotate(180deg);
    display: none;
    border: 1px solid #d8dee4;
    background-color: white;
    width: 24px;
    position: absolute;
    border-radius: 50%;
    padding: 3px;
    top: 100px;
    left: 258px;
}

.l_layout {

    >.l_navigation {

        &:hover {
            #collapse-button {
                display: block;
            }
        }

        // Set this so then our footer with absolute will be relative.
        position: relative; 
        display: none;
        grid-area: sidenav;
        height: 100vh;
        border-right: 1px solid #d8dee4;

        // Display flex is set in the responsive css at bottom of the code
        flex-direction: column;

        >.l_nav_header {
            height: 72px;
            flex-shrink: 0;
            padding: 1rem;
            border-bottom: 1px solid #d8dee4;

            details > div {
                z-index: 112;
            }
        }

        >.l_footer {
            padding: 1rem;

            details > div {
                z-index: 112;
                position: absolute;
                bottom: 60px;
                width: 236px;
            }
        }

        >.l_nav_items {
            flex-grow: 4;
            padding-top: 1rem;

            .menu:first-of-type > li:first-of-type {
                padding-top: 0;
            }

            > .heading {
                min-inline-size: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    >.l_content {
        grid-area: main;
        overflow-y: auto;
        height: 100vh;
        background-color: var(--main-bg-color);

        > header {
            display: flex;
            align-items: center;
            height: 72px;
            padding: 1rem;
            border-bottom: 1px solid #d8dee4;
            box-shadow: var(--header-box-shadow);
            background-color: var(--bg-color-surface);

            > div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            > h3 {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        > section {
            padding: 1rem;
            min-height: calc(100% - 72px);
        }
    }

    @include for-tablet-landscape-up {

        display: grid;
        grid-template-columns: 270px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "sidenav main";

        >.l_navigation {
            display: flex;
        }

        .hamburger {
            display: none;
        }
    }
}

@include for-tablet-landscape-up {
    #nav-toggle:checked {

        ~ .l_layout {
            .hamburger {
                margin-right: 1rem;
                cursor: pointer;
                display: block;
                z-index: 2000;

                > div {
                    position: relative;
                    color: #333;
                    width: 1.5rem;
                    height: 3px;
                    border-radius: 1px;
                    background-color: currentColor;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    transition: all 0.3s ease-in-out;
                }
            }
        
            display: flex;
            width: 100vw;
            >.l_navigation {
                display: none;
            }
            >.l_content {
                width: 100vw;
            }
        }
    }
}
