.side-drawer {
    --size: 25rem;
    --sl-transition-medium: 250ms;
    --header-spacing: 1rem;
    --footer-spacing: 1rem;
    display: contents;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    visibility: hidden;
    position: fixed;
    z-index: 1000;

    >.drawer__overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(100 116 139 / 33%);
        pointer-events: all;
    }

    >.drawer__panel {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 2;
        max-width: 100%;
        max-height: 100%;
        background-color: white;
        overflow: auto;
        pointer-events: all;
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: var(--size);
        height: 100%;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        &:focus {
            outline: none;
        }

        >.drawer__header {
            display: flex;
            height: 72px;
            align-items: center;
            border-bottom: 1px solid var(--default-border-color);

            >.drawer__title {
                flex: 1 1 auto;
                font-size: 1rem;
                font-weight: 600;
                padding: var(--header-spacing);
            }

            >.drawer__close {
                cursor: pointer;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                padding: 0 var(--header-spacing);
            }
        }

        >.drawer__body {
            flex: 1 1 auto;
            padding: 1rem;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        >.drawer__footer {
            text-align: right;
            padding: var(--footer-spacing);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &.drawer--open {
        visibility: visible;

        .drawer__panel {
            transform: translateX(0);
        }
    }
}