services:

  llm-api:
    image: ghcr.io/bionic-gpt/llama-2-7b-chat:1.0.2

  embeddings-api:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-0.2.2
    command: --model-id BAAI/bge-small-en-v1.5

  unstructured:
    image: downloads.unstructured.io/unstructured-io/unstructured-api:c30a2b8

  # Handles routing between our containers
  envoy:
    build: 
      context: ./envoy
    ports:
      - "7700:7700"
      - "7701:7701"

  db:
    image: ankane/pgvector
    environment:
      POSTGRES_PASSWORD: testpassword
      POSTGRES_USER: postgres
      POSTGRES_DB: bionicgpt
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vscode"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    build:
      context: ./keycloak
    environment:
      DB_VENDOR: postgres
      DB_ADDR: db
      DB_DATABASE: keycloak
      DB_USER: postgres
      DB_PASSWORD: testpassword
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: Pa55w0rd
    command:
      - "start-dev"
      - "--import-realm"
    ports:
      - "8080:8080"
    depends_on:
      - db

  development:
    build: 
      context: .
      dockerfile: Dockerfile  
    
    extra_hosts:
      - "host.docker.internal:host-gateway"
    
    volumes:
      - ..:/workspace:cached
      # Give access to ssh keys on the host (Is there a better way to do this?)
      - ~/.ssh:/home/host-ssh:cached
      # We need this so docker in docker works
      - /var/run/docker.sock:/var/run/docker.sock
      - target:/workspace/target # Set target as a volume for performance. 
      # Uncomment the next line to improve performance when using node.
      #- node_modules:/vscode/node_modules 

    environment:
      DATABASE_URL: postgresql://postgres:testpassword@db:5432/bionicgpt?sslmode=disable
      APP_DATABASE_URL: postgresql://ft_application:testpassword@db:5432/bionicgpt?sslmode=disable

      INVITE_DOMAIN: http://envoy:7700
      INVITE_FROM_EMAIL_ADDRESS: support@application.com
      SMTP_HOST: smtp
      SMTP_PORT: 1025
      SMTP_USERNAME: thisisnotused
      SMTP_PASSWORD: thisisnotused
      SMTP_TLS_OFF: 'true'

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    working_dir: /workspace
    
    depends_on:
      - db

  # Integration testing using a headless chrome browser
  selenium:
    image: selenium/standalone-chrome:4
    shm_size: 2gb
    environment:
      VNC_NO_PASSWORD: 1
    ports:
      # VNC
      - 7705:5900
      # No VNC
      - 7706:7900
    volumes:
      # So that we can load examples with the browser testing.
      # However it doesn't seem to work with earthly, you have to docker cp the files
      - ./datasets:/workspace

  # MailHog is an email testing tool for developers.
  smtp:
    image: mailhog/mailhog

volumes:
  target:
  node_modules:
