layout {
    tab {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" {
                pane {
                    command "just"
                    args "wa"
                }
                pane {
                    command "just"
                    args "wp"
                }
                pane {
                    command "just"
                    args "wt"
                }
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane {

        }
        pane {
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}