[package]
name = "openai-api"
version = "0.1.0"
edition = "2021"

[dependencies]
serde_json.workspace = true
serde = { workspace = true, features = ["derive"] }


# Tiktoken counts our token usage for prompts
tiktoken-rs = { version = "0.7.0" }
