{% extends "base.html" %}
{%- import 'macros/cta.html' as macros_cta -%}


{% block seo %}
  {{ super() }}

  {% set title = 'Contact Bionic GPT Team' %}
  {% set description = 'We&apos;re available to answer any questions' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description,
    main_image_url='/github-readme.png'
  ) }}
{% endblock seo %}

{% block content %}

<section class="mt-4 text-center">
    <h1 class="text-4xl font-extrabold mt-4">Our Team is Waiting to Hear From You</h1>
    <h2 class="text-2xl font-bold mt-4">Contact the Experts in Gen AI Deployments</h2>
    <h3 class="text-2xl font-bold mt-4">Email founders (at) bionic-gpt.com</h3>

    <div class="mx-auto lg:flex gap-8 flex-row mt-8 lg:mt-12 mb-8 justify-center max-w-[48rem]">
        <div class="border text-center p-6 flex-1 flex flex-col items-center">
            <p><img src="/contact-us/dio.jpeg" width="150" height="150" /></p>
            <h3 class="font-bold">Kulbinder Dio - CEO</h3>
            <span><a class="underline" href="https://www.linkedin.com/in/kulbinderdio/">Linked In</a></span>
        </div>
    </div>
</section>

{% include "extra_footer.html" %}
{% endblock content %}