{% extends "base.html" %}


{% block seo %}
  {{ super() }}

  {% set title = 'Contact Bionic GPT Team' %}
  {% set description = 'We&apos;re available to answer any questions' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description,
    main_image_url='/github-readme.png'
  ) }}
{% endblock seo %}

{% block content %}

<section class="mt-4 text-center">
    <h1 class="h3-mktg mb-4 pt-9">Reach Out!</h1>
    <h2 class="h6-mktg color-fg-muted mb-4">Send us an email. 
        We're excited to hear about your LLM use cases.</h2>
    <h3>founders@bionic-gpt.com</h3>

    <div class="col-6 mx-auto content d-md-flex flex-row mt-6 mt-lg-12 mb-12">
        <div class="text-center col-md-6">
            <p><img src="/dio.jpeg" width="150" height="150" /></p>
            <h5>Kulbinder Dio - CEO</h5>
            <span><a href="https://www.linkedin.com/in/kulbinderdio/">Linked In</a></span>
        </div>
        <div class="text-center col-md-6">
            <img src="/ian.jpeg" width="150" height="150" />
            <h5>Ian Purton - CTO</h5>
            <span><a href="https://www.linkedin.com/in/ianpurton/">Linked In</a></span>
        </div>
    </div>
</section>
{% endblock content %}