{% extends "base.html" %}


{% block seo %}
  {{ super() }}

  {% set title = 'Contact Bionic GPT Team' %}
  {% set description = 'We&apos;re available to answer any questions' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description,
    main_image_url='/github-readme.png'
  ) }}
{% endblock seo %}

{% block content %}

<section class="mt-4 text-center">
    <h1 class="text-4xl font-extrabold mt-4">Reach Out!</h1>
    <h2 class="text-2xl font-bold mt-4">Send us an email. 
        We're excited to hear about your LLM use cases.</h2>
    <h3 class="text-2xl font-bold mt-4">founders@bionic-gpt.com</h3>

    <div class="mx-auto lg:flex flex-row mt-6 lg:mt-8 mb-8 justify-center">
        <div class="text-center p-2">
            <p><img src="/contact-us/dio.jpeg" width="150" height="150" /></p>
            <h5>Kulbinder Dio - CEO</h5>
            <span><a href="https://www.linkedin.com/in/kulbinderdio/">Linked In</a></span>
        </div>
        <div class="text-center p-2">
            <img src="/contact-us/ian.jpeg" width="150" height="150" />
            <h5>Ian Purton - CTO</h5>
            <span><a href="https://www.linkedin.com/in/ianpurton/">Linked In</a></span>
        </div>
    </div>
</section>
{% endblock content %}