{% extends "base.html" %}


{% block extra_head %}
<meta property="og:type" content="website" />
<meta property="og:title" content="BionicGPT is an on-premise replacement for ChatGPT" />
<meta property="og:description" content="All the productivity benefits of Generative AI with strict data confidentiality" />
<meta property="og:image" content="/github-readme.png" />
<meta name="description" content="All the productivity benefits of Generative AI with strict data confidentiality">
{% endblock extra_head %}

{% block content %}
<section class="col-10 mx-auto content d-flex flex-content-center flex-column mt-4 mt-md-8 text-center">
  <h1 class="h3-mktg mb-4">BionicGPT is an on-premise replacement for ChatGPT</h1>
  <h2 class="h6-mktg color-fg-muted mb-4">All the productivity benefits of Generative AI with strict data confidentiality
  </h2>
  <div class="mb-4">
    <a class="btn-mktg mr-1" href="{{config.extra.every_page_cta.cta_url}}">Get Started</a>
  </div>
  <div>
    <img alt="Bionic LLama" width="50%" src="bionic-llama.png" />
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-md-flex flex-row mt-6 mt-lg-12 pb-6">
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Imagine ChatGPT running in your enterprise without leaking your confidential data</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">Give your teams the ability to boost their productivity with generative AI.</h4>
      <p>Only when you add your data to an LLM do you see how transformative AI can be.</p>
      <p>From company confidential down to privacy on a team by team basis we have you covered.</p>
    </div>
    <img class="col-md-6 ml-lg-4 color-shadow-large" alt="Cream" src="/github-readme.png" />
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/resource-augmented-generation.png" />
    <div class="col-md-6 pl-4">
      <h2 class="h5-mktg mb-6">Your data can enhance the AI's performance in many tasks</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        BionicGPT supports retrieval augmented generation (RAG).
      </h4>
      <p>Upload your documents and boost the AI's ability to answer questions.</p>
      <p>80% of enterprise data exists in difficult-to-use formats like HTML, PDF, CSV, PNG, PPTX, and more. </p>
      <p>BionicGPT effortlessly extracts and transforms complex data and makes it available to the AI.</p>
      <p>We also support for optical character recognition (coming soon).</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-md-flex flex-row pt-6 pb-12">
    <div class="col-md-6 pl-4">
      <h2 class="h5-mktg mb-6">Teams can manage their own documents and data access</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        Your teams know best which documents they need to power generative AI.
      </h4>
      <p>Teams have the ability to manage their own datasets</p>
      <p>Data is private to the team</p>
      <p>Teams can manage themselves and invite colleagues.</p>
    </div>
    <img class="col-md-6 pr-4" alt="Cream" src="/teams.png" />
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/model-integration.png" />
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">BionicGPT is model Agnostic</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        BionicGPT works with whichever LLM you want and can support multiple models
        from the same user interface.
      </h4>
      <p>We can run on any model that supports the OpenAI API.</p>
      <p>Deploy your own fine tuned models</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-md-flex flex-row pt-6 pb-12">
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Our Data Pipeline integrates with over 300 data sources</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        We've integrated with Airbyte to leverage the largest catalog of connectors
        in the industry
      </h4>
      <p>
        The pipeline waits for documents to change and automatically 
        adds them to our vector database.
      </p>
      <p>
        If you don't want to use Airbyte or need a custom solution our
        data pipeline can monitor data storage using the S3 protocol.
      </p>
    </div>
    <img class="col-md-6 ml-lg-4" alt="Cream" src="/airbyte.png" />
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/bionicgpt-laptop.jpg" />
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Launch a proof of concept in a day</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        Test your potential use cases on hardware you already have 
        without triggering any purchase orders.

      </h4>
      <p>We have BionicGPT running on a laptop without a GPU.</p>
      <p>We can use quantized 7B models that run in around 5GB of ram.</p>
      <p>Despite the low resources we get surprisingly good answers from the LLM (sometimes).</p>
      <p>When you're ready for production BionicGPT can scale to any workload.</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <div class="col-md-6 mr-lg-4">
      <h2 class="h5-mktg mb-6">Deploy an API internally</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        BionicGPT provides an API end point connected to your data and models
      </h4>
      <p>There are serveral use cases for this such as...</p>
      <p>Customer chat bot that can answer support questions</p>
      <p>Internal chat bots such as human resources</p>
    </div>
    <img class="col-md-6 ml-lg-4" alt="Cream" src="/api.png" />
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/custom-hardware.png" />
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Not sure what hardware you need?</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        We can build a custom hardware solution for your requirements.
      </h4>
      <p>We can help match the models with the correct hardware to meet your workload.</p>
      <p>You can potentially save $1000's by not over purchasing on hardware.</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <div class="col-md-6 mr-lg-4">
      <h2 class="h5-mktg mb-6">Open source under a permissive licence</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        No need to worry about purchase orders or sales calls
      </h4>
      <p>If you so wish you can install and manage BionicGPT yourself without any restrictions.</p>
      <p>
        Developing in the open means you can influence the future direction
        of BionicGPT and even contribute changes.
      </p>
    </div>
    <img class="col-md-6 ml-lg-4" alt="Cream" src="/github.png" />
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Enterprise LLama" src="/enterprise-llama.jpg" />
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Enterprise Ready</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        Built by people with experience running applications in the enterprise.
      </h4>
      <p>Support contracts available</p>
      <p>Consultancy is available on any aspect of your LLM journey.</p>
      <p>Full support for Single Sign On (SSO).</p>
      <p>Built from the ground up to run natively on Kubernetes.</p>
    </div>
  </div>
</section>

<section class="color-bg-success p-2 p-lg-6 pt-4 pt-lg-0">
  <h2 class="text-center mb-4 h5-mktg">Features</h2>
  <div class="container-lg clearfix">
    <div class="col-sm-12 col-md-6 float-left p-4">
      <h4 class="h5-mktg">Used in production in big and small companies</h4>
      <p class="mt-3">Scales from bootstrappers to whole teams</p>
      <p>Implements the full software lifecycle.</p>
    </div>
    <div class="col-sm-12 col-md-6 float-left p-4">
      <h4 class="h5-mktg">We welcome contributions and feedback</h4>
      <p class="mt-3">Completely open source under an MIT licence</p>
      <p>Hosted on Github and developed in the open</p>
    </div>
  </div>
</section>

{% if config.extra.footer_cta %}
<section class="d-flex flex-content-center flex-column mt-8 mb-8 text-center pl-1 pr-1">
  <h3 class="mb-3">{{config.extra.every_page_cta.title}}</h3>
  {% if config.extra.every_page_cta.cta_url %}
  <p><a class="btn-mktg"
      href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
    {% if sign_up_url %}
    <p><a class="btn-mktg" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
    {% endif %}
  {% endif %}
</section>
{% endif %}
{% endblock content %}