{% extends "base.html" %}

{% block content %}
<section class="col-10 mx-auto content d-flex flex-content-center flex-column mt-4 mt-md-12 text-center">
  <h1 class="h3-mktg mb-4">Accelerate LLM adoption in your organisation</h1>
  <h2 class="h6-mktg color-fg-muted mb-4">Chat with your confidential data safely and securely.
    Your data never leaves your premises.
  </h2>
  <div class="mb-4">
    <a class="btn-mktg mr-1" href="{{config.extra.every_page_cta.cta_url}}">Get Started</a>
  </div>
  <div>
    <img alt="Bionic LLama" width="50%" src="bionic-llama.png"></img>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-md-flex flex-row mt-6 mt-lg-12 pb-6">
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Imagine ChatGPT running in your enterprise and fully respecting data privacy</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">Give your teams the ability to boost their productivity with generative AI.</h4>
      <p>Full control over data governance</p>
      <p>Role based access control</p>
    </div>
    <img class="col-md-6 ml-lg-4 color-shadow-large" alt="Cream" src="/github-readme.png"></img>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/resource-augmented-generation.png"></img>
    <div class="col-md-6 pl-4">
      <h2 class="h5-mktg mb-6">Chat with your private documents</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        BionicGPT supports document uploading in many formats.
      </h4>
      <p>80% of enterprise data exists in difficult-to-use formats like HTML, PDF, CSV, PNG, PPTX, and more. </p>
      <p>BionicGPT effortlessly extracts and transforms complex data.</p>
      <p>Support for optical character recognition (coming soon)</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-md-flex flex-row pt-6 pb-12">
    <div class="col-md-6 pl-4">
      <h2 class="h5-mktg mb-6">Teams can manage their own documents and data access</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        Your teams know best which documents they need to power generative AI.
      </h4>
      <p>Teams have the ability to manage their own datasets</p>
      <p>Data is private to the team</p>
      <p>Teams can manage themselves and invite colleagues.</p>
    </div>
    <img class="col-md-6 pr-4" alt="Cream" src="/teams.png"></img>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/model-integration.png"></img>
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">BionicGPT is model Agnostic</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        BionicGPT works with whichever LLM you want and can support multiple models
        from the same user interface.
      </h4>
      <p>We can run on any model that supports the OpenAI API.</p>
      <p>Deploy your own fine tuned models</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-md-flex flex-row pt-6 pb-12">
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Fully implemented Data Pipelines</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        BionicGPT comes complete with a full data pipeline to ease integration within your enterprise
      </h4>
      <p>We can connect via the S3 protocol to documents on network storage</p>
      <p>How to incorporate open telemetry (coming soon)</p>
    </div>
    <img class="col-md-6 ml-lg-4" alt="Cream" src="/document-pipeline.png"></img>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/bionicgpt-laptop.jpg"></img>
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">You can launch a proof of concept in a day</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        We use the latest in quantized LLM's so that you can try out use cases
        without requiring a hardware purchase.
      </h4>
      <p>Deploying to Kubernetes</p>
      <p>How to incorporate open telemetry (coming soon)</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <div class="col-md-6 mr-lg-4">
      <h2 class="h5-mktg mb-6">Develop your own applications with our API</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        Very permissive licensing model
      </h4>
      <p>Get up and running without fear of issues down the line</p>
    </div>
    <img class="col-md-6 ml-lg-4" alt="Cream" src="/api.png"></img>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Cream" src="/custom-hardware.png"></img>
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Not sure what hardware you need?</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        We can build a custom hardware solution for your requirements.
      </h4>
      <p>Deploying to Kubernetes</p>
      <p>How to incorporate open telemetry (coming soon)</p>
    </div>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <div class="col-md-6 mr-lg-4">
      <h2 class="h5-mktg mb-6">Complete open source under a permissive licence</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        No need to worry about purchase orders or sales calls
      </h4>
      <p>You can fully manage BionicGPT yourself wihtout nay issues.</p>
      <p>Contribute chnages and raise issues on our Github.</p>
    </div>
    <img class="col-md-6 ml-lg-4" alt="Cream" src="/github.png"></img>
  </div>
</section>

<section>
  <div class="col-10 mx-auto content d-flex flex-column-reverse flex-lg-row pt-lg-6 pb-6">
    <img class="col-md-6 mr-lg-4" alt="Enterprise LLama" src="/enterprise-llama.jpg"></img>
    <div class="col-md-6 pr-4">
      <h2 class="h5-mktg mb-6">Enterprise Ready</h2>
      <h4 class="h6-mktg color-fg-muted mb-6">
        Built by people with experience running applications in the enterprise.
      </h4>
      <p>Support contracts available</p>
      <p>Full support for Single Sign On (SSO)</p>
      <p>Built from the ground up to run natively on Kubernetes</p>
    </div>
  </div>
</section>

<section class="color-bg-success p-2 p-lg-6 pt-4 pt-lg-0">
  <h2 class="text-center mb-4 h5-mktg">Features</h2>
  <div class="container-lg clearfix">
    <div class="col-sm-12 col-md-6 float-left p-4">
      <h4 class="h5-mktg">Used in production in big and small companies</h4>
      <p class="mt-3">Scales from bootstrappers to whole teams</p>
      <p>Implements the full software lifecycle.</p>
    </div>
    <div class="col-sm-12 col-md-6 float-left p-4">
      <h4 class="h5-mktg">We welcome contributions and feedback</h4>
      <p class="mt-3">Completely open source under an MIT licence</p>
      <p>Hosted on Github and developed in the open</p>
    </div>
  </div>
</section>

{% if config.extra.footer_cta %}
<section class="d-flex flex-content-center flex-column mt-8 mb-8 text-center pl-1 pr-1">
  <h3 class="mb-3">{{config.extra.every_page_cta.title}}</h3>
  {% if config.extra.every_page_cta.cta_url %}
  <p><a class="btn-mktg"
      href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
    {% if sign_up_url %}
    <p><a class="btn-mktg" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
    {% endif %}
  {% endif %}
</section>
{% endif %}
{% endblock content %}