{%- import 'macros/heros.html' as macros_hero -%}
{%- import 'macros/features.html' as macros_features -%}
{%- import 'macros/cta.html' as macros_cta -%}

{% extends "base.html" %}


{% block seo %}
  {{ super() }}

  {% set title = 'A Full Enterprise Grade LLM stack' %}
  {% set description = 'An Open Source No Code solution with full support for Retrieval Augmented Generation, built by people with years of experience in AI and enterprise software development.' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description,
    main_image_url='https://bionic-gpt.com/github-readme.png'
  ) }}
{% endblock seo %}

{% block content %}


<div class="flex flex-col items-center">

  {{ macros_hero::image_hero(
    title='A Full Enterprise Grade LLM stack that 
      deploys in minutes on your laptop and scales to the cloud', 
    sub_title='An Open Source No Code solution with full support for Retrieval Augmented Generation, 
      built by people with years of experience in AI and enterprise software development.',
      cta1='Read the Documentation',
      cta1_url='/docs',
      cta2='Watch the Demo (Coming soon)',
      cta2_url='#'
  ) }}



  {{ macros_features::image_feature(
    title='The full stack ready to run', 
    sub_title='Accelerate Generative AI Adoption',
    text='Go from idea to proof of concept in minutes',
    title1='Prompt Engineering.',
    text1='The prompt is where it all starts. With BionicGPT you can have multiple prompts per team and per user.',
    title2='Retreival Augmented Generation.',
    text2="We've implemented a complete RAG pipeline with sensible defaults. Chunking, 
      Embeddings, Vector Database, all taken care of.",
    title3="API's.",
    text3='Once your happy with your prompt and RAG setup deploy it as an API for other 
      applications to use. i.e. Chat bot.',
    image='/github-readme.png'
  ) }}



  {{ macros_features::quad_feature(
    title='Deploy one of our models or integrate with any provider', 
    sub_title='Cloud VS On Premise',
    text='We fully support both options and can integrate with any provider',
    title1='Open Source Quantized Models.',
    text1='We integrate seemlessly with most open source AI models and out of the 
      box we run against LLama 2 7B.',
    title2='Google, Amazon, Azure...',
    text2='If you choose to use a provider either from the publi cloud or via a 
      private cloud with have integrations with all the main suppliers.',
    title3="Multiple Models",
    text3='We can run against more than 1 model at a time allowing you to test use
      cases by easily switching between models',
    title4="Hybrid",
    text4='Perhaps you have a mixture of use cases some private some not so. 
      We support connecting to models from both areas.'
  ) }}


  {{ macros_features::image_feature(
    title='A Team Based Approach', 
    sub_title='Innovation works better in teams',
    text='Build Augment and Share Prompts',
    title1='Segmented Data.',
    text1="Teams manage their own data and can decide how best to share it. 
      Data is segregated at the database level.",
    title2='Self Manage Teams.',
    text2='There are no restriction on the number of teams and teams are self managed.
      Team administrators can add new users.',
    title3="Role Based Access Control",
    text3='Teams can manage the roles a user has from contributer to adminsitraor. A central
      system administrator role can manage the whole system.',
    image='landing-page/teams.png'
  ) }}


  {{ macros_features::small_image_feature(
    title='Ingest data wherever or whatever it is', 
    sub_title='Integration with over 300 Data Sources',
    text='We integrate with Airbyte and leverage hundreds of data adapters. We then
      take that data and split it into chunks before creating embeddings.',
    image='/landing-page/airbyte.png'
  ) }}


  {{ macros_features::image_feature(
    title='Open Source & Enterprise Ready', 
    sub_title='Enterprise Level Features',
    text='And of course industry leading security',
    title1='SSO and Siem',
    text1='Our modular architecture allows us to adapt to your authentication and security needs.',
    title2='Support Contracts.',
    text2='Peace of mind knowing that the project maintainers are on call to help with your success.',
    title3="Consultancy",
    text3='We also can help with the full lifecycle of your Generative AI project. 
      Trust the experts.',
    image='landing-page/github.png'
  ) }}


  {{ macros_features::small_image_feature(
    title='Ingest data wherever or whatever it is', 
    sub_title='Kubernetes Native',
    text='We integrate with Airbyte and leverage hundreds of data adapters. We then
      take that data and split it into chunks before creating embeddings.',
    image='/landing-page/architecture.svg'
  ) }}

</div>

<div class="flex flex-col items-center mb-6">
  {{ macros_cta::footer_cta(
    title="You're seconds away from trying us out", 
    cta1='Read the Documentation',
    cta1_url='/docs'
  ) }}
</div>
{% endblock content %}