{%- import 'macros/pricing.html' as macros_pricing -%}
{%- import 'macros/cta.html' as macros_cta -%}

{% extends "base.html" %}

{% block seo %}
{{ super() }}

{% set title = 'The pricing page' %}
{% set description = 'Show how much we charge' %}

{{ macros_head::seo(
title=title,
description=description
) }}
{% endblock seo %}

{% block content %}


<div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Pricing</h2>
      <p class="mt-6 text-lg leading-8">
        Bionic works best when it's integrated with your systems.
        We offer packages to integrate Bionic with your Operations, Compliance and Security. 
      </p>
    </div>
  </div>
</div>

<div class="mx-auto lg:flex lg:flex-row justify-center gap-4 lg:max-w-5xl w-full p-5">
  <div class="card card-bordered lg:w-1/3">
    <div class="card-body flex flex-col justify-between list-tick">
      <div class="flex flex-col gap-3">
        <h3 class="card-title">Cloud</h3>
        <span class="badge badge-primary badge-outline">Free Forever</span>
        <p>Ideal for evaluating Bionic and testing RAG use cases.</p>
        <h4 class="font-extrabold">Generative AI</h4>
        <ul>
          <li>Code and Text Generation</li>
          <li>Role based access control</li>
          <li>Chat History</li>
        </ul>
        <h4 class="font-extrabold">Retrieval Augmented Generation</h4>
        <ul>
          <li>All major document formats processed.</li>
          <li>Automated chunking and vector generation.</li>
        </ul>
        <h4 class="font-extrabold">Open AI Compatible API</h4>
        <ul>
          <li>Track and monitor API usage.</li>
          <li>Share models between projects.</li>
          <li>Key creation and revocation.</li>
        </ul>
        <h4 class="font-extrabold">Document Pipelines</h4>
        <ul>
          <li>Batch or stream document processing.</li>
          <li>100s of sources.</li>
        </ul>
      </div>
      <div class="mt-5 flex flex-col gap-2">
        <hr />
        <h3 class="font-extrabold">Free</h3>

        <a href="/docs" class="btn btn-secondary btn-outline">
          Get Started
        </a>
      </div>
    </div>
  </div>
  <div class="card card-bordered lg:w-1/3">
    <div class="card-body flex flex-col justify-between list-tick">
      <div class="flex flex-col gap-3">
        <h3 class="card-title">Encrypted Cloud</h3>
        <span class="badge badge-primary badge-outline">Secure Compute</span>
        <p>Runs in our secure enclave with end to end encryption</p>
        <h4 class="font-extrabold">Everything from Cloud Edition and...</h4>
        <ul>
          <li>Secure enclave running CPU resources.</li>
          <li>Secure enclave running GPU resources.</li>
          <li>Fully siloed and security hardenend.</li>
        </ul>
        <h4 class="font-extrabold">Maximum Data Protection</h4>
        <ul>
          <li>Built for running Generative AI on highly confidential data.</li>
          <li>Hardware based secure compute thanks to our partnership with Nvida and Google.</li>
          <li>Provable supply chain with server attestation.</li>
        </ul>
      </div>
      <div class="mt-5 flex flex-col gap-2">
        <hr />
        <h3 class="font-extrabold">Coming Soon</h3>

        <a href="/docs" class="btn btn-secondary btn-outline">
          Book a Call
        </a>
      </div>
    </div>
  </div>
  <div class="card card-bordered lg:w-1/3">
    <div class="card-body flex flex-col justify-between list-tick">
      <div class="flex flex-col gap-3">
        <h3 class="card-title">On Premise / Private Cloud</h3>
        <span class="badge badge-primary badge-outline">Enterprise Edition</span>
        <p>On Premise or Private Cloud</p>
        <h4 class="font-extrabold">Everything from Cloud Edition and Encrypted Cloud...</h4>
        <ul>
          <li>Maximum privacy and security.</li>
          <li>Support for running on bare metal.</li>
          <li>Single Sign On.</li>
        </ul>
        <h4 class="font-extrabold">Support</h4>
        <ul>
          <li>Hardware recommendations.</li>
          <li>Possibility of custom builds.</li>
          <li>Dedicated customer success and engineering resources.</li>
          <li>Custom Integrations.</li>
          <li>Custom SLAs and support.</li>
        </ul>
      </div>

      <div class="mt-5 flex flex-col gap-2">
        <hr />
        <h3 class="font-extrabold">Custom Pricing</h3>

        <a href="/docs" class="btn btn-secondary btn-outline">
          Book a Call
        </a>
      </div>
    </div>
  </div>
</div>


{% include "extra_footer.html" %}

{% endblock content %}
