{%- import 'macros/pricing.html' as macros_pricing -%}

{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% set title = 'The services we provide' %}
  {% set description = 'Our services and pricing' %}
  
  {{ macros_head::seo(
    title=title, 
    description=description
  ) }}
{% endblock seo %}

{% block content %}


<div class="flex flex-col items-center">

  {{ macros_pricing::pricing_hero(
    title='Simple no-tricks pricing', 
    sub_title="Do it yourself or let us help, it's your choice."
  ) }}

  {{ macros_pricing::pricing_item(
    title='Self Managed', 
    price='$0',
    sub_title1="Do it yourself or let us help, it's your choice.",
    sub_title2="Pay once, own it forever",
    sub_title3="Invoices and receipts available for easy company reimbursement"
  ) }}

  {{ macros_pricing::pricing_item(
    title='Peace of Mind', 
    price='$40,000 per year',
    sub_title1="Full on, can do, deep technical support.",
    sub_title2="Pay once, own it forever",
    sub_title3="Invoices and receipts available for easy company reimbursement"
  ) }}

  {{ macros_pricing::pricing_item(
    title='Consulting', 
    price='$2000 per day',
    sub_title1="Do it yourself or let us help, it's your choice.",
    sub_title2="Pay once, own it forever",
    sub_title3="Invoices and receipts available for easy company reimbursement"
  ) }}
</div>

{% if config.extra.footer_cta %}
<section class="d-flex flex-content-center flex-column mt-8 mb-8 text-center pl-1 pr-1">
  <h3 class="mb-3">{{config.extra.every_page_cta.title}}</h3>
  {% if config.extra.every_page_cta.cta_url %}
  <p><a class="btn-mktg"
      href="{{config.extra.every_page_cta.cta_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
  {% else %}
    {% if sign_up_url %}
    <p><a class="btn-mktg" href="{{sign_up_url}}">{{config.extra.every_page_cta.cta_button}}</a></p>
    {% endif %}
  {% endif %}
</section>
{% endif %}
{% endblock content %}