apiVersion: bionic-gpt.com/v1
kind: Bionic
metadata:
  name: bionic-gpt
  namespace: bionic-gpt 
spec:
  replicas: 1 
  version: 1.11.59
  
  # PgAdmin - Uncomment to install PgAdmin
  # pgadmin: true
  # TGI GPU inference engine
  # gpu: true
  # Testing mode
  # testing: true

  # Use by Oauth2 proxy to know where to redirect and also keycloak (if installed)
  # to know how to set the openid configuration
  hostname-url: https://localhost

  # Image hashes to protect against supply chain attacks.
  hash-bionicgpt: sha256:4c4124a0503cee1fd062410a8dac97eae4e0bbb0beb1eb1170f8806ef30984a6
  hash-bionicgpt-rag-engine: sha256:bb75a31196eda7fcc5ae820f27fc9c2653b58d5904e98f8f116e952e32189318
  hash-bionicgpt-db-migrations: sha256:bb76a6235103fa253a0b3c25e2806110a9f5c99c838a9742c0581ce2634c19e9