apiVersion: bionic-gpt.com/v1
kind: Bionic
metadata:
  name: bionic-gpt
  namespace: bionic-gpt 
spec:
  replicas: 1 
  version: 1.11.55
  
  # PgAdmin - Uncomment to install PgAdmin
  # pgadmin: true
  # TGI GPU inference engine
  # gpu: true
  # Testing mode
  # testing: true

  # Use by Oauth2 proxy to know where to redirect and also keycloak (if installed)
  # to know how to set the openid configuration
  hostname-url: https://localhost

  # Image hashes to protect against supply chain attacks.
  hash-bionicgpt: sha256:5535777c4714e96e29088d21b362748c9b258626942e1db67b31d36b00c93127
  hash-bionicgpt-rag-engine: sha256:eb3a0c01a344cb12495da90f1fd4adf7bfed9a0e8df5557a78ea24be6a81af91
  hash-bionicgpt-db-migrations: sha256:d08382f737757613902e46f6b8d1faff2d8529109873b26b2a52bf86c0745e5e