apiVersion: bionic-gpt.com/v1
kind: Bionic
metadata:
  name: bionic-gpt
  namespace: bionic-gpt 
spec:
  replicas: 1 
  version: 1.11.56
  
  # PgAdmin - Uncomment to install PgAdmin
  # pgadmin: true
  # TGI GPU inference engine
  # gpu: true
  # Testing mode
  # testing: true

  # Use by Oauth2 proxy to know where to redirect and also keycloak (if installed)
  # to know how to set the openid configuration
  hostname-url: https://localhost

  # Image hashes to protect against supply chain attacks.
  hash-bionicgpt: sha256:bd1cfcbeaee96c13da24304e32074ab26fbffb3331ec959417573c01915d8cfe
  hash-bionicgpt-rag-engine: sha256:9e24e99582eaea2e9829a71e7c051df6d43620cbc81795b0caf1105f4889f632
  hash-bionicgpt-db-migrations: sha256:b4fc7b1fea60432a18cc44d9b99f516e5c5b5550a9927ac066e8fd4e2bd8e3fe