apiVersion: bionic-gpt.com/v1
kind: Bionic
metadata:
  name: bionic-gpt
  namespace: bionic-gpt 
spec:
  replicas: 1 
  version: 1.11.57
  
  # PgAdmin - Uncomment to install PgAdmin
  # pgadmin: true
  # TGI GPU inference engine
  # gpu: true
  # Testing mode
  # testing: true

  # Use by Oauth2 proxy to know where to redirect and also keycloak (if installed)
  # to know how to set the openid configuration
  hostname-url: https://localhost

  # Image hashes to protect against supply chain attacks.
  hash-bionicgpt: sha256:7caf56e7eb7c5627ed62e931bc11b7e264ada3d4a0564f1a8520a0c7f7152e30
  hash-bionicgpt-rag-engine: sha256:4ccd13b906ccf68f17d6034fb348a44f0eaf6edaf95140b11f03b6ce0c4b7021
  hash-bionicgpt-db-migrations: sha256:bdd8dbb899e31ca9d6fea74559a5d249826650b87e9857bd65625d9a473427ca