apiVersion: bionic-gpt.com/v1
kind: Bionic
metadata:
  name: bionic-gpt
  namespace: bionic-gpt 
spec:
  replicas: 1 
  version: 1.5.32
  
  # Enterprise Options
  # enterprise-key: EMAIL_US_FOR_A_KEY
  # enterprise-user: your_email@your_work_address.com
  # enterprise-expiry: Expiry date of your key (For trial users)

  # Use by Oauth2 proxy to know where to redirect and also keycloak (if installed)
  # to know how to set the openid configuration
  hostname-url: https://localhost

  # Image hashes to protect against supply chain attacks.
  hash-bionicgpt: sha256:4e3499893d5b3d3b5723b4cadfa24de3c4ebb418e4c0e64332e2c4dd9cce1ced
  hash-bionicgpt-pipeline-job: sha256:15346f6a5fc1e0249623815a2624ed6355288de817b861377d62e23c57e5ec10
  hash-bionicgpt-db-migrations: sha256:625fdfeffdba983c9ff39eb39ba60daa64da78d80a221a530de06be9b4715e3a