apiVersion: bionic-gpt.com/v1
kind: Bionic
metadata:
  name: bionic-gpt
  namespace: bionic-gpt 
spec:
  replicas: 1 
  version: 1.11.60
  
  # PgAdmin - Uncomment to install PgAdmin
  # pgadmin: true
  # TGI GPU inference engine
  # gpu: true
  # Testing mode
  # testing: true

  # Use by Oauth2 proxy to know where to redirect and also keycloak (if installed)
  # to know how to set the openid configuration
  hostname-url: https://localhost

  # Image hashes to protect against supply chain attacks.
  hash-bionicgpt: sha256:9b6ac711ab06e7e8fd16f692cc6451954ecf8052bd1d3aa6a164f5784f4e53d6
  hash-bionicgpt-rag-engine: sha256:f87b1197d3cba41091b6e0e53ff89dffb5cc51b62e491c91fa5f82eef760607f
  hash-bionicgpt-db-migrations: sha256:aa0cbf77d4e765cf040f103431aba4b448e230e8d8381b27f0e1f5402168bed1