name: Integration Testing K3s

on:
  workflow_dispatch: # Triggers the workflow manually

jobs:

  integration_testing:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      FORCE_COLOR: 1

    steps:
    - uses: actions/checkout@v4

    - name: Get latest release info
      id: get_latest_release
      run: |
        latest_release=$(curl  "https://api.github.com/repos/bionic-gpt/bionic-gpt/tags" | jq -r '.[0].name')
        echo "::set-output name=latest_release::$latest_release"
        
    - name: Install K3s
      run: |
        sudo curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC='server --write-kubeconfig-mode="644" --disable traefik' sh -
        mkdir -p ~/.kube
        cp /etc/rancher/k3s/k3s.yaml ~/.kube/config && sed -i "s,127.0.0.1,$(hostname -I | awk '{print $1}'),g" ~/.kube/config
      
    - name: Check Kubernetes Node
      run: |
        kubectl get node

    - name: Install Bionic CLI
      run: |
        export BIONIC_VERSION=${{ steps.get_latest_release.outputs.latest_release }}
        curl -OL https://github.com/bionic-gpt/bionic-gpt/releases/download/${BIONIC_VERSION}/bionic-cli-linux
        chmod +x ./bionic-cli-linux
        sudo mv ./bionic-cli-linux /usr/local/bin/bionic
        bionic -V
    
    - name: Install Bionic Application into Kubernetes
      run: |
        export HOST_IP_ADDRESS=$(hostname -I | awk '{print $1}')
        echo $HOST_IP_ADDRESS
        bionic install --testing --hostname-url https://$HOST_IP_ADDRESS

    - name: Run Selenium
      run: |
        docker run -d -p 4444:4444 \
          -p 5900:5900 \
          --shm-size="2g" \
          --network host \
          -v ./crates/integration-testing/files:/workspace \
          selenium/standalone-chrome:latest

    - name: Pull Selenium Video
      run: |
        docker pull selenium/video:ffmpeg-4.3.1-20220208

    - name: Install Cornucopia
      run: |
        curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
        cargo binstall --version 0.9.0 cornucopia -y

    - name: Wait for All the Pods
      run: |
        sleep 60

    - name: Check if pods are running
      run: |
        kubectl get pods -n bionic-gpt
        kubectl wait  --timeout=120s --for=condition=ready -n bionic-gpt pod/bionic-db-cluster-1
        kubectl wait  --timeout=120s --for=condition=ready -n bionic-gpt pod/keycloak-db-cluster-1
        kubectl wait  --timeout=120s --for=condition=ready pod -l app=bionic-gpt -n bionic-gpt
        kubectl wait  --timeout=120s --for=condition=ready pod -l app=keycloak -n bionic-gpt
        kubectl wait  --timeout=120s --for=condition=ready pod -l app=oauth2-proxy -n bionic-gpt
        kubectl wait  --timeout=120s --for=condition=ready pod -l app=pipeline-job -n bionic-gpt
        kubectl get pods -n bionic-gpt

    - name: Curl the cluster
      run: |
        export HOST_IP_ADDRESS=$(hostname -I | awk '{print $1}')
        curl -k https://$HOST_IP_ADDRESS

    - name: Run the integrations tests
      run: |
        kubectl -n bionic-gpt port-forward --address 0.0.0.0 pod/bionic-db-cluster-1 5432 &
        kubectl -n bionic-gpt port-forward --address 0.0.0.0 deployment/mailhog 8025 &

        export DATABASE_URL=$(kubectl get secret database-urls -n bionic-gpt -o jsonpath="{.data.migrations-url}" | base64 --decode | sed "s/bionic-db-cluster-rw/localhost/; s/\?sslmode=require//")
        export APP_DATABASE_URL=$DATABASE_URL
        echo $DATABASE_URL

        mkdir -P /tmp
        docker run -d --name video \
          -e DISPLAY_CONTAINER_NAME=build_selenium_1 \
          -e FILE_NAME=chrome-video.mp4 \
          -v /tmp:/videos selenium/video:ffmpeg-4.3.1-20220208

        export HOST_IP_ADDRESS=$(hostname -I | awk '{print $1}')
        export WEB_DRIVER_URL=http://localhost:4444
        cd crates/integration-testing
        cargo test -- --nocapture
